black==24.10.0
flake8==7.1.1
freezegun==1.5.1
isort==5.13.2
mypy==1.14.1
pytest==8.3.4
pytest-cov==6.0.0
pytest-vcr==1.0.2
requests-mock==1.12.1
types-freezegun==1.1.10
types-requests==2.31.0.6
vcrpy==7.0.0
