interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/identity_events?limit=2&identity_id=IDKWLi_wUoTty6WXXg9xfKFQ&type=created
  response:
    body:
      string: '{"items":[{"id":"IEJM5U_vJXSkOZt0Td7acoBQ","identity_id":"IDKWLi_wUoTty6WXXg9xfKFQ","new_model":{"id":"IDKWLi_wUoTty6WXXg9xfKFQ","created_at":"2022-02-04T22:32:07.350036","names":"Manuel","first_surname":"Avalos","second_surname":"Tovar","curp":"AATM970329HDFVVN05","rfc":null,"gender":"male","date_of_birth":"1997-03-29","state_of_birth":"DF","nationality":"MX","country_of_birth":"MX","status":"active","tos_agreement":null,"blacklist_validation_status":null,"address":null,"govt_id":null,"proof_of_address":null,"proof_of_life":null},"type":"created","created_at":"2022-02-04T22:32:07.350000"}],"next_page_uri":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.093'
      x-amz-apigw-id:
      - NSUGxF7PCYcFSJA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '619'
      x-amzn-Remapped-Date:
      - Wed, 09 Feb 2022 17:57:37 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - c6cfd83e-524b-4cb6-8318-81bfcd5e99cc
    status:
      code: 200
      message: OK
version: 1
