interactions:
- request:
    body: '{"account_number": "646180157034181180", "amount": 10000, "descriptor":
      "Mi primer transferencia", "recipient_name": "Rogelio Lopez", "idempotency_key":
      "my_custom_id"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/transfers
  response:
    body:
      string: '{"id":"TRykH9-lXrS6iJocclOl4ATQ==","created_at":"2020-05-11T18:41:00.332534","updated_at":"2020-05-11T18:41:00.352103","account_number":"646180157034181180","recipient_name":"Rogelio
        Lopez","amount":10000,"descriptor":"Mi primer transferencia","idempotency_key":"my_custom_id","status":"pending","network":null,"tracking_key":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - MYVZbGDfIAMFogw=
      x-amzn-RequestId:
      - b488f64c-4a76-4a45-9405-301ae5456791
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/transfers/TRykH9-lXrS6iJocclOl4ATQ==
  response:
    body:
      string: '{"id":"TRykH9-lXrS6iJocclOl4ATQ==","created_at":"2020-05-11T18:41:00.332000","updated_at":"2020-05-11T18:41:01.352000","account_number":"646180157034181180","recipient_name":"Rogelio
        Lopez","amount":10000,"descriptor":"Mi primer transferencia","idempotency_key":"my_custom_id","status":"succeeded","network":"internal","tracking_key":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - MYV0UGTUIAMFZRQ=
      x-amzn-RequestId:
      - 6904c847-bb49-4ac7-bdcc-b2f97d201602
    status:
      code: 200
      message: OK
version: 1
