interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/service_providers/SP01
  response:
    body:
      string: '{"id":"SP01","created_at":"2020-10-05T00:00:48.020000","name":"Telcel","provider_key":"topup_telcel","categories":["mobile_telephone_prepaid"]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - T9jlZE16IAMFybg=
      x-amzn-RequestId:
      - 55e6aec9-7e04-4158-a418-478cc49101d4
    status:
      code: 200
      message: OK
version: 1
