interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/api_keys/AKSMPzsvVPROyLZhkwcOtHxA
  response:
    body:
      string: '{"id":"AKSMPzsvVPROyLZhkwcOtHxA","created_at":"2021-01-11T17:19:39.727266","secret":"********","deactivated_at":"2212-09-07T17:03:29.829384","user":{"id":"USiBeLDwEWT_inkyE4CrRsrQ","created_at":"2020-12-07T18:45:55.641544"},"metadata":null,"updated_at":"2021-01-11T17:03:29.829434","user_id":"USiBeLDwEWT_inkyE4CrRsrQ"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Y_pRHGCmCYcFqnQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '319'
      x-amzn-Remapped-Date:
      - Mon, 11 Jan 2021 17:20:19 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 2b492a98-e615-482d-aa15-aa189acfdfe7
      x-amzn-RequestId:
      - 2f469509-1392-47bf-acda-370926fbf0e0
    status:
      code: 200
      message: OK
- request:
    body: '{"minutes": 0}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: DELETE
    uri: https://sandbox.cuenca.com/api_keys/AKSMPzsvVPROyLZhkwcOtHxA
  response:
    body:
      string: '{"id":"AKSMPzsvVPROyLZhkwcOtHxA","created_at":"2021-01-11T17:19:39.727266","secret":"********","deactivated_at":"2021-01-11T17:20:20.127314","user":{"id":"USiBeLDwEWT_inkyE4CrRsrQ","created_at":"2020-12-07T18:45:55.641544"},"metadata":null,"updated_at":"2021-01-11T17:20:20.127354","user_id":"USiBeLDwEWT_inkyE4CrRsrQ"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Y_pRJEjZiYcF5YA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '319'
      x-amzn-Remapped-Date:
      - Mon, 11 Jan 2021 17:20:20 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 8e1b0cd1-321b-47d2-97e3-25f03457749f
      x-amzn-RequestId:
      - 7a503514-bdd4-4b81-b0e8-58a49860da33
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/api_keys/AKSMPzsvVPROyLZhkwcOtHxA
  response:
    body:
      string: '{"id":"AKSMPzsvVPROyLZhkwcOtHxA","created_at":"2021-01-11T17:19:39.727266","secret":"********","deactivated_at":"2021-01-11T17:20:20.127314","user":{"id":"USiBeLDwEWT_inkyE4CrRsrQ","created_at":"2020-12-07T18:45:55.641544"},"metadata":null,"updated_at":"2021-01-11T17:20:20.127354","user_id":"USiBeLDwEWT_inkyE4CrRsrQ"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Y_pRsF9giYcFySQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '319'
      x-amzn-Remapped-Date:
      - Mon, 11 Jan 2021 17:20:23 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 4f8e8b44-28d0-44f0-9b28-3d263227d1bb
      x-amzn-RequestId:
      - e7a725b5-cda6-4532-a99f-020390d4464f
    status:
      code: 200
      message: OK
version: 1
