interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/clabes
  response:
    body:
      string: '{"items":[{"id":"CLD_zg463BQ6-yEjg8UE0jgQ","clabe":"646180157089988558","created_at":"2022-08-23T05:14:11.862000","user_id":"USbDnHlZYDShGoTS2NTD-Lmg"},{"id":"CLas7ZqaT5Quq6fgeiuel6KA","clabe":"646180157030689013","created_at":"2022-08-23T05:11:53.700000","user_id":"USbDnHlZYDShGoTS2NTD-Lmg"},{"id":"CLu4OYMy1USXOY4tGfGNUUsw","clabe":"646180157073856528","created_at":"2022-08-22T23:54:55.634000","user_id":"USbDnHlZYDShGoTS2NTD-Lmg"},{"id":"CLQSvYrsu7Qqm3WuhG0OVrlg","clabe":"646180157032158283","created_at":"2022-08-22T22:44:00.966000","user_id":"USbDnHlZYDShGoTS2NTD-Lmg"},{"id":"CLFyudOfs9Rt-ratC4WXJAoA","clabe":"646180157027880605","created_at":"2022-08-22T22:41:06.071000","user_id":"USbDnHlZYDShGoTS2NTD-Lmg"}],"next_page_uri":null,"count":null,"fields":{"items":{"description":"List
        of Clabes that match with query filters"},"next_page_uri":{"description":"URL
        to fetch the next page of results"},"count":{"description":"Counter of Clabes
        objects that match with query filters.  \nIncluded in response only if `count`
        param was `true`"}}}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.083'
      x-amz-apigw-id:
      - XTSNeEoIIAMFoDQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '1049'
      x-amzn-Remapped-Date:
      - Tue, 23 Aug 2022 05:21:51 GMT
      x-amzn-Remapped-Server:
      - nginx/1.22.0
      x-amzn-RequestId:
      - 6f394c5e-b5ff-44fa-9733-3cfb9b965360
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/clabes?count=1
  response:
    body:
      string: '{"items":[],"next_page_uri":null,"count":5,"fields":{"items":{"description":"List
        of Clabes that match with query filters"},"next_page_uri":{"description":"URL
        to fetch the next page of results"},"count":{"description":"Counter of Clabes
        objects that match with query filters.  \nIncluded in response only if `count`
        param was `true`"}}}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.067'
      x-amz-apigw-id:
      - XTSV2FbBoAMFgYA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '337'
      x-amzn-Remapped-Date:
      - Tue, 23 Aug 2022 05:22:45 GMT
      x-amzn-Remapped-Server:
      - nginx/1.22.0
      x-amzn-RequestId:
      - 91aa3a7f-6d68-44b4-85fb-4192dc51276e
    status:
      code: 200
      message: OK
[...]
