interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/curp_validations/CVh7gYctAlRx2n5Q5eQV0tYg
  response:
    body:
      string: '{"id":"CVh7gYctAlRx2n5Q5eQV0tYg","created_at":"2022-02-02T23:09:07.502000","names":"Manuel","first_surname":"Avalos","second_surname":"Tovar","date_of_birth":"1997-03-29","country_of_birth":"MX","state_of_birth":"DF","gender":"male","nationality":"MEX","manual_curp":null,"calculated_curp":"AATM970329HDFVVN05","validated_curp":"AATM970329HDFVVN05","renapo_curp_match":true,"renapo_full_match":true}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.095'
      x-amz-apigw-id:
      - M79RWG2piYcF64Q=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '399'
      x-amzn-Remapped-Date:
      - Wed, 02 Feb 2022 23:09:47 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - 91100773-fd0e-45ce-b283-5b6f70fd4c69
    status:
      code: 200
      message: OK
version: 1
