interactions:
- request:
    body: '{"user_id": "US2aaB809x842cq8PxhhdgyC", "token": "some_token",
      "form_id": "some_form"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/questionnaires
  response:
    body:
      string: "{\"id\":\"QUqXfdjpsZRyuuh9MUW9Q-3Q\",\"created_at\":\"2024-01-03T22:29:11.051000\",\"token\":\"some_token\",\"form_id\":\"some_form\",\"user_id\":\"US2aaB809x842cq8PxhhdgyC\",\"form\":[{\"question\":\"\xBFNos
        compartes tu n\xFAmero telef\xF3nico registrado en tu cuenta Cuenca?\",\"answer\":\"a\",\"response_id\":\"uTyodLrQ0wyW\"},{\"question\":\"Selecciona
        bajo que r\xE9gimen fiscal realizas tu principal actividad econ\xF3mica \",\"answer\":\"{'id':
        'CKsgoVykwW05', 'ref': '01HJRZNRKCBQ8VQFE4Z33J25XC', 'label': 'Sueldos y salarios'}\",\"response_id\":\"vD5T276dHEyT\"},{\"question\":\"Selecciona
        bajo cuales reg\xEDmenes fiscales tributas:\",\"answer\":\"{'id': 'fnWb4meY0ZgO',
        'ref': '01HJRZNRKC487ZPX6JW4CQPPTT', 'label': 'Sueldos y salarios y otro'}\",\"response_id\":\"DHSs[...]
