interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/users?limit=2&email_address=manuel%40cuenca.com
  response:
    body:
      string: '{"items":[{"id":"USZTlrCz6TTMyv68iGITe7bw","identity_uri":"/identities/IDgqg9FjjdTb-g1FYl7-0-kw","platform_id":"PTW68GgAc_QPmNCmgajmctLg","level":1,"created_at":"2022-02-01T02:57:41.155000","updated_at":"2022-02-01T02:57:41.183000","phone_number":"+525559610838","email_address":"manuel@cuenca.com","profession":"employee","status":"active","terms_of_service":null,"blacklist_validation_status":"not_verified","address":{"street":"calle
        1","ext_number":"2","int_number":"3","postal_code":"09900","state":"DF","city":null,"country":"MEX","created_at":"2022-02-01T02:57:41.155000"},"govt_id":null,"proof_of_address":null,"proof_of_life":null,"beneficiaries":null,"names":"Manuel","first_surname":"Avalos","second_surname":"Tovar","curp":"AATM970329HDFVVN05"}],"next_page_uri":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.109'
      x-amz-apigw-id:
      - M142BHhJiYcF7eg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '777'
      x-amzn-Remapped-Date:
      - Tue, 01 Feb 2022 02:58:08 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - 7f0e6a4c-68d5-4504-88b1-981e9402f20e
    status:
      code: 200
      message: OK
version: 1
