interactions:
- request:
    body: '{"names": "Jos\u00e9", "first_surname": "L\u00f3pez", "second_surname":
      "Hern\u00e1ndez", "date_of_birth": "1966-06-06", "state_of_birth": "DF", "country_of_birth":
      "MX", "gender": "male", "manual_curp": null}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/curp_validations
  response:
    body:
      string: "{\"id\":\"CV3ZZrphyVSPaGihGwWO8QJQ\",\"created_at\":\"2022-02-09T18:29:24.320854\",\"names\":\"Jos\xE9\",\"first_surname\":\"L\xF3pez\",\"second_surname\":\"Hern\xE1ndez\",\"date_of_birth\":\"1966-06-06\",\"country_of_birth\":\"MX\",\"state_of_birth\":\"DF\",\"gender\":\"male\",\"nationality\":\"MX\",\"manual_curp\":null,\"calculated_curp\":\"LOHJ660606HDFPRS02\",\"validated_curp\":\"LOHJ660606HDFPRS02\",\"renapo_curp_match\":true,\"renapo_full_match\":true}"
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.179'
      x-amz-apigw-id:
      - NSYwrGdkCYcF5Og=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '402'
      x-amzn-Remapped-Date:
      - Wed, 09 Feb 2022 18:29:24 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - 9b033a9b-3129-40a8-a366-66875c1b8e39
    status:
      code: 201
      message: Created
- request:
    body: '{"curp": "LOHJ660606HDFPRS02", "phone_number": "+525511223344", "email_address":
      "jose@test.com", "profession": "employee", "address": {"street": "calle 1",
      "ext_number": "2", "postal_code": "09900", "state": "DF", "country": "MX", "city":
      null, "int_number": "3"}}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/users
  response:
    body:
      string: "{\"id\":\"USz-lkjzCBTO2wFzR-FswiqA\",\"identity_uri\":\"/identities/IDKWLi_wUoTty6WXXg9xfKFQ\",\"created_at\":\"2022-02-09T18:29:24.685833\",\"updated_at\":\"2022-02-09T18:29:24.715958\",\"platform_id\":\"PTW68GgAc_QPmNCmgajmctLg\",\"level\":0,\"phone_number\":\"+525511223344\",\"email_address\":\"jose@test.com\",\"profession\":\"employee\",\"status\":\"active\",\"terms_of_service\":null,\"blacklist_validation_status\":\"not_verified\",\"address\":{\"street\":\"calle
        1\",\"ext_number\":\"2\",\"int_number\":\"3\",\"postal_code\":\"09900\",\"state\":\"DF\",\"city\":null,\"country\":\"MX\",\"created_at\":\"2022-02-09T18:29:24.685718\"},\"govt_id\":null,\"proof_of_address\":null,\"proof_of_life\":null,\"beneficiaries\":null,\"names\":\"Jos\xE9\",\"first_surname\":\"L\xF3pez\",\"second_surname\":\"Hern\xE1ndez\",\"curp\":\"LOHJ660606HDFPRS02\",\"required_level\":4}"
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.747'
      x-amz-apigw-id:
      - NSYwvE85iYcF_CQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '745'
      x-amzn-Remapped-Date:
      - Wed, 09 Feb 2022 18:29:25 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - 4804d108-50e8-4dd9-a875-6af3137a8474
    status:
      code: 201
      message: Created
- request:
    body: '{"user_id": "USz-lkjzCBTO2wFzR-FswiqA", "type": "session.registration",
      "success_url": "https://example.com/succeeded_registration", "failure_url":
      "https://example.com/failed_registration"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/sessions
  response:
    body:
      string: '{"id":"SSNiy0wLFnRYG0jR12n8qJyA","created_at":"2022-02-09T18:29:25.694402","updated_at":"2022-02-09T18:29:25.694553","user_id":"USz-lkjzCBTO2wFzR-FswiqA","platform_id":"PTW68GgAc_QPmNCmgajmctLg","expires_at":"2022-02-09T18:39:25.694412","success_url":"https://example.com/succeeded_registration","failure_url":"https://example.com/failed_registration","type":"session.registration"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.170'
      x-amz-apigw-id:
      - NSYw5EVlCYcF2Sg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '382'
      x-amzn-Remapped-Date:
      - Wed, 09 Feb 2022 18:29:25 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - abe06415-7324-4d27-96c2-bf5833967597
    status:
      code: 201
      message: Created
- request:
    body: '{"email_address": "manu@example.com"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: PATCH
    uri: https://sandbox.cuenca.com/users/USz-lkjzCBTO2wFzR-FswiqA
  response:
    body:
      string: "{\"id\":\"USz-lkjzCBTO2wFzR-FswiqA\",\"identity_uri\":\"/identities/IDKWLi_wUoTty6WXXg9xfKFQ\",\"created_at\":\"2022-02-09T18:29:24.685000\",\"updated_at\":\"2022-02-09T18:29:[...]
