interactions:
- request:
    body: '{}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/api_keys
  response:
    body:
      string: '{"id":"PKQTcgxC8bSRiTYjFJCXOJ3g==","created_at":"2020-05-11T18:31:50.950919","secret":"d3A3Uoe68OzdJjVipljVkghUW1lc2PXK5J4vKkux2Kh-jEC1aOo8qevvxi3GOotEFYLgoABN-TBqFfr_-ymPrg","deactivated_at":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - MYUDlFgzIAMFd1A=
      x-amzn-RequestId:
      - 359412ba-7e6e-4fa5-883e-b77c5ecb5624
    status:
      code: 201
      message: Created
- request:
    body: '{"minutes": 0}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: DELETE
    uri: https://sandbox.cuenca.com/api_keys/test
  response:
    body:
      string: '{"id":"test","created_at":"2020-05-04T19:43:40.439000","secret":"********","deactivated_at":"2020-05-11T18:31:54.711140"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - MYUD6EshIAMFSmA=
      x-amzn-RequestId:
      - c0568217-19a1-45c4-9612-0d35599df189
    status:
      code: 200
      message: OK
version: 1
