interactions:
- request:
    body: '{"recipient_name": "Rogelio Lopez", "account_number": "646180157034181180",
      "amount": 10000, "descriptor": "Mi primer transferencia", "idempotency_key":
      "35b241e25814445faf25c9cbcfc388a5"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/transfers
  response:
    body:
      string: '{"id":"TRnjQzaKRlS-GS6ww4WG0BEg==","created_at":"2020-06-01T13:58:30.058000","updated_at":"2020-06-01T13:58:33.701000","account_number":"646180157034181180","recipient_name":"Rogelio
        Lopez","amount":10000,"descriptor":"Mi primer transferencia","idempotency_key":"35b241e25814445faf25c9cbcfc388a5","status":"failed","network":"internal","destination_uri":null,"tracking_key":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - OZB9bF-GIAMFaxw=
      x-amzn-RequestId:
      - 46b83b53-118a-45a3-a240-9161f00ca845
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"recipient_name": "Rogelio Lopez", "account_number": "4050000000000001",
      "amount": 10002, "descriptor": "Mi transferencia invalida", "idempotency_key":
      "4a92e77054ba4e369a134e400f7c313d"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/transfers
  response:
    body:
      string: "[\n  {\n    \"loc\": [\n      \"account_number\"\n    ],\n    \"msg\":
        \"ensure this value has at least 18 characters\",\n    \"type\": \"value_error.any_str.min_length\",\n
        \   \"ctx\": {\n      \"limit_value\": 18\n    }\n  },\n  {\n    \"loc\":
        [\n      \"account_number\"\n    ],\n    \"msg\": \"The card number contains
        a BIN (first six digits) that does not havea known association with a Mexican
        bank. To add the association,please file an issue:https://github.com/cuenca-mx/cuenca-validations/issues\",\n
        \   \"type\": \"value_error.payment_card_number.bin\"\n  }\n]"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - OZB9gGPxIAMFeDQ=
      x-amzn-RequestId:
      - 44d083ef-8dc4-4ebb-8fdd-73d5d6f3751a
version: 1
