interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/transfers/test
  response:
    body:
      string: '{"id":"test","created_at":"2020-05-07T16:57:55.833000","updated_at":"2020-05-07T16:57:55.872000","account_number":"646180157034181180","recipient_name":"test","amount":10000,"descriptor":"Transferencia
        Demo","idempotency_key":"idempotency_key_8","status":"submitted","network":"internal","destination_uri":null,"tracking_key":null,"user_id":"US01"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - MYSkFFJMIAMFYIA=
      x-amzn-RequestId:
      - 8e8a5645-dc24-4872-ba0e-62833248cfcd
    status:
      code: 200
      message: OK
version: 1
