interactions:
- request:
    body: '{"user_id": "UShhSTmmy_R2y6KvQsGnTTMw", "idempotency_key": "MY_UNIQUE_KEY",
      "bank_number": "001287364", "account_number": "1024357689", "account_country":
      "US", "account_name": "Amanda Brown", "received_amount": 20825, "received_currency":
      "mxn", "sent_amount": 1000, "sent_currency": "usd"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/international_transfers
  response:
    body:
      string: '{"id":"ITeGc6ZBb8S96zqDhtY0AO3g","created_at":"2022-02-23T01:56:46.622466","updated_at":"2022-02-23T01:56:46.622597","platform_id":"PTW68GgAc_QPmNCmgajmctLg","user_id":"UShhSTmmy_R2y6KvQsGnTTMw","idempotency_key":"MY_UNIQUE_KEY","bank_number":"001287364","account_number":"1024357689","account_country":"US","account_name":"Amanda
        Brown","received_amount":20825,"received_currency":"mxn","sent_amount":1000,"sent_currency":"usd","status":"created"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.913'
      x-amz-apigw-id:
      - N-QexH2miYcFUnw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '448'
      x-amzn-Remapped-Date:
      - Wed, 23 Feb 2022 01:56:47 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-Remapped-x-amzn-RequestId:
      - 78bf7fa7-4e01-4a8a-b88e-1ba44997f20c
      x-amzn-RequestId:
      - e7657397-ba8f-46d0-9e9d-ca214884d02b
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"user_id": "UShhSTmmy_R2y6KvQsGnTTMw", "idempotency_key": "MY_UNIQUE_KEY",
      "bank_number": "001287364", "account_number": "9876543210", "account_country":
      "US", "account_name": "Amanda Brown", "received_amount": 20825, "received_currency":
      "mxn", "sent_amount": 1000, "sent_currency": "usd"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/international_transfers
  response:
    body:
      string: '{"error":"Duplicated idempotency key"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - N-QfBF6FCYcFV-Q=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '38'
      x-amzn-Remapped-Date:
      - Wed, 23 Feb 2022 01:56:48 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-Remapped-x-amzn-RequestId:
      - fbe703c7-a120-4ab3-8d30-0c0c3c97763b
      x-amzn-RequestId:
      - 89efda13-627e-4489-9ea6-d665fb741660
    status:
      code: 400
      message: Bad Request
version: 1
