interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTSb8853JJRGiPBvY4lZCMzQ
    method: GET
    uri: https://sandbox.cuenca.com/card_transactions/CT00PARENT01
  response:
    body:
      string: '{"id":"CT00PARENT01","created_at":"2020-11-11T21:25:26.230000","user_id":"US4PCNV8rLB2wqBfORzIAXUl","amount":609,"status":"succeeded","descriptor":"Uso
        de tarjeta","type":"auth","network":"visa","related_card_transaction_uris":[],"card_last4":"1234","card_type":"virtual","card_uri":"/cards/CAYNfqsQTFSnKz56n6Vw6rTw","metadata":{"authorizer_number":"1234","card_acceptor":null,"commission":0,"currency_code":"484","is_cvv":null,"pos_capabilty":null,"prosa_transaction_id":"98765","retrieval_reference":"123456789","track_data_method":null,"transaction_reference":null},"error_type":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 2.670'
      x-amz-apigw-id:
      - br9_YFqUCYcFZAg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '587'
      x-amzn-Remapped-Date:
      - Fri, 05 Mar 2021 00:09:47 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 26cb0789-04c3-4527-9f82-461e008f2723
      x-amzn-RequestId:
      - b304f475-2238-415a-990d-53f8b7d1ca55
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTSb8853JJRGiPBvY4lZCMzQ
    method: GET
    uri: https://sandbox.cuenca.com/cards/CAYNfqsQTFSnKz56n6Vw6rTw
  response:
    body:
      string: '{"id":"CAYNfqsQTFSnKz56n6Vw6rTw","created_at":"2021-02-25T20:00:41.131000","updated_at":"2021-02-25T20:00:41.131000","user_id":"US4PCNV8rLB2wqBfORzIAXUl","number":"5113910084308447","exp_month":2,"exp_year":2026,"cvv2":"896","type":"virtual","status":"active","pin":null,"issuer":"cuenca","funding_type":"debit","pin_block":null,"_cls":"BaseCard.CuencaCard","batch":null,"manufacturer":null,"cvv":null,"icvv":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 5.647'
      x-amz-apigw-id:
      - br9_0FC8CYcFdFA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '414'
      x-amzn-Remapped-Date:
      - Fri, 05 Mar 2021 00:09:53 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 3c0af4eb-5d9c-4f3d-96cb-653df509051a
      x-amzn-RequestId:
      - 2d14e70d-00a5-4208-9911-5f6e84b6f1b9
    status:
      code: 200
      message: OK
version: 1
