interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      x-amz-content-sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      x-amz-date:
      - 20201001T185704Z
    method: GET
    uri: https://sandbox.cuenca.com/commissions/PA7KR7uoZ7lsxG7cbyRqBJeh
  response:
    body:
      string: '{"id":"PA7KR7uoZ7lsxG7cbyRqBJeh","created_at":"2020-09-30T19:38:33.361000","user_id":"US30Ncr1Qb045o6SrBwOASwM","amount":1000,"status":"succeeded","descriptor":"Comisi\u00f3n
        (cash_transfer)","related_transaction_uri":"/transfers/SP57Ux92kMbvdSYwmZs1Rjh2"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Tvr0KGBuoAMFvDw=
      x-amzn-RequestId:
      - f2476afc-8fb5-491f-ad79-2f365e55797d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      x-amz-content-sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      x-amz-date:
      - 20201001T185705Z
    method: GET
    uri: https://sandbox.cuenca.com/transfers/SP57Ux92kMbvdSYwmZs1Rjh2
  response:
    body:
      string: '{"id":"SP57Ux92kMbvdSYwmZs1Rjh2","created_at":"2020-05-08T23:12:25.042000","updated_at":"2020-05-08T23:12:28.854000","account_number":"646180157013244941","recipient_name":"test
        85d91ea6-76b6-49ab-913b-0481e8df7379","amount":8888,"descriptor":"lambda","idempotency_key":"b2bf01cb-da5f-4a42-9462-23078b81b6ea","status":"failed","network":"spei","destination_uri":null,"tracking_key":null,"user_id":"US30Ncr1Qb045o6SrBwOASwM"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Tvr0OFKJIAMFYng=
      x-amzn-RequestId:
      - 1e7a83a6-88a1-443d-a175-1f35152b6cda
    status:
      code: 200
      message: OK
version: 1