interactions:
- request:
    body: '{}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/clabes
  response:
    body:
      string: '{"id":"CLD_zg463BQ6-yEjg8UE0jgQ","clabe":"646180157089988558","user_id":"USbDnHlZYDShGoTS2NTD-Lmg","created_at":"2022-08-23T05:14:11.862507"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.200'
      x-amz-apigw-id:
      - XTRFmFanoAMFeOA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '141'
      x-amzn-Remapped-Date:
      - Tue, 23 Aug 2022 05:14:11 GMT
      x-amzn-Remapped-Server:
      - nginx/1.22.0
      x-amzn-RequestId:
      - 8dce4dbf-eea9-4179-848c-74af94b67c99
    status:
      code: 201
      message: Created
version: 1
