interactions:
- request:
    body: '{"client_name": "Iron Man", "clabe": "32521352365236236", "address":
      "Address Foo", "rfc": "RFCXXXXXXXXX", "date":
      "2020-10-01", "document_type": "billing_statement"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/documents
  response:
    body:
      string: '{"id": "foo","body":"\\xcf\\x84o\\xcf\\x81\\xce\\xbdo\\xcf\\x82"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - MYVZbGDfIAMFogw=
      x-amzn-RequestId:
      - b488f64c-4a76-4a45-9405-301ae5456791
    status:
      code: 201
      message: Created
version: 1
