interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTSb8853JJRGiPBvY4lZCMzQ
    method: GET
    uri: https://sandbox.cuenca.com/card_transactions/CT17YWLDHWI59r6F0oG1ihvK
  response:
    body:
      string: '{"id":"CT17YWLDHWI59r6F0oG1ihvK","created_at":"2020-10-29T16:39:51.279000","user_id":"US4PCNV8rLB2wqBfORzIAXUl","amount":300,"status":"created","descriptor":"Superama
        Michoacan","type":"auth","network":"visa","related_card_transaction_uris":["/card_transactions/CT4jC3Dh65FNmb0lGBTnvr4I","/card_transactions/CT3749UxhLljsima27fLTCCk"],"card_last4":"0359","card_type":"virtual","card_uri":"/cards/CAYNfqsQTFSnKz56n6Vw6rTw","metadata":{"authorizer_number":null,"card_acceptor":null,"commission":null,"currency_code":"484","is_cvv":null,"pos_capabilty":null,"prosa_transaction_id":"86562","retrieval_reference":"82903776","track_data_method":null,"transaction_reference":null},"error_type":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 2.956'
      x-amz-apigw-id:
      - bsGUmGdNiYcFTtg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '692'
      x-amzn-Remapped-Date:
      - Fri, 05 Mar 2021 01:06:40 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 7ddb6b7c-e708-40f4-a9c4-515b9d38206b
      x-amzn-RequestId:
      - cdd40899-31d7-4514-b907-72f6b61fc897
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTSb8853JJRGiPBvY4lZCMzQ
    method: GET
    uri: https://sandbox.cuenca.com/card_transactions/CT3749UxhLljsima27fLTCCk
  response:
    body:
      string: '{"id":"CT3749UxhLljsima27fLTCCk","created_at":"2020-10-29T16:39:52.789000","user_id":"US4PCNV8rLB2wqBfORzIAXUl","amount":300,"status":"created","descriptor":"Superama
        Michoacan"[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTSb8853JJRGiPBvY4lZCMzQ
    method: GET
    uri: https://sandbox.cuenca.com/card_transactions/CT4jC3Dh65FNmb0lGBTnvr4I
  response:
    body:
      string: '{"id":"CT4jC3Dh65FNmb0lGBTnvr4I","created_at":"2020-10-29T16:52:39.044000","user_id":"US4PCNV8rLB2wqBfORzIAXUl","amount":300,"status":"created","descriptor":"Superama
        Michoacan"[...]
