interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/service_providers/SP01
  response:
    body:
      string: '{"id":"SP01","created_at":"2019-07-15T23:21:48.020000","name":"CFE","provider_key":"electricity_cfe","categories":["electricity"],"fields":[{"is_active":true,"requires_accountholder_name":false,"mask":"000000000000000000000000000000","topup_amounts":[],"type":"barcode"},{"is_active":true,"requires_accountholder_name":false,"mask":"000000000000","topup_amounts":[],"type":"account_number"}]}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 2.924'
      x-amz-apigw-id:
      - YWz4sFA4iYcFpWA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '412'
      x-amzn-Remapped-Date:
      - Mon, 12 Sep 2022 17:04:32 GMT
      x-amzn-Remapped-Server:
      - nginx/1.22.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 69191bbf-d841-4d7f-90aa-7d8e9e2585bd
      x-amzn-RequestId:
      - 4d1ea458-d9d5-47ec-893c-4b747cba50ef
    status:
      code: 200
      message: OK
version: 1
