interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTWewyQrKfRP-374RwKNkFXA
    method: GET
    uri: https://sandbox.cuenca.com/transfers?status=succeeded
  response:
    body:
      string: '{"items":[{"id":"LT4EOaa93rHWYKIzg2RGyOba","created_at":"2020-10-23T22:24:39.354000","updated_at":"2021-02-25T23:03:05.396000","account_number":"646180157046685645","recipient_name":"Alan
        Rodrigo Garrido Valencia","amount":16,"descriptor":"Te woa roabar","idempotency_key":"LT4EOaa93rHWYKIzg2RGyOba","status":"succeeded","network":"internal","destination_uri":"/accounts/LA1CVCZVNLR4KM42kPcqhBLV","tracking_key":"LT4EOaa93rHWYKIzg2RGyOba","user_id":"US4PCNV8rLB2wqBfORzIAXUl","reference_number":null},{"id":"LT1mBDdpF6ATsAepwqtTqHzz","created_at":"2020-10-15T22:06:31.024000","updated_at":"2021-02-25T23:02:58.874000","account_number":"646180157046685645","recipient_name":"Alan
        Rodrigo Garrido Valencia","amount":1200,"descriptor":"tqm","idempotency_key":"LT1mBDdpF6ATsAepwqtTqHzz","status":"succeeded","network":"internal","destination_uri":"/accounts/LA1CVCZVNLR4KM42kPcqhBLV","tracking_key":"LT1mBDdpF6ATsAepwqtTqHzz","user_id":"US4PCNV8rLB2wqBfORzIAXUl","reference_number":null},{"i[...]
