interactions:
- request:
    body: '{"tos_id": "TS67f5bf03c1fc891bdf36090d", "location": {"latitude": 9.3953792,
      "longitude": -99.139584}, "signature_image_url": null}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/users_tos_agreements
  response:
    body:
      string: '{"id":"UAlyeG0IgKSFi3ZZ2NPKjk3g","created_at":"2025-07-16T21:43:54.817163","updated_at":"2025-07-16T21:43:54.817510","user_id":"USS2gTzkh_Sm2ZPZGtfNOK_Q","terms_of_service_uri":"/terms_of_service/TS67f5bf03c1fc891bdf36090d","ip":"201.141.55.234","location":"9.3953792,-99.139584","signature_image_url":null,"digital_signature":null,"signed_document_url":null,"notification_id":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.827'
      x-amz-apigw-id:
      - N0l8OEVHiYcEBdA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '382'
      x-amzn-Remapped-Date:
      - Wed, 16 Jul 2025 21:43:55 GMT
      x-amzn-Remapped-Server:
      - nginx/1.28.0
      x-amzn-RequestId:
      - 7e9162b9-6ea8-4592-b28a-502ef7a89345
    status:
      code: 201
      message: Created
version: 1
