interactions:
- request:
    body: '{"names": "Manuel", "first_surname": "Avalos", "second_surname": "Tovar",
      "date_of_birth": "1997-03-29", "state_of_birth": "DF", "country_of_birth": "MX",
      "gender": "male", "manual_curp": null}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://stage.cuenca.com/curp_validations
  response:
    body:
      string: '{"id":"CVpa6XXYgXRSa4qTXsFYQ-Yg","names":"Manuel","first_surname":"Avalos","second_surname":"Tovar","date_of_birth":"1997-03-29","country_of_birth":"MEX","state_of_birth":"DF","gender":"male","nationality":null,"manual_curp":null,"calculated_curp":"AATM970329HDFVVN05","validated_curp":null,"renapo_curp_match":true,"renapo_full_match":false}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.131'
      x-amz-apigw-id:
      - Mr6vNH6GCYcFx4w=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '342'
      x-amzn-Remapped-Date:
      - Sat, 29 Jan 2022 02:21:59 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - 53ade22b-c664-4e0c-bcf3-91c6818c4be4
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://stage.cuenca.com/identities?limit=2&curp=AATM970329HDFVVN05
  response:
    body:
      string: Internal Server Error
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      x-amz-apigw-id:
      - Mr6vPEeKCYcFZ9A=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '21'
      x-amzn-Remapped-Date:
      - Sat, 29 Jan 2022 02:21:59 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - 2820bb1d-3003-4c02-bf12-98291964f125
    status:
      code: 500
      message: Internal Server Error
version: 1
