interactions:
- request:
    body: null
    headers:
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/postal_codes?postal_code=40106
  response:
    body:
      string: "{\"items\":[{\"id\":\"PCqpCtquNnTTWj4afusCWbXQ\",\"created_at\":\"2025-06-25T18:44:14.409000\",\"postal_code\":\"40106\",\"colonia\":\"El
        Naranjo\",\"city\":\"Iguala de la Independencia\",\"state\":\"GR\",\"state_name\":\"Guerrero\",\"country\":\"MX\",\"country_name\":\"M\xE9xico\"},{\"id\":\"PCN2-h_t4ASn-yr46-5C352g\",\"created_at\":\"2025-06-25T18:44:14.409000\",\"postal_code\":\"40106\",\"colonia\":\"Ficus\",\"city\":\"Iguala
        de la Independencia\",\"state\":\"GR\",\"state_name\":\"Guerrero\",\"country\":\"MX\",\"country_name\":\"M\xE9xico\"}],\"next_page_uri\":null}"
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.045'
      x-amz-apigw-id:
      - NJVdFHJXCYcEPzw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '495'
      x-amzn-Remapped-Date:
      - Thu, 03 Jul 2025 18:44:22 GMT
      x-amzn-Remapped-Server:
      - nginx/1.28.0
      x-amzn-RequestId:
      - 3ff50d45-d63b-4244-9bba-9f7dc776d4bb
    status:
      code: 200
      message: OK
version: 1
