interactions:
- request:
    body: '{"number": "5448750129965637", "exp_month": 2, "exp_year": 25, "cvv": "685",
      "cvv2": "150", "icvv": "399", "pin_block": "3B241739AB05D290"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/card_validations
  response:
    body:
      string: '{"id":"CVW12jNalJQA6_-jqIPL1aSw","created_at":"2021-07-19T21:49:43.691266","card_uri":"/cards/CA7pET83WM25VXO3IQ8BwYO3","card_status":"active","is_valid_cvv":true,"is_valid_cvv2":true,"is_valid_icvv":true,"is_valid_pin_block":true,"is_valid_exp_date":true,"is_expired":false,"is_pin_tries_exceeded":true,"user_id":"US3zGWi1n852bTyqD1wCZ1ft","card_type":"physical"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 2.115'
      x-amz-apigw-id:
      - CvL6mFAwiYcFcUw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '365'
      x-amzn-Remapped-Date:
      - Mon, 19 Jul 2021 21:49:45 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.1
      x-amzn-Remapped-x-amzn-RequestId:
      - f60d03ba-c92b-466e-88b7-8e555c909328
      x-amzn-RequestId:
      - 1361d0a6-9c7f-4b26-b616-df302cdc2152
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/cards/CA7pET83WM25VXO3IQ8BwYO3
  response:
    body:
      string: '{"id":"CA7pET83WM25VXO3IQ8BwYO3","created_at":"2021-03-11T22:54:35.337000","updated_at":"2021-07-19T21:49:43.822000","user_id":"US3zGWi1n852bTyqD1wCZ1ft","number":"5448750129965637","exp_month":2,"exp_year":25,"cvv2":"150","type":"physical","status":"active","pin":"6725","issuer":"cuenca","funding_type":"debit","pin_tries_failed":0,"manufacturer":null,"cvv":"685","icvv":"399","pin_block":null,"pin_block_switch":"3B241739AB05D290"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.720'
      x-amz-apigw-id:
      - CvL68HpIiYcFuGA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '434'
      x-amzn-Remapped-Date:
      - Mon, 19 Jul 2021 21:49:45 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.1
      x-amzn-Remapped-x-amzn-RequestId:
      - 55f363d5-693b-4c1f-a07c-b24a58233b9f
      x-amzn-RequestId:
      - e0d9cb0e-494e-4e46-aab6-7fcff66ad713
    status:
      code: 200
      message: OK
version: 1
