interactions:
- request:
    body: '{"names": "Jos\u00e9", "first_surname": "L\u00f3pez", "second_surname":
      "Hern\u00e1ndez", "date_of_birth": "1966-06-06", "state_of_birth": "DF", "country_of_birth":
      "MX", "gender": "male", "manual_curp": null}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/curp_validations
  response:
    body:
      string: "{\"id\":\"CVkd_IzIDPTSOulVJpQY2urQ\",\"created_at\":\"2022-02-09T17:42:56.383485\",\"names\":\"Jos\xE9\",\"first_surname\":\"L\xF3pez\",\"second_surname\":\"Hern\xE1ndez\",\"date_of_birth\":\"1966-06-06\",\"country_of_birth\":\"MX\",\"state_of_birth\":\"DF\",\"gender\":\"male\",\"nationality\":\"MX\",\"manual_curp\":null,\"calculated_curp\":\"LOHJ660606HDFPRS02\",\"validated_curp\":\"LOHJ660606HDFPRS02\",\"renapo_curp_match\":true,\"renapo_full_match\":true}"
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.282'
      x-amz-apigw-id:
      - NSR9EFulCYcFqRA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '402'
      x-amzn-Remapped-Date:
      - Wed, 09 Feb 2022 17:42:56 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - ae052cd0-e6d5-4b68-94fd-0ce487426564
    status:
      code: 201
      message: Created
- request:
    body: '{"curp": "LOHJ660606HDFPRS02", "phone_number": "+525511223344", "email_address":
      "jose@test.com", "profession": "employee", "address": {"street": "calle 1",
      "ext_number": "2", "postal_code": "09900", "state": "DF", "country": "MX", "city":
      null, "int_number": "3"}}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/users
  response:
    body:
      string: "{\"id\":\"USCM-zlFcNQk6ue4gZ_mTGeQ\",\"identity_uri\":\"/identities/IDKWLi_wUoTty6WXXg9xfKFQ\",\"created_at\":\"2022-02-09T17:42:56.965055\",\"updated_at\":\"2022-02-09T17:42:57.008600\",\"platform_id\":\"PTW68GgAc_QPmNCmgajmctLg\",\"level\":0,\"phone_number\":\"+525511223344\",\"email_address\":\"jose@test.com\",\"profession\":\"employee\",\"status\":\"active\",\"terms_of_service\":null,\"blacklist_validation_status\":\"not_verified\",\"address\":{\"street\":\"calle
        1\",\"ext_number\":\"2\",\"int_number\":\"3\",\"postal_code\":\"09900\",\"state\":\"DF\",\"city\":null,\"country\":\"MX\",\"created_at\":\"2022-02-09T17:42:56.964930\"},\"govt_id\":null,\"proof_of_address\":null,\"proof_of_life\":null,\"beneficiaries\":null,\"names\":\"Jos\xE9\",\"first_surname\":\"L\xF3pez\",\"second_surname\":\"Hern\xE1ndez\",\"curp\":\"LOHJ660606HDFPRS02\"}"
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.955'
      x-amz-apigw-id:
      - NSR9JGSgCYcFgcQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '745'
      x-amzn-Remapped-Date:
      - Wed, 09 Feb 2022 17:42:57 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - 327dc915-14bd-46fe-9abe-288010257709
    status:
      code: 201
      message: Created
version: 1
