interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTWewyQrKfRP-374RwKNkFXA
    method: GET
    uri: https://sandbox.cuenca.com/transfers?limit=2&idempotency_key=idempotency_key_1
  response:
    body:
      string: '{"items":[{"id":"idempotency_key_1","created_at":"2020-10-07T23:04:24.476000","updated_at":"2021-02-25T23:02:58.397000","account_number":"646180157046685645","recipient_name":"Alan
        Rodrigo Garrido Valencia","amount":1,"descriptor":"a ver","idempotency_key":"idempotency_key_1","status":"succeeded","network":"internal","destination_uri":"/accounts/LA1CVCZVNLR4KM42kPcqhBLV","tracking_key":"idempotency_key_1","user_id":"US4PCNV8rLB2wqBfORzIAXUl","reference_number":null}],"next_page_uri":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.242'
      x-amz-apigw-id:
      - bn5vDECoiYcFt-A=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '514'
      x-amzn-Remapped-Date:
      - Wed, 03 Mar 2021 18:33:04 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 364e49d9-b410-4774-b9d7-474b33bd503a
      x-amzn-RequestId:
      - bc97ab6f-c9c5-46fb-b192-4197d375da7a
    status:
      code: 200
      message: OK
version: 1
