interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/webhooks
  response:
    body:
      string: "{\"items\":[{\"id\":\"WEgiCKjsAoQHyuAfVq-ktUqw\",\"created_at\":\"2022-03-04T19:17:29.752000\",\"event\":\"user.update\",\"payload\":{\"terms_of_service\":{\"ip\":\"127.0.0.222\",\"version\":\"2022-01-01\",\"location\":\"123,
        456\",\"type\":\"test\",\"created_at\":\"2022-03-04T00:54:48.333000\"},\"address\":{\"street\":\"Reforma\",\"ext_number\":\"265\",\"int_number\":\"Piso
        10\",\"postal_code\":\"06500\",\"state\":\"DF\",\"city\":\"Ciudad de M\xE9xico\",\"country\":\"MX\",\"created_at\":\"2022-03-04T00:23:09.384000\"},\"id\":\"USVu1EEvJoT2qr-nTe5vcl5Q\",\"names\":\"Miguel\",\"created_at\":\"2022-03-04T00:23:09.384000\",\"updated_at\":\"2022-03-04T19:17:24.618201\",\"level\":2,\"phone_number\":\"+525521347594\",\"email_address\":\"miguel@cuenca.com\",\"profession\":\"employee\",\"clabe\":\"646180157036729579\",\"status\":\"active\",\"blacklist_validation_status\":\"succeeded\",\"proof_of_address\":{\"type\":\"proof_of_address\",\"uri_front\":\"https://stage.cuenca.com/files/EFBfY0b_7hQh6GrqkNffyxPA\",\"uri_back\":null,\"verification_id\":\"6221695bef85c2001b089d68\",\"attempt\":2,\"is_mx\":null,\"data\":{},\"status\":\"upload_again\"},\"proof_of_life\":{\"type\":\"proof_of_liveness\",\"uri_front\":\"https://stage.cuenca.com/files/EFydC6nN6XQfyN4pJlmmNYqQ\",\"uri_back\":null,\"verification_id\":\"622265865ba0fd001c3fb82b\",\"attempt\":3,\"is_mx\":null,\"data\":{},\"status\":\"succeeded\"},\"govt_id\":{\"type\":\"passport\",\"uri_front\":\"https://stage.cuenca.com/files/EFW2GO9hM1TEaFlXWf3mA-Qw\",\"uri_back\":null,\"verification_id\":\"622265865ba0fd001c3fb82b\",\"attempt\":3,\"is_mx\":true,\"data\":{},\"status\":\"succeeded\"},\"curp\":\"AOVM910106HMCCNG07\",\"first_surname\":\"Acosta\",\"second_surname\":\"Ventura\"}},{\"id\":\"WERHehn7g7R5eDS_mIIPOlNw\",\"created_at\":\"2022-03-04T19:17:29.025000\",\"event\":\"user.update\",\"payload\":{\"terms_of_service\":{\"ip\":\"127.0.0.222\",\"version\":\"2022-01-01\",\"location\":\"123,
        456\",\"type\":\"test\",\"created_at\":\"2022-03-04T00:54:48.333000\"},\"address\":{\"street\":\"Reforma\",\"ext_number\":\"265\",\"int_number\":\"Piso
        10\",\"postal_code\":\"06500\",\"state\":\"DF\",\"city\":\"Ciudad de M\xE9xico\",\"country\":\"MX\",\"cr[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/webhooks?created_before=2022-02-15T18%3A33%3A00.786000
  response:
    body:
      string: '{"items":[{"id":"WEDazwSUHlQTq408-Q_v5iCA","created_at":"2022-02-15T18:25:47.813000","event":"user.update","payload":{"id":"USs1vTDpu3S7Kt5tv3rIYLtw","identity_uri":"/identities/IDYHxfedcGRoGEtt171ry4eg","created_at":"2022-02-15T18:21:48.198000","updated_at":"2022-02-15T18:25:46.036345","platform_id":"PTW68GgAc_QPmNCmgajmctLg","level":1,"phone_number":"+525522000268","email_address":"marcos@gmail.com","profession":"employee","clabe":null,"status":"active","terms_of_service":{"version":"2022-02-09","ip":"127.0.0.1","location":"1111,1111","type":"ifpe","created_at":"2022-02-15T18:25:46.036130"},"blacklist_validation_status":"succeeded","address":{"street":"lago
        alberto","ext_number":"442","int_number":"3","postal_code":"11320","state":"NE","city":null,"country":"VE","created_at":"2022-02-15T18:21:48.198000"},"govt_id":null,"proof_of_address":null,"proof_of_life":null,"beneficiaries":null,"names":"Marcos
        Daniel","first_surname":"Tassinari","second_surname":"Monterola","curp":"TAMM820830HNESNR00"}},{"id":"WE9S9--oB5QS2eph5bXEgtOQ","created_at":"2022-02-15T15:38:44.259000","event":"transaction.create","payload":{"spei_transactions":[{"speid_id":"SD2ap8ucS0gWJuPeG1sbcXoP","speid_status":null,"created_at":"2022-02-15T15:38:41.978041+00:00","concepto":"SPEI
        de prueba","amount":1,"clave_rastreo":"CUENCA395219886172","ledger_account":{"currency":"mxn","card_withdraw_limit":null,"min_balance":0,"debit_balance":0,"user_id":"USZ5KPsghgcHfXSP1llL8OP","created_at":"2020-06-09T15:13:48.246423+00:00","balance":97589,"account_type":null,"_clabe":{"ledger_account_id":"LA1CVCZVNLR4KM42kPcqhBLV","created_at":"2019-07-31T22:40:26.935528+00:00","clabe":"646180157046685645","updated_at":"2020-06-09T15:13:48.246423+00:00"},"id":"LA1CVCZVNLR4KM42kPcqhBLV"},"type":"withdrawal","id":"SP4Jx4x9JtlOiOWxnyXL2W2p","parent_id":null,"name":"Alan
        Stantander","ledger_account_id":"LA1CVCZVNLR4KM42kPcqhBLV","numero_referencia":"4084080","origin_ledger_account_id":null,"status":"suspect","rfc_curp":"GAVA940219HDFRLL05","_bank_account":{"rfc":null,"uses_counter":3,"nickname":null,"created_at":"2022-02-15T01:40:06.080651+00:00","user_id":"USZ5KPsghgcHfXSP1llL8OP","bank_code":"40072","deactivated_at":null,"updated_at":"2022-02-15T14:38:38.660635+00:00","id":"UA2QwHlmDxgqbHK5NzE9OoLr","name":"Alan
        Stantander","account_number":"014320605993198679","curp":"GAVA940219HDFRLL05"},"updated_at":"2022-02-15T15:38:42.103596+00:00","user_bank_account_id":"UA2QwHlmDxgqbHK5NzE9OoLr"}]}},{"id":"WEaRWnLU-hSZWMcc22rjFKrw","created_at":"2022-02-15T15:38:42.289000","event":"transaction.create","payload":{"accounts":[{"id":"AC5Nk_2RF8XS-47lkohXfSMg","created_at":"2022-02-15T15:38:41.979355+00:00","name":"Alan
        Stantander","account_number":"014320605993198679","user_id":"USZ5KPsghgcHfXSP1llL8OP","bank_code":"40072"}]}},{"id":"WErmT1ZA7KQ4iYSa1KNtHdNQ","created_at":"2022-02-15T15:38:42.254000","event":"transaction.create","payload":{"balance_entries":[{"amount":1,"type":"debit","id":"LE2vnf7fi29HlXXuE9ZF7w8Z","related_transaction":"SP4Jx4x9JtlOiOWxnyXL2W2p","created_at":"2022-02-15T15:38:42.047365+00:00","wallet_id":"default","name":"Alan
        Stantander","descriptor":"SPEI de prueba","funding_instrument_uri":"/accounts/AC5Nk_2RF8XS-47lkohXfSMg","rolling_balance":97589,"user_id":"USZ5KPsghgcHfXSP1llL8OP"}]}},{"id":"WEbNbEZ8uQTNWB31Nzng-vOA","created_at":"2022-02-15T15:14:45.493000","event":"transaction.create","payload":{"spei_transactions":[{"speid_id":"SD1ii11Cc0XRxMZ2cXUUTe1t","speid_status":null,"created_at":"2022-02-15T15:14:42.736692+00:00","concepto":"webhook
        spei","amount":1000,"clave_rastreo":"CUENCA380831529233","ledger_account":{"currency":"mxn","card_withdraw_limit":null,"min_balance":0,"debit_balance":0,"user_id":"US5cRW04DZElkfVO8Ua[...]
