interactions:
- request:
    body: '{"allowed_curp": "TAXM840916HNEMXT02", "allowed_rfc": "TAXM840916123"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/limited_wallets
  response:
    body:
      string: '{"id":"LA3vx08KlQCXsaP9qyWfb680","created_at":"2022-04-05T23:00:29.446957","updated_at":"2022-04-05T23:00:29.446965","user_id":"US1le53HEq05OMrFTIlzqGJK","balance":0,"deactivated_at":null,"account_number":"646180157057065610","allowed_rfc":"TAXM840916123","allowed_curp":"TAXM840916HNEMXT02"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 1.039'
      x-amz-apigw-id:
      - QISCFHDBiYcFVNQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '292'
      x-amzn-Remapped-Date:
      - Tue, 05 Apr 2022 23:00:30 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-Remapped-x-amzn-RequestId:
      - ffeee6be-a037-422d-ab2b-d739866c6ade
      x-amzn-RequestId:
      - d106e615-825d-4412-bf58-1ab8d9aaba02
    status:
      code: 201
      message: Created
version: 1
