interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      x-amz-content-sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      x-amz-date:
      - 20201029T185810Z
    method: GET
    uri: https://sandbox.cuenca.com/card_transactions/CT002
  response:
    body:
      string: '{"id":"CT002","created_at":"2020-10-29T18:04:37.414000","user_id":"US4PCNV8rLB2wqBfORzIAXUl","amount":300,"status":"created","descriptor":"Superama
        Michoacan","type":"refund","network":"visa","related_card_transaction_uris":["/card_transactions/CT6KYNnKT304Cf7sOrJptsDu"],"card_last4":"0359","card_type":"virtual","merchant":"MAnQlrBd4GWjyXY4BctLlM7","metadata":{"authorizer_number":null,"card_acceptor":null,"commission":null,"currency_code":"484","is_cvv":null,"pos_capabilty":null,"prosa_transaction_id":"38007","retrieval_reference":"444838149","track_data_method":null,"transaction_reference":null},"error_type":null,"expired_at":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - VL-ObEWRIAMFS3w=
      x-amzn-RequestId:
      - 9762d4c8-e86e-4edf-9a90-ab450ec1931a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      x-amz-content-sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      x-amz-date:
      - 20201029T185810Z
    method: GET
    uri: https://sandbox.cuenca.com/card_transactions/CT6KYNnKT304Cf7sOrJptsDu
  response:
    body:
      string: '{"id":"CT6KYNnKT304Cf7sOrJptsDu","created_at":"2020-10-29T18:04:37.396000","user_id":"US4PCNV8rLB2wqBfORzIAXUl","amount":300,"status":"created","descriptor":"Superama
        Michoacan","type":"auth","network":"visa","related_card_transaction_uris":["/card_transactions/CT002"],"card_last4":"0359","card_type":"virtual","merchant":"MAnQlrBd4GWjyXY4BctLlM7","metadata":{"authorizer_number":null,"card_acceptor":null,"commission":null,"currency_code":"484","is_cvv":null,"pos_capabilty":null,"prosa_transaction_id":"36776","retrieval_reference":"691159329","track_data_method":null,"transaction_reference":null},"error_type":null,"expired_at":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - VL-OdFLkoAMFVCw=
      x-amzn-RequestId:
      - c0fc6bdd-42b1-40fb-add2-7a832a72c0d1
    status:
      code: 200
      message: OK
version: 1
