interactions:
- request:
    body: '{"number": "5448750001621241", "exp_month": 11, "exp_year": 24, "cvv2":
      "111"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTtwn7EyHrRyG7dBe927XWew
    method: POST
    uri: https://sandbox.cuenca.com/card_activations
  response:
    body:
      string: '{"id":"CAAEkTme9YJRQGmZgTJhSpBdg","created_at":"2025-01-08T22:40:46.834250","user_id":"US1w9BJ0DZ9kSdac39ur14Nf","ip_address":"10.0.2.68","card_uri":"/cards/CAPpdShtSGR0m__EmAmH7dWg","success":true,"bin":"544875","deactivated_at":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 1.156'
      x-amz-apigw-id:
      - EFzFPFpRCYcEk8Q=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '235'
      x-amzn-Remapped-Date:
      - Wed, 08 Jan 2025 22:40:47 GMT
      x-amzn-Remapped-Server:
      - nginx/1.26.2
      x-amzn-RequestId:
      - 0dfcf94e-9d46-447c-96d7-4fbaf1668ce0
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTtwn7EyHrRyG7dBe927XWew
    method: GET
    uri: https://sandbox.cuenca.com/cards/CAPpdShtSGR0m__EmAmH7dWg
  response:
    body:
      string: '{"id":"CAPpdShtSGR0m__EmAmH7dWg","created_at":"2021-02-26T06:56:36.285000","updated_at":"2025-01-08T22:40:46.233000","user_id":"US1w9BJ0DZ9kSdac39ur14Nf","platform_id":"PTZbBlk__kQt-wfwzP5nwA9A","number":"5448750001621241","exp_month":11,"exp_year":24,"cvv2":"111","type":"physical","status":"active","pin":"1111","issuer":"cuenca","funding_type":"credit","card_holder_user_id":null,"deactivated_at":null,"manufacturer":"manufacturer","cvv":"111","icvv":"111","is_dynamic_cvv":false,"first_validation":null,"pin_block":null,"pin_block_switch":null,"pin_attempts_failed":0}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.716'
      x-amz-apigw-id:
      - EFzFdFIeCYcEs9g=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '572'
      x-amzn-Remapped-Date:
      - Wed, 08 Jan 2025 22:40:48 GMT
      x-amzn-Remapped-Server:
      - nginx/1.26.2
      x-amzn-RequestId:
      - 48813814-edea-47dc-b7f8-5ef6069da98b
    status:
      code: 200
      message: OK
version: 1
