interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/transfers?idempotency_key=idempotency_key_1&limit=2
  response:
    body:
      string: '{"items":[{"id":"TR6sozlFsTQsGxzwQfWm5N_g==","created_at":"2020-05-07T17:01:30.774000","updated_at":"2020-05-07T17:01:30.794000","account_number":"646180157034181180","recipient_name":"test","amount":10000,"descriptor":"Transferencia
        Demo","idempotency_key":"idempotency_key_1","status":"submitted","network":"internal","tracking_key":null}],"next_page_url":"/transfers?idempotency_key=idempotency_key_1&created_before=2020-05-07T17%3A01%3A30.774000&limit=2&count=False"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - MYSkKE6IIAMFY0g=
      x-amzn-RequestId:
      - 2024b44b-6111-477d-8cd9-0f4b1043f197
    status:
      code: 200
      message: OK
version: 1
