interactions:
- request:
    body: '{"recipient_name": "Rogelio Lopez", "account_number": "646180157034181180",
      "amount": 10000, "descriptor": "Mi primer transferencia", "idempotency_key":
      "35b241e25814445faf25c9cbcfc388a6"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/transfers
  response:
    body:
      string: '{"id":"TRQ3WpYW6MQaeoL5mVFprr0g","created_at":"2020-06-24T21:03:52.020615","updated_at":"2020-06-24T21:03:52.392496","account_number":"646180157034181180","recipient_name":"Rogelio
        Lopez","amount":10000,"descriptor":"Mi primer transferencia","idempotency_key":"35b241e25814445faf25c9cbcfc388a6","status":"submitted","network":"internal","destination_uri":null,"tracking_key":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - OprkwF8DoAMFmlw=
      x-amzn-RequestId:
      - c52b292e-8164-4fc5-a5b5-db38289dded0
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"recipient_name": "Rogelio Lopez", "account_number": "4050000000000001",
      "amount": 10002, "descriptor": "Mi transferencia invalida", "idempotency_key":
      "4a92e77054ba4e369a134e400f7c313e"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/transfers
  response:
    body:
      string: "[\n  {\n    \"loc\": [\n      \"account_number\"\n    ],\n    \"msg\":
        \"ensure this value has at least 18 characters\",\n    \"type\": \"value_error.any_str.min_length\",\n
        \   \"ctx\": {\n      \"limit_value\": 18\n    }\n  },\n  {\n    \"loc\":
        [\n      \"account_number\"\n    ],\n    \"msg\": \"The card number contains
        a BIN (first six digits) that does not havea known association with a Mexican
        bank. To add the association,please file an issue:https://github.com/cuenca-mx/cuenca-validations/issues\",\n
        \   \"type\": \"value_error.payment_card_number.bin\"\n  }\n]"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - OprlkEmuIAMF-4w=
      x-amzn-RequestId:
      - 4ee60e4d-1207-4ac0-8981-97368e23f384
    status:
      code: 400
      message: Bad Request
version: 1
