interactions:
- request:
    body: '{"brand_name": "Tacos y Jugos Pepe", "brand_image": "https://s3.amazonaws.com/feedme.cuenca.io/abc123",
      "slug": "tacos-y-jugos-pepe", "card_active": true, "cash_active": true, "spei_active":
      true}'
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: PATCH
    uri: https://sandbox.cuenca.com/terminal/TR000396
  response:
    body:
      string: '{"id": "TR000396", "brand_name": "Tacos y Jugos Pepe", "brand_image": "https://s3.amazonaws.com/feedme.cuenca.io/abc123", "slug": "tacos-y-jugos-pepe", "card_active":
      true, "cash_active": true, "spei_active": true, "stripe_ready": true, "created_at":"2020-05-11T18:41:00.332534","updated_at":"2020-05-11T18:41:00.352103"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
