interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/endpoints/EN01
  response:
    body:
      string: '{"id":"EN01","created_at":"2022-02-09T00:02:07.272000","updated_at":"2022-02-09T00:02:07.272000","deactivated_at":null,"secret":"********","is_enable":true,"url":"https://url.com","events":["user.create","user.update","user.delete","transaction.create","transaction.update"]}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.096'
      x-amz-apigw-id:
      - NSXcKEh2iYcFvMw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '303'
      x-amzn-Remapped-Date:
      - Wed, 09 Feb 2022 18:20:23 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - ad654404-5dcc-4736-bc21-5639914796d9
    status:
      code: 200
      message: OK
version: 1
