interactions:
- request:
    body: '{"code": "299566"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: PATCH
    uri: https://sandbox.cuenca.com/verifications/VE02
  response:
    body:
      string: '{"id":"VE02","recipient":"+525529372492","platform_id":"PTW68GgAc_QPmNCmgajmctLg","api_key":null,"type":"phone_verification","created_at":"2022-03-16T18:16:31.555000","updated_at":"2022-03-16T22:35:08.856519","deactivated_at":null,"attempts":[{"code":"299566","created_at":"2022-03-16T22:35:08.856321"}]}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.120'
      x-amz-apigw-id:
      - PGTkhGjHCYcF4Rw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '337'
      x-amzn-Remapped-Date:
      - Wed, 16 Mar 2022 22:35:08 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - e6c9d46f-bc19-4cf9-bca1-e44e9e3841c6
    status:
      code: 200
      message: OK
version: 1
