interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/transfers?account_number=646180157013244941&limit=1
  response:
    body:
      string: '{"items":[{"id":"TRGtslEptDT0-_cVVLmXojBg==","created_at":"2020-05-08T23:12:25.042000","updated_at":"2020-05-08T23:12:28.854000","account_number":"646180157013244941","recipient_name":"test
        85d91ea6-76b6-49ab-913b-0481e8df7379","amount":8888,"descriptor":"lambda","idempotency_key":"b2bf01cb-da5f-4a42-9462-23078b81b6ea","status":"failed","network":"internal","destination_uri":null,"tracking_key":null}],"next_page_url":"/transfers?account_number=646180157013244941&created_before=2020-05-08T23%3A12%3A25.042000&limit=1&count=False"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - MYSkUGDhIAMFY6Q=
      x-amzn-RequestId:
      - ccd8399e-0714-4ce7-a46a-5d7a554f85e4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/transfers?account_number=bad_account&limit=1
  response:
    body:
      string: '{"items":[],"next_page_url":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - MYSkXF25oAMFYCw=
      x-amzn-RequestId:
      - 81840d9f-0a46-42b3-88c1-077036d457cb
    status:
      code: 200
      message: OK
version: 1
