interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/api_keys/AKe2V4KrZUQ7-GTmzvjexvrw
  response:
    body:
      string: '{"id":"AKe2V4KrZUQ7-GTmzvjexvrw","created_at":"2021-01-11T17:12:52.666340","secret":"********","deactivated_at":"2212-09-07T17:03:29.829384","user":{"id":"USiBeLDwEWT_inkyE4CrRsrQ","created_at":"2020-12-07T18:45:55.641544"},"metadata":null,"updated_at":"2021-01-11T17:03:29.829434","user_id":"USiBeLDwEWT_inkyE4CrRsrQ"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Y_oSZGu4iYcF0Jw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '319'
      x-amzn-Remapped-Date:
      - Mon, 11 Jan 2021 17:13:38 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 00a60dba-959b-4c19-883a-fc27d2b91b1e
      x-amzn-RequestId:
      - e90fe29f-0850-4889-a0bc-63b9e686c003
    status:
      code: 200
      message: OK
version: 1
