interactions:
- request:
    body: '{"names": "Jos\u00e9", "first_surname": "L\u00f3pez", "second_surname":
      "Hern\u00e1ndez", "date_of_birth": "1966-06-06", "state_of_birth": "DF", "country_of_birth":
      "MX", "gender": "male", "manual_curp": null}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/curp_validations
  response:
    body:
      string: "{\"id\":\"CV82OsliJJRBazgSxh2wveXg\",\"created_at\":\"2022-06-16T17:25:41.655304\",\"names\":\"Jos\xE9\",\"first_surname\":\"L\xF3pez\",\"second_surname\":\"Hern\xE1ndez\",\"date_of_birth\":\"1966-06-06\",\"country_of_birth\":\"MX\",\"state_of_birth\":\"YN\",\"gender\":\"female\",\"nationality\":\"MX\",\"manual_curp\":null,\"calculated_curp\":\"LOHJ660606HDFPRS02\",\"validated_curp\":\"LOHJ660606HDFPRS02\",\"renapo_curp_match\":true,\"renapo_full_match\":false}"
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.476'
      x-amz-apigw-id:
      - T00fWHuLIAMF3dg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '405'
      x-amzn-Remapped-Date:
      - Thu, 16 Jun 2022 17:25:41 GMT
      x-amzn-Remapped-Server:
      - nginx/1.22.0
      x-amzn-RequestId:
      - e1f4ecd5-a2e1-4816-97d6-f011bf3b8131
    status:
      code: 201
      message: Created
- request:
    body: '{"curp": "LOHJ660606HDFPRS02", "phone_number": "+525511223344", "email_address":
      "jose@test.com", "profession": "employee", "address": {"street": "calle 1",
      "ext_number": "2", "postal_code": "09900", "state": "DF", "country": "MX", "city":
      null, "int_number": "3", "full_name": null}, "required_level": null, "phone_verification_id":
      null, "email_verification_id": null}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/users
  response:
    body:
      string: "{\"id\":\"USlen-v7UQSqqZTGVe3vQmLQ\",\"identity_uri\":\"/identities/IDtyYLgoJTRZq2xAabU5Mbzg\",\"created_at\":\"2022-06-16T17:25:41.983660\",\"updated_at\":\"2022-06-16T17:25:41.984049\",\"platform_id\":\"PTW68GgAc_QPmNCmgajmctLg\",\"level\":0,\"required_level\":4,\"phone_number\":\"+525511223344\",\"email_address\":\"jose@test.com\",\"profession\":\"employee\",\"clabe\":null,\"status\":\"active\",\"terms_of_service\":null,\"blacklist_validation_status\":\"not_verified\",\"address\":{\"street\":\"calle
        1\",\"ext_number\":\"2\",\"int_number\":\"3\",\"postal_code\":\"09900\",\"state\":\"DF\",\"city\":null,\"country\":\"MX\",\"created_at\":\"2022-06-16T17:25:41.983529\",\"full_name\":null},\"govt_id\":null,\"proof_of_address\":null,\"proof_of_life\":null,\"beneficiaries\":null,\"names\":\"Jos\xE9\",\"first_surname\":\"L\xF3pez\",\"second_surname\":\"Hern\xE1ndez\",\"curp\":\"LOHJ660606HDFPRS02\",\"rfc\":\"LOHJ660606MMA\"}"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - T00fcEBhoAMFYxw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '816'
      x-amzn-Remapped-Date:
      - Thu, 16 Jun 2022 17:25:43 GMT
      x-amzn-Remapped-Server:
      - nginx/1.22.0
      x-amzn-RequestId:
      - 1ba15a8d-b928-47b8-b75e-2294787ad01a
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/balance_entries?limit=1&user_id=USlen-v7UQSqqZTGVe3vQmLQ
  response:
    body:
      string: '{"items":[],"next_page_uri":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 4.092'
      x-amz-apigw-id:
      - T00fqEtPIAMFyfQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '33'
      x-amzn-Remapped-Date:
      - Thu, 16 Jun 2022 17:25:47 GMT
      x-amzn-Remapped-Server:
      - nginx/1.22.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 9e06c5b4-d3e5-431d-b82d-62025c522142
      x-amzn-RequestId:
      - acd5feab-4a37-4e63-bf2b-ad9acf471246
    status:
      code: 200
      message: OK
version: 1
