interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      x-amz-content-sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      x-amz-date:
      - 20201001T185431Z
    method: GET
    uri: https://sandbox.cuenca.com/commissions/PAXXX
  response:
    body:
      string: '{"id":"PAXXX","created_at":"2020-09-30T19:38:33.361000","user_id":"USXXX","amount":1000,"status":"succeeded","descriptor":"Comisi\u00f3n
        (cash_deposit)","related_transaction_uri":"/deposits/CDXXX"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - TvrcRHKtoAMFzqg=
      x-amzn-RequestId:
      - ac8833e6-b241-41b5-b7cc-7a7c3b67cb3f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sandbox.cuenca.com/config/route_configuration.json
  response:
    body:
      string: "{\n    \"default_route\": \"/oaxaca\",\n    \"routes\": {\n       \
        \ \"cards\": \"/knox\",\n        \"api_keys\": \"/authed\"\n    }\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"f35b9f1de4b47e51d5a9b8706ef54e6b"'
      Last-Modified:
      - Tue, 15 Sep 2020 22:51:15 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      x-amz-content-sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      x-amz-date:
      - 20201001T185434Z
    method: GET
    uri: https://sandbox.cuenca.com/deposits/CDXXX
  response:
    body:
      string: '{"id":"CDXXX","created_at":"2020-09-30T19:38:29.234000","user_id":"USXXX","amount":2002,"status":"succeeded","descriptor":"Deposito
        v\u00eda paynet auth 648695","source_uri":null,"network":"cash","tracking_key":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - TvrcrE9yoAMF4eQ=
      x-amzn-RequestId:
      - e45a9eba-29d6-4774-b463-3bf6e1295944
    status:
      code: 200
      message: OK
version: 1
