interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULIfKcTXnXRv-UV8HPObyxYw
    method: GET
    uri: https://sandbox.cuenca.com/savings/lAob5rOC0jSj6UC5RAbwnSnA
  response:
    body:
      string: '{"id":"lAob5rOC0jSj6UC5RAbwnSnA","created_at":"2021-08-13T00:36:55.471000","updated_at":"2021-08-13T00:36:55.471000","user_id":"US3zGWi1n852bTyqD1wCZ1ft","balance":0,"deactivated_at":"2021-08-13T00:50:40.133000","name":"my
        new home","category":"home","goal_amount":200000,"goal_date":"2021-08-23T00:55:27.870000"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.265'
      x-amz-apigw-id:
      - ESb_MGiliYcFjQw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '317'
      x-amzn-Remapped-Date:
      - Thu, 19 Aug 2021 00:33:11 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.1
      x-amzn-Remapped-x-amzn-RequestId:
      - c90ebe82-36e4-4692-aa72-d5aa1c3e1fd2
      x-amzn-RequestId:
      - 3499e59f-535a-4749-b920-6fd31a3860c3
    status:
      code: 200
      message: OK
version: 1
