interactions:
- request:
    body: '{"password": "222222"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/log_in
  response:
    body:
      string: '{"success":false,"id":"ULzQvGsqBzQFqwWjf-_4yD2Q","last_login_at":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.280'
      x-amz-apigw-id:
      - beVuVHVciYcFvgg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '70'
      x-amzn-Remapped-Date:
      - Sun, 28 Feb 2021 20:55:04 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 9a32b1f4-84db-4ccc-b117-0b4ce70fadc4
      x-amzn-RequestId:
      - 24ddbbe1-ffd6-49ce-8025-8ca10686557e
    status:
      code: 201
      message: Created
version: 1
