interactions:
- request:
    body: '{"type": "email", "recipient": "mail@cuenca.com", "platform_id": "PL01"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/verifications
  response:
    body:
      string: '{"id":"VE-4xUIsrHTB62U8vjfkx4mw","identity_id":null,"platform_id":"PL01","created_at":"2022-06-28T16:30:52.496393","updated_at":"2022-06-28T16:30:52.496685","deactivated_at":null,"recipient":"mail@cuenca.com","language":"en","type":"email"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - UcPtdG2oiYcFmuQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '240'
      x-amzn-Remapped-Date:
      - Tue, 28 Jun 2022 16:30:52 GMT
      x-amzn-Remapped-Server:
      - nginx/1.22.0
      x-amzn-RequestId:
      - aa54f7c1-ce61-4fed-b12a-d08ca75e120d
    status:
      code: 201
      message: Created
- request:
    body: '{"phone_number": null, "email_address": null, "profession": null, "verification_id":
      null, "email_verification_id": "VE-4xUIsrHTB62U8vjfkx4mw", "phone_verification_id":
      null, "address": null, "beneficiaries": null, "govt_id": null, "proof_of_address":
      null, "proof_of_life": null, "status": null, "terms_of_service": null, "platform_terms_of_service":
      null}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: PATCH
    uri: https://sandbox.cuenca.com/users/USV6ONckmjQNOM9p3_bRMyxg
  response:
    body:
      string: '{"id":"USV6ONckmjQNOM9p3_bRMyxg","identity_uri":"/identities/IDvq7J_lS0Sr2E6C62oCfn3g","created_at":"2022-06-24T16:26:56.882000","updated_at":"2022-06-28T20:27:10.579110","platform_id":"PTZbBlk__kQt-wfwzP5nwA9A","level":0,"required_level":4,"phone_number":"+525511223344","email_address":"mail@cuenca.com","profession":null,"clabe":null,"status":"in_review","terms_of_service":null,"blacklist_validation_status":"succeeded","address":null,"govt_id":null,"proof_of_address":null,"proof_of_life":null,"beneficiaries":null,"names":"Miguel","first_surname":"Acosta","second_surname":"Ventura","curp":"LOHJ660606HDFPRS02","rfc":"LOHJ660606HDFP"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - UcyUwHEZCYcF3jQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '639'
      x-amzn-Remapped-Date:
      - Tue, 28 Jun 2022 20:27:10 GMT
      x-amzn-Remapped-Server:
      - nginx/1.22.0
      x-amzn-RequestId:
      - 9aa44bc1-b948-41c7-ad81-ec7e2723d64e
    status:
      code: 200
      message: OK
version: 1
