interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/files?limit=1&type=ine
  response:
    body:
      string: '{"items":[{"id":"EFXXX","created_at":"2022-03-01T05:18:51.682000","extension":"jpeg","type":"ine","url":"https://s3.amazon.com/patzcuaro-sandbox/2022-3-1/d7439846a5332633538a5a7e1e60b903146ad1d6","user_id":"US01"}],"next_page_uri":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.151'
      x-amz-apigw-id:
      - OSgScHE5iYcFzYg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '273'
      x-amzn-Remapped-Date:
      - Tue, 01 Mar 2022 05:22:49 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - f171a4ce-983d-40d1-a4e0-e79f97da2ade
    status:
      code: 200
      message: OK
version: 1
