interactions:
- request:
    body: '{"status": "blocked"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: PATCH
    uri: https://sandbox.cuenca.com/cards/CAycvo_X9TQoKOKsaAvdqn3w
  response:
    body:
      string: '{"id":"CAycvo_X9TQoKOKsaAvdqn3w","created_at":"2021-02-21T16:03:37.590000","updated_at":"2021-02-21T16:03:37.590000","user_id":"US1237","number":"5448750078699849","exp_month":2,"exp_year":2026,"cvv2":"353","type":"virtual","status":"blocked","batch":null,"manufacturer":null,"cvv":null,"icvv":null,"pin":null,"issuer":"cuenca","funding_type":"debit","_cls":"BaseCard.CuencaCard"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - bKvBcGETCYcFb-Q=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '380'
      x-amzn-Remapped-Date:
      - Mon, 22 Feb 2021 22:09:40 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 004a6108-bed4-4b03-804a-6a8c96234551
      x-amzn-RequestId:
      - 01c2252d-48eb-43d0-b20b-fa0b8ecf1a24
    status:
      code: 200
      message: OK
- request:
    body: '{"status": "active"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: PATCH
    uri: https://sandbox.cuenca.com/cards/CAycvo_X9TQoKOKsaAvdqn3w
  response:
    body:
      string: '{"id":"CAycvo_X9TQoKOKsaAvdqn3w","created_at":"2021-02-21T16:03:37.590000","updated_at":"2021-02-21T16:03:37.590000","user_id":"US1237","number":"5448750078699849","exp_month":2,"exp_year":2026,"cvv2":"353","type":"virtual","status":"active","batch":null,"manufacturer":null,"cvv":null,"icvv":null,"pin":null,"issuer":"cuenca","funding_type":"debit","_cls":"BaseCard.CuencaCard"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - bKvBuE-ACYcF59A=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '379'
      x-amzn-Remapped-Date:
      - Mon, 22 Feb 2021 22:09:42 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - a4b0dd2d-39d5-4d5c-9bd5-83b38ac4904f
      x-amzn-RequestId:
      - 30367948-1a1e-4ebf-892e-41f5d1a6772c
    status:
      code: 200
      message: OK
version: 1
