interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      x-amz-content-sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      x-amz-date:
      - 20201029T175606Z
    method: GET
    uri: https://sandbox.cuenca.com/card_transactions/CT001
  response:
    body:
      string: '{"id":"CT001","created_at":"2020-10-29T16:39:51.279000","user_id":"US4PCNV8rLB2wqBfORzIAXUl","amount":300,"status":"created","descriptor":"Superama
        Michoacan","type":"auth","network":"visa","related_card_transaction_uris":["/card_transactions/CT3749UxhLljsima27fLTCCk","/card_transactions/CT4jC3Dh65FNmb0lGBTnvr4I"],"card_last4":"0359","card_type":"virtual","merchant":"MAnQlrBd4GWjyXY4BctLlM7","metadata":{"authorizer_number":null,"card_acceptor":null,"commission":null,"currency_code":"484","is_cvv":null,"pos_capabilty":null,"prosa_transaction_id":"86562","retrieval_reference":"82903776","track_data_method":null,"transaction_reference":null},"error_type":null,"expired_at":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - VL1InHpHoAMFwTQ=
      x-amzn-RequestId:
      - 1dd6aa4b-6b4e-4fcf-b968-5be9186b6c82
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      x-amz-content-sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      x-amz-date:
      - 20201029T175607Z
    method: GET
    uri: https://sandbox.cuenca.com/card_transactions/CT3749UxhLljsima27fLTCCk
  response:
    body:
      string: '{"id":"CT3749UxhLljsima27fLTCCk","created_at":"2020-10-29T16:39:52.789000","user_id":"US4PCNV8rLB2wqBfORzIAXUl","amount":300,"status":"created","descriptor":"Superama
        Michoacan","type":"refund","network":"visa","related_card_transaction_uris":["/card_transactions/[''CT001'']"],"card_last4":"0359","card_type":"virtual","merchant":"MAnQlrBd4GWjyXY4BctLlM7","metadata":{"authorizer_number":null,"card_acceptor":null,"commission":null,"currency_code":"484","is_cvv":null,"pos_capabilty":null,"prosa_transaction_id":"55107","retrieval_reference":"990131889","track_data_method":null,"transaction_reference":null},"error_type":null,"expired_at":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - VL1IoExaoAMF4KQ=
      x-amzn-RequestId:
      - 4b638fe7-3760-4609-a707-a108a9a50580
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      x-amz-content-sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      x-amz-date:
      - 20201029T175607Z
    method: GET
    uri: https://sandbox.cuenca.com/card_transactions/CT4jC3Dh65FNmb0lGBTnvr4I
  response:
    body:
      string: '{"id":"CT4jC3Dh65FNmb0lGBTnvr4I","created_at":"2020-10-29T16:52:39.044000","user_id":"US4PCNV8rLB2wqBfORzIAXUl","amount":300,"status":"created","descriptor":"Superama
        Michoacan","type":"refund","network":"visa","related_card_transaction_uris":["/card_transactions/[''CT001'']"],"card_last4":"0359","card_type":"virtual","merchant":"MAnQlrBd4GWjyXY4BctLlM7","metadata":{"authorizer_number":null,"card_acceptor":null,"commission":null,"currency_code":"484","is_cvv":null,"pos_capabilty":null,"prosa_transaction_id":"40352","retrieval_reference":"765187539","track_data_method":null,"transaction_reference":null},"error_type":null,"expired_at":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - VL1IqE9mIAMFoSA=
      x-amzn-RequestId:
      - 77f7c585-bf56-4f0d-87a5-b6abfdc0e6b1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      x-amz-content-sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      x-amz-date:
      - 20201029T175614Z
    method: GET
    uri: https://sandbox.cuenca.com/card_transactions/CT4jC3Dh65FNmb0lGBTnvr4I
  response:
    body:
      string: '{"id":"CT4jC3Dh65FNmb0lGBTnvr4I","created_at":"2020-10-29T16:52:39.044000","user_id":"US4PCNV8rLB2wqBfORzIAXUl","amount":300,"status":"created","descriptor":"Superama
        Michoacan","type":"refund","network":"visa","related_card_transaction_uris":["/card_transactions/[''CT001'']"],"card_last4":"0359","card_type":"virtual","merchant":"MAnQlrBd4GWjyXY4BctLlM7","metadata":{"authorizer_number":null,"card_acceptor":null,"commission":null,"currency_code":"484","is_cvv":null,"pos_capabilty":null,"prosa_transaction_id":"40352","retrieval_reference":"765187539","track_data_method":null,"transaction_reference":null},"error_type":null,"expired_at":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - VL1JwEYnoAMFetw=
      x-amzn-RequestId:
      - 4a01365a-bda5-4a39-8752-9c1fb5ff3da6
    status:
      code: 200
      message: OK
version: 1
