interactions:
- request:
    body: '{}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/api_keys
  response:
    body:
      string: '{"id":"AKLjDfovMVS4aOHQWrj8XOWQ","created_at":"2021-02-18T19:52:23.756561","secret":"sSoXlqzgmgi8Fwl685Z2Za6TmoYnhk_8Qe7PY_kTXKUzpcYlt6oV7XccuDNejE2EHntv0ZLbMRDnVxl58qrR0Q","deactivated_at":"2212-10-15T19:51:32.675617","user":{"id":"USJaz512A7ROOh7N3pqKGMZg","created_at":"2021-02-11T19:44:54.016164"},"updated_at":"2021-02-18T19:51:32.675665","user_id":"USJaz512A7ROOh7N3pqKGMZg"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - a9PJ4EqMCYcFiSg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '381'
      x-amzn-Remapped-Date:
      - Thu, 18 Feb 2021 19:52:23 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 92bdde37-0c81-49dd-be18-1f0ace56d8db
      x-amzn-RequestId:
      - 7fba7fc2-9986-4364-8862-a6dcb2f50150
    status:
      code: 201
      message: Created
version: 1
