interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/transfers?status=succeeded&count=1
  response:
    body:
      string: '{"count":2}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - MzYj5GkfoAMFmPA=
      x-amzn-RequestId:
      - 8351b405-1f38-4e75-81c1-5f960649e02d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/transfers?status=succeeded
  response:
    body:
      string: '{"items":[{"id":"TRhKxyL1lhQvSiMx7whOpEJA==","created_at":"2020-05-19T19:34:31.400000","updated_at":"2020-05-19T19:34:34.985000","account_number":"646180157034181180","recipient_name":"Rogelio","amount":10000,"descriptor":"Transferencia
        Demo","idempotency_key":"key_roger_2","status":"succeeded","network":"internal","destination_uri":null,"tracking_key":null},{"id":"TRRAnqEwwRRZWVgwbDjtAGeA==","created_at":"2020-05-19T19:07:10.018000","updated_at":"2020-05-19T19:07:14.234000","account_number":"646180157034181180","recipient_name":"Rogelio","amount":10000,"descriptor":"Transferencia
        Demo","idempotency_key":"key_roger_3","status":"succeeded","network":"internal","destination_uri":null,"tracking_key":null}],"next_page_url":"/transfers?limit=100&created_before=2020-05-19T19%3A07%3A10.018000&status=succeeded"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - MzYkWGC0oAMFb9w=
      x-amzn-RequestId:
      - 306ac85b-fb9e-4fee-afbc-8aecb84f7e33
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/transfers?limit=100&created_before=2020-05-19T19%3A07%3A10.018000&status=succeeded
  response:
    body:
      string: '{"items":[],"next_page_url":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - MzYkZEH6oAMFfMw=
      x-amzn-RequestId:
      - 2bfceac0-ae88-4e57-8cac-bc5a689327ca
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/transfers?count=1
  response:
    body:
      string: '{"count":306}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - MzYmdGWlIAMF-mw=
      x-amzn-RequestId:
      - f5f994c9-62d7-4f1d-99eb-ec7dbc947978
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/transfers
  response:
    body:
      string: '{"items":[{"id":"TRNEejctVIQuyNCjAGwq1IUw==","created_at":"2020-05-19T23:04:08.029000","updated_at":"2020-05-19T23:04:08.733000","account_number":"646180157042875763","recipient_name":"Benito
        Ju\u00e1rez","amount":12345,"descriptor":"sending money","idempotency_key":"31[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/transfers?limit=100&created_before=2020-05-19T22%3A50%3A42.916000
  response:
    body:
      string: '{"items":[{"id":"TRa7QsZJxfTB2tmrY3SciCMA==","created_at":"2020-05-19T22:50:42.296000","updated_at":"2020-05-19T22:50:45.662000","account_number":"646180157042875763","recipient_name":"Benito
        Ju\u00e1rez","amount":[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/transfers?limit=100&created_before=2020-05-19T19%3A07%3A10.018000
  response:
    body:
      string: '{"items":[],"next_page_url":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - MzYsKHgsoAMF3mQ=
      x-amzn-RequestId:
      - c2cedd66-1067-4206-ab5d-49ec339b85e5
    status:
      code: 200
      message: OK
version: 1
