interactions:
- request:
    body: '{"location": {"latitude": 19.432608, "longitude": -99.133209}}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://api.stage.cuenca.com/password_resets
  response:
    body:
      string: '{"id":"PR9tshvjCQT0KNEaW2MGCxFQ","identity_id":"69fccbd11cb7a08a26d59a2a","platform_id":"PTZbBlk__kQt-wfwZP5nwA9A","created_at":"2026-05-07T17:28:48.176876","updated_at":"2026-05-07T17:28:49.400276","deactivated_at":null,"verification_id":"VE9Wfa1nYLQSmJPH44Egh9UQ","flow_id":"69f8e0bc2a21320eeff89b37","mati_verification_id":"69fccbd11cb7a08a26d59a2c","status":"created","provider_url":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
