interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/terminal?limit=1&slug=tacos-pepe
  response:
    body:
      string: '{"items":[{"id": "TR000396", "brand_name": "Tacos Pepe", "brand_image": "https://s3.amazonaws.com/feedme.cuenca.io/abc123", "slug": "tacos-pepe", "card_active":
      true, "cash_active": true, "spei_active": true, "stripe_ready": true, "created_at":"2020-05-11T18:41:00.332534","updated_at":"2020-05-11T18:41:00.352103"}], "next_page_url": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/terminal?limit=1&user_id=invalid
  response:
    body:
      string: '{"items":[], "next_page_url": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
