interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/kyc_validations/KVFOO
  response:
    body:
      string: '{"id":"KVvwIQTxHdQvOq769mEnoJsQ","created_at":"2025-03-27T20:10:03.783000","platform_id":"PTk5BbZcExRq-1u2W3J9mZpw","files_uri":["https://stage.cuenca.com/files/EF5pRc5dO4Q8WE6_zGCYUX6A","https://stage.cuenca.com/files/EF-y7kGVwlRESVGZOT-twioQ","https://stage.cuenca.com/files/EFB-J1hALOTPuuETDY5dtJJA","https://stage.cuenca.com/files/EFTrtO44_7QRiuRB8uXQizaw"],"user_id":"USze_Bh1zhROKehtBOS7EHlw","verification_id":"67e5b09c05c3102617d622b0","identity_id":"67e5b09c05c3101df5d622ad","source_type":"server","flow_id":"63486ce1e94af4001c126ccf"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.544'
      x-amz-apigw-id:
      - IGmwBF8BiYcEFLA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '545'
      x-amzn-Remapped-Date:
      - Thu, 27 Mar 2025 20:41:36 GMT
      x-amzn-Remapped-Server:
      - nginx/1.26.3
      x-amzn-RequestId:
      - 4fd4b9c9-08cf-44bb-b191-b8f18f10004c
    status:
      code: 200
      message: OK
version: 1
