interactions:
- request:
    body: '{}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/api_keys
  response:
    body:
      string: '{"id":"AK65Xx4QRmSp-kY-svK_kW6g","created_at":"2021-02-11T20:06:17.348677","secret":"vZKDb2BFb17lmAQTaljKd5whcncJ0TihswF2iKxpHPvaJv7z-R12WwMrAuobko0VXlmTUxVPqDP3TGBlKS_Hyw","deactivated_at":"2212-10-08T19:54:42.308379","user":{"id":"USJaz512A7ROOh7N3pqKGMZg","created_at":"2021-02-11T19:44:54.016164"},"updated_at":"2021-02-11T19:54:42.308426","user_id":"USJaz512A7ROOh7N3pqKGMZg"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - amMo8HWMiYcF8Mw=
      x-amzn-RequestId:
      - 14929ccd-1f3b-4e5a-9364-fedc0e0051c3
    status:
      code: 201
      message: Created
- request:
    body: '{"minutes": 0}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: DELETE
    uri: https://sandbox.cuenca.com/api_keys/AK65Xx4QRmSp-kY-svK_kW6g
  response:
    body:
      string: '{"id":"AK65Xx4QRmSp-kY-svK_kW6g","created_at":"2021-02-11T20:06:17.348677","secret":"********","deactivated_at":"2021-02-11T20:06:17.391434","user":{"id":"USJaz512A7ROOh7N3pqKGMZg","created_at":"2021-02-11T19:44:54.016164"},"updated_at":"2021-02-11T20:06:17.391471","user_id":"USJaz512A7ROOh7N3pqKGMZg"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - amMo-F9aCYcFUMw=
      x-amzn-RequestId:
      - 39d35856-da34-4e97-b249-06c3eb396ad1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/api_keys/AK65Xx4QRmSp-kY-svK_kW6g
  response:
    body:
      string: '{"id":"AK65Xx4QRmSp-kY-svK_kW6g","created_at":"2021-02-11T20:06:17.348677","secret":"********","deactivated_at":"2021-02-11T20:06:17.391434","user":{"id":"USJaz512A7ROOh7N3pqKGMZg","created_at":"2021-02-11T19:44:54.016164"},"updated_at":"2021-02-11T20:06:17.391471","user_id":"USJaz512A7ROOh7N3pqKGMZg"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - amMo_E6-CYcFaxw=
      x-amzn-RequestId:
      - 9017ff70-2871-431e-9c96-f75041573e60
    status:
      code: 200
      message: OK
version: 1
