interactions:
- request:
    body: '{"password": "111111"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/log_in
  response:
    body:
      string: '{"success":true,"id":"UL24hWwhm5QsGk-n2KvAYEFQ","last_login_at":"2021-02-28T21:32:02.556597"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 1.508'
      x-amz-apigw-id:
      - bebnrHpLCYcFT3Q=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '93'
      x-amzn-Remapped-Date:
      - Sun, 28 Feb 2021 21:35:20 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - fe314492-0517-4f6b-8d4b-1651cb015169
      x-amzn-RequestId:
      - 93884041-8ccb-4282-ad55-dac7d87eed52
    status:
      code: 201
      message: Created
- request:
    body: '{"password": "111111"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - UL24hWwhm5QsGk-n2KvAYEFQ
    method: DELETE
    uri: https://sandbox.cuenca.com/passwords/me
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.082'
      x-amz-apigw-id:
      - bebn7HrUiYcFSUA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Sun, 28 Feb 2021 21:35:21 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 195906e9-5725-48d3-a704-cc0c67483512
      x-amzn-RequestId:
      - 40380657-3c20-473b-943f-9ad57c7eb15d
    status:
      code: 201
      message: Created
- request:
    body: '{"password": "222222"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - UL24hWwhm5QsGk-n2KvAYEFQ
    method: POST
    uri: https://sandbox.cuenca.com/passwords
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.322'
      x-amz-apigw-id:
      - bebn9GyTCYcF1zg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Sun, 28 Feb 2021 21:35:21 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 2156cd2a-34b2-4769-a1cc-43bafc63ed19
      x-amzn-RequestId:
      - 5e906101-4326-40c5-9918-e3c37198bbdd
    status:
      code: 201
      message: Created
version: 1
