interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTWewyQrKfRP-374RwKNkFXA
    method: GET
    uri: https://sandbox.cuenca.com/transfers?limit=1&account_number=646180157046685645
  response:
    body:
      string: '{"items":[{"id":"LT4EOaa93rHWYKIzg2RGyOba","created_at":"2020-10-23T22:24:39.354000","updated_at":"2021-02-25T23:03:05.396000","account_number":"646180157046685645","recipient_name":"Alan
        Rodrigo Garrido Valencia","amount":16,"descriptor":"Te woa roabar","idempotency_key":"LT4EOaa93rHWYKIzg2RGyOba","status":"succeeded","network":"internal","destination_uri":"/accounts/LA1CVCZVNLR4KM42kPcqhBLV","tracking_key":"LT4EOaa93rHWYKIzg2RGyOba","user_id":"US4PCNV8rLB2wqBfORzIAXUl","reference_number":null}],"next_page_uri":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.384'
      x-amz-apigw-id:
      - bn662HkNiYcFezg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '523'
      x-amzn-Remapped-Date:
      - Wed, 03 Mar 2021 18:41:09 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 31fd83f8-f7ec-4e94-8c65-d1e2c48248cc
      x-amzn-RequestId:
      - a0c82d93-e725-4fb7-8cd8-8fc96cb89697
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTWewyQrKfRP-374RwKNkFXA
    method: GET
    uri: https://sandbox.cuenca.com/transfers?limit=1&account_number=bad_account
  response:
    body:
      string: '{"items":[],"next_page_uri":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.241'
      x-amz-apigw-id:
      - bn667GeXCYcFeYw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '33'
      x-amzn-Remapped-Date:
      - Wed, 03 Mar 2021 18:41:10 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - be3c56de-ed40-4537-8f16-91b9e13b141d
      x-amzn-RequestId:
      - c4251b0f-3bd0-4fe0-a7ae-7f17384b994c
    status:
      code: 200
      message: OK
version: 1
