interactions:
- request:
    body: '{}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/kyc_verifications
  response:
    body:
      string: '{"id":"KYCY01","identity_id":null,"platform_id":"PT01","created_at":"2022-05-04T21:49:28.696688","updated_at":"2022-05-04T21:49:28.697159","deactivated_at":null,"verification_id":null,"curp":null,"rfc":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Rns0XHhNCYcFwdg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '246'
      x-amzn-Remapped-Date:
      - Wed, 04 May 2022 21:49:28 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - d2c3bb25-34c1-4858-9de2-d1b4e60d2c81
    status:
      code: 201
      message: Created
version: 1
