interactions:
- request:
    body: '{"number": "1234567890123403", "exp_month": 2, "exp_year": 25, "cvv": "685",
      "cvv2": "150", "icvv": "399", "pin_block": "BDIEHA38457W"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/card_validations
  response:
    body:
      string: '{"id":"CVlYj-hNIfQpmJH7mcc8GpoA","created_at":"2021-04-14T23:19:53.928000","card_uri":"/cards/CA7pET83WM25VXO3IQ8BwYO3","user_id":"US3zGWi1n852bTyqD1wCZ1ft","card_status":"active","card_type":"physical","is_active":true,"is_valid_cvv":true,"is_valid_cvv2":true,"is_valid_icvv":true,"is_valid_pin_block":true,"is_valid_exp_date":true,"is_expired":false}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 5.099'
      x-amz-apigw-id:
      - dy_HSH_miYcF2Yw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '353'
      x-amzn-Remapped-Date:
      - Wed, 14 Apr 2021 23:19:54 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 1b3475f9-24d3-4d08-bad5-de61287be5e4
      x-amzn-RequestId:
      - c0f8ddfb-88d8-4d11-b3cf-7a4048abdea5
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/cards/CA7pET83WM25VXO3IQ8BwYO3
  response:
    body:
      string: '{"id":"CA7pET83WM25VXO3IQ8BwYO3","created_at":"2021-03-11T22:54:35.337000","updated_at":"2021-03-11T23:45:23.266000","user_id":"US3zGWi1n852bTyqD1wCZ1ft","number":"5448750129965637","exp_month":2,"exp_year":25,"cvv2":"150","type":"physical","status":"active","pin":"6725","issuer":"cuenca","funding_type":"debit","pin_block":"461F248CA285A5CB","batch":null,"manufacturer":null,"cvv":"685","icvv":"399","pin_block_switch":"3B241739AB05D290","pin_block_embosser":"26641FB1CB03B667"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.708'
      x-amz-apigw-id:
      - dy_IHEEZiYcFQsw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '480'
      x-amzn-Remapped-Date:
      - Wed, 14 Apr 2021 23:19:54 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - fbde3e85-a233-481e-b0c0-33b0e9fc92d1
      x-amzn-RequestId:
      - 624ac3a8-9c57-4b4e-83b8-a7f21722e4ff
    status:
      code: 200
      message: OK
version: 1
