interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/balance_entries/TV01
  response:
    body:
      string: '{"id":"TV01","created_at":"2020-06-01T03:07:27.879000","amount":10000,"descriptor":"Test
        deposit","rolling_balance":10000,"transaction_uri":"/deposits/SP01"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - OM7uAF3JoAMF2GA=
      x-amzn-RequestId:
      - ee92b173-840e-47ab-8041-876d99d24102
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/deposits/SP01
  response:
    body:
      string: '{"id":"SP01","created_at":"2020-06-03T03:07:36.338000","amount":10000,"status":"succeeded","descriptor":"SPEI
        1","source":"BA01","network":"spei","tracking_key":"RASTREO_1234","user_id":"US01"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - OM7utGv3IAMFf6g=
      x-amzn-RequestId:
      - 0e4fa451-7a8a-4e46-867d-0547f72ac39c
    status:
      code: 200
      message: OK
version: 1
