interactions:
- request:
    body: '{"recipient_name": "Rogelio Lopez", "account_number": "646180157034181180",
      "amount": 10000, "descriptor": "Mi primer transferencia", "idempotency_key":
      "35b241e25814445faf25c9cbcfc388a5"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/transfers
  response:
    body:
      string: '{"id":"TRnjQzaKRlS-GS6ww4WG0BEg==","created_at":"2020-06-01T13:58:30.058417","updated_at":"2020-06-01T13:58:31.355352","account_number":"646180157034181180","recipient_name":"Rogelio
        Lopez","amount":10000,"descriptor":"Mi primer transferencia","idempotency_key":"35b241e25814445faf25c9cbcfc388a5","status":"submitted","network":"internal","tracking_key":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Nc5s9FSloAMF2Tw=
      x-amzn-RequestId:
      - 4d276ef3-4368-4079-a99d-a672de031b7d
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"recipient_name": "Rogelio Lopez", "account_number": "4050000000000001",
      "amount": 10002, "descriptor": "Mi transferencia invalida", "idempotency_key":
      "4a92e77054ba4e369a134e400f7c313d"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/transfers
  response:
    body:
      string: "[\n  {\n    \"loc\": [\n      \"account_number\"\n    ],\n    \"msg\":
        \"ensure this value has at least 18 characters\",\n    \"type\": \"value_error.any_str.min_length\",\n
        \   \"ctx\": {\n      \"limit_value\": 18\n    }\n  }\n]"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Nc5tREYOoAMFnxw=
      x-amzn-RequestId:
      - 4c2673db-720a-489f-a8fa-802e7fac5e16
    status:
      code: 400
      message: Bad Request
version: 1
