interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULIfKcTXnXRv-UV8HPObyxYw
    method: GET
    uri: https://sandbox.cuenca.com/balance_entries?limit=2&funding_instrument_uri=%2Faccounts%2FAC123
  response:
    body:
      string: '{"items":[{"id":"LE5GJeiroumFM1oJyHWiSXYd","created_at":"2021-04-15T01:11:04.274000","user_id":"US3zGWi1n852bTyqD1wCZ1ft","name":"Jessica
        Shalom Gonzalez Torres","amount":2000,"descriptor":"test","rolling_balance":987494,"type":"debit","related_transaction_uri":"/transfers/LT1aUnovF7vXiLze0U4FN4V3","funding_instrument_uri":"/accounts/AC83fJw_9vXEuOinGyZ44ntA","wallet_id":"default"}],"next_page_uri":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.316'
      x-amz-apigw-id:
      - EBZuWG_ZCYcF9nw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '407'
      x-amzn-Remapped-Date:
      - Fri, 13 Aug 2021 20:30:19 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.1
      x-amzn-Remapped-x-amzn-RequestId:
      - 141d4143-1533-4c9b-8bea-853da5d1e4ac
      x-amzn-RequestId:
      - 52f1a44d-f4cf-4940-8391-107914cc198f
    status:
      code: 200
      message: OK
version: 1
