interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/cards?limit=2&number=5448750078699849&exp_month=2&exp_year=2026&cvv2=353
  response:
    body:
      string: '{"items":[{"id":"CAycvo_X9TQoKOKsaAvdqn3w","created_at":"2021-02-21T16:03:37.590000","updated_at":"2021-02-21T16:03:37.590000","user_id":"US1237","number":"5448750078699849","exp_month":2,"exp_year":2026,"cvv2":"353","type":"virtual","status":"active","batch":null,"manufacturer":null,"cvv":null,"icvv":null,"pin":null,"issuer":"cuenca","funding_type":"debit","_cls":"BaseCard.CuencaCard"}],"next_page_uri":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - bKu9jF9dCYcFnTg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '412'
      x-amzn-Remapped-Date:
      - Mon, 22 Feb 2021 22:09:19 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - d477f3e4-eece-41a0-ba7c-a500ee082477
      x-amzn-RequestId:
      - 56d72566-bfb2-441c-a983-26f1ed0a34ca
    status:
      code: 200
      message: OK
version: 1
