interactions:
- request:
    body: '{"url": "https://url.io", "is_enable": false, "events": ["user.create",
      "cash_deposit.create"]}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULev1mLmNST6ie3wcket7c-w
    method: PATCH
    uri: https://sandbox.cuenca.com/endpoints/EN02
  response:
    body:
      string: '{"id":"EN02","created_at":"2022-09-14T21:12:30.710000","updated_at":"2022-09-14T21:12:30.710000","deactivated_at":null,"secret":"********","is_enable":false,"url":"https://url.io","events":["user.create","cash_deposit.create"],"user_id":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.168'
      x-amz-apigw-id:
      - Yd_exHKQIAMF6kA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '262'
      x-amzn-Remapped-Date:
      - Wed, 14 Sep 2022 21:22:00 GMT
      x-amzn-Remapped-Server:
      - nginx/1.22.0
      x-amzn-RequestId:
      - 6f27c80d-6e86-43ac-8d31-ed02cc64bd01
    status:
      code: 200
      message: OK
version: 1
