interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULIfKcTXnXRv-UV8HPObyxYw
    method: GET
    uri: https://sandbox.cuenca.com/balance_entries/LE123
  response:
    body:
      string: '{"id":"LE123","created_at":"2021-08-05T23:44:58.920000","user_id":"US3zGWi1n852bTyqD1wCZ1ft","name":"RESTAURANT
        BRASIL MEXICO DF CMXMX","amount":1212,"descriptor":"","rolling_balance":7586621,"type":"debit","related_transaction_uri":"/card_transactions/CT301Gnn3RoIQ9KezdYu5ika","funding_instrument_uri":"/cards/CA243qFpGLDAaPamCMYHhS0p","wallet_id":"default"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.300'
      x-amz-apigw-id:
      - EBZo5GwzCYcFiUA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '379'
      x-amzn-Remapped-Date:
      - Fri, 13 Aug 2021 20:29:45 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.1
      x-amzn-Remapped-x-amzn-RequestId:
      - 4934335e-52f2-4ab5-99c0-d554aea0ca91
      x-amzn-RequestId:
      - 00f3be5c-bca7-4e7c-9d60-228ac09c7a95
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULIfKcTXnXRv-UV8HPObyxYw
    method: GET
    uri: https://sandbox.cuenca.com/card_transactions/CT301Gnn3RoIQ9KezdYu5ika
  response:
    body:
      string: '{"id":"CT301Gnn3RoIQ9KezdYu5ika","created_at":"2021-08-05T23:44:58.820000","user_id":"US3zGWi1n852bTyqD1wCZ1ft","amount":1212,"status":"succeeded","descriptor":"RESTAURANT
        BRASIL MEXICO DF CMXMX","type":"auth","network":"visa","related_card_transaction_uris":[],"card_last4":"1470","card_type":"physical","card_uri":"/cards/CA243qFpGLDAaPamCMYHhS0p","metadata":{"authorizer_number":"271142","card_acceptor":null,"commission":0,"currency_code":"484","is_cvv":false,"pos_capabilty":"pin_accepted","cardholder_verification_method":"pin","atm_fee":null,"prosa_transaction_id":"000028","retrieval_reference":"000000000528","track_data_method":"terminal","transaction_reference":null},"error_type":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.363'
      x-amz-apigw-id:
      - EBZq-Eo_CYcF6OA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '697'
      x-amzn-Remapped-Date:
      - Fri, 13 Aug 2021 20:29:58 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.1
      x-amzn-Remapped-x-amzn-RequestId:
      - 36051ce0-7d91-41e4-bcb8-8cdbd1de8d02
      x-amzn-RequestId:
      - da3f8e47-035f-4a4c-b1bc-38f643e188ea
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULIfKcTXnXRv-UV8HPObyxYw
    method: GET
    uri: https://sandbox.cuenca.com/cards/CA243qFpGLDAaPamCMYHhS0p
  response:
    body:
      string: '{"id":"CA243qFpGLDAaPamCMYHhS0p","created_at":"2021-03-11T23:27:21.122000","updated_at":"2021-08-05T23:38:13.232000","user_id":"US3zGWi1n852bTyqD1wCZ1ft","number":"5448750142981470","exp_month":2,"exp_year":25,"cvv2":"257","type":"physical","status":"active","pin":"4536","issuer":"cuenca","funding_type":"debit","manufacturer":null,"cvv":"659","icvv":"339","pin_block":null,"pin_block_switch":"332FC7702D108FC5","pin_attempts_failed":0}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 4.765'
      x-amz-apigw-id:
      - EBZrlGlCCYcFfVg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '437'
      x-amzn-Remapped-Date:
      - Fri, 13 Aug 2021 20:30:06 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.1
      x-amzn-Remapped-x-amzn-RequestId:
      - 87c56ffd-cb52-4e8f-8cf4-54fb018c9a16
      x-amzn-RequestId:
      - 35ba4df5-63be-4be8-877b-ad72186cea4f
    status:
      code: 200
      message: OK
version: 1
