interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      x-amz-content-sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      x-amz-date:
      - 20201029T190309Z
    method: GET
    uri: https://sandbox.cuenca.com/card_transactions/CT004
  response:
    body:
      string: '{"id":"CT004","created_at":"2020-10-29T18:04:36.318000","user_id":"US4PCNV8rLB2wqBfORzIAXUl","amount":300,"status":"failed","descriptor":"Superama
        Michoacan","type":"expiration","network":"visa","related_card_transaction_uris":[],"card_last4":"0359","card_type":"virtual","merchant":"MAnQlrBd4GWjyXY4BctLlM7","metadata":{"authorizer_number":null,"card_acceptor":null,"commission":null,"currency_code":"484","is_cvv":null,"pos_capabilty":null,"prosa_transaction_id":"68697","retrieval_reference":"899493694","track_data_method":null,"transaction_reference":null},"error_type":null,"expired_at":"2020-10-29T18:04:36.404000"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - VL-9QGA8IAMFsvw=
      x-amzn-RequestId:
      - f2502322-83bc-4850-83f1-53e77b9f204a
    status:
      code: 200
      message: OK
version: 1
