interactions:
- request:
    body: '{"recipient_name": "Rogelio Lopez", "account_number": "646180157034181180",
      "amount": 10000, "descriptor": "Mi primer transferencia", "idempotency_key":
      "35b241e25814445faf25c9cbcfc388a6"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTWewyQrKfRP-374RwKNkFXA
    method: POST
    uri: https://sandbox.cuenca.com/transfers
  response:
    body:
      string: '{"id":"TRTtT-P6ZGRq-XOnSAwSnfQQ","created_at":"2021-03-03T18:53:49.680772","updated_at":"2021-03-03T18:53:50.108897","account_number":"646180157034181180","recipient_name":"Rogelio
        Lopez","amount":10000,"descriptor":"Mi primer transferencia","idempotency_key":"35b241e25814445faf25c9cbcfc388a6","status":"submitted","network":"internal","destination_uri":"/accounts/ACQVx7_Bw8TR2VBccVnfxwgA","tracking_key":null,"user_id":"US4PCNV8rLB2wqBfORzIAXUl","reference_number":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.711'
      x-amz-apigw-id:
      - bn8xnGShiYcFqKw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '473'
      x-amzn-Remapped-Date:
      - Wed, 03 Mar 2021 18:53:50 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - ebbb7bd7-fefc-4e24-8b67-3dba3f5adac0
      x-amzn-RequestId:
      - 19c1a6a0-e6d1-426c-9908-17dccbabf26f
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"recipient_name": "Rogelio Lopez", "account_number": "4050000000000001",
      "amount": 10002, "descriptor": "Mi transferencia invalida", "idempotency_key":
      "4a92e77054ba4e369a134e400f7c313e"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTWewyQrKfRP-374RwKNkFXA
    method: POST
    uri: https://sandbox.cuenca.com/transfers
  response:
    body:
      string: "[\n  {\n    \"loc\": [\n      \"account_number\"\n    ],\n    \"msg\"\
        : \"ensure this value has at least 18 characters\",\n    \"type\": \"value_error.any_str.min_length\"\
        ,\n    \"ctx\": {\n      \"limit_value\": 18\n    }\n  },\n  {\n    \"loc\"\
        : [\n      \"account_number\"\n    ],\n    \"msg\": \"The card number contains\
        \ a BIN (first six digits) that does not havea known association with a Mexican\
        \ bank. To add the association,please file an issue:https://github.com/cuenca-mx/cuenca-validations/issues\"\
        ,\n    \"type\": \"value_error.payment_card_number.bin\"\n  }\n]"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - bn8x3GxBiYcFx_A=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '526'
      x-amzn-Remapped-Date:
      - Wed, 03 Mar 2021 18:53:51 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 37dd38db-f0de-4359-b998-2e73566c78eb
      x-amzn-RequestId:
      - 31769d83-2c89-4ad0-8425-6ef189d8a4e1
    status:
      code: 400
      message: Bad Request
version: 1
