interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/whatsapp_transfers/SW03
  response:
    body:
      string: '{"id":"SW03","created_at":"2020-06-16T05:09:50.213000","amount":50000,"status":"submitted","descriptor":"Whatsapp
        Transfer SPEI","updated_at":"2020-06-17T05:09:50.213000","recipient_name":"Diego
        Rivera","phone_number":"+525590807060","claim_url":"https://cuenca.com/recibirdinero/ST03","expires_at":"2020-06-19T05:09:50.213000","destination_uri":"/accounts/BA01","network":"spei","tracking_key":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - ONJ66EE7IAMFgeg=
      x-amzn-RequestId:
      - 7ebd8823-8bec-4d13-a939-b34dbfe405a4
    status:
      code: 200
      message: OK
version: 1
