interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/deposits/CD01
  response:
    body:
      string: '{"id":"CD01","created_at":"2020-06-03T03:07:36.338000","amount":10000,"status":"succeeded","descriptor":
      "Cash deposit","source_uri":null,"network":"cash","tracking_key":null,"user_id":"US01"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - ONCz4FjtIAMF8OA=
      x-amzn-RequestId:
      - 2ed6fc7c-7103-4da4-bc7d-895b92bf080e
    status:
      code: 200
      message: OK
version: 1
