interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      x-amz-content-sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      x-amz-date:
      - 20201001T185704Z
    method: GET
    uri: https://sandbox.cuenca.com/commissions/COXXX
  response:
    body:
      string: '{"id":"COXXX","created_at":"2020-09-30T19:38:33.361000","user_id":"USXXX","amount":1000,"status":"succeeded","descriptor":"Comisi\u00f3n
        (cash_deposit)", "type": "cash_deposit","related_transaction_uri":"/deposits/CDXXX"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Tvr0KGBuoAMFvDw=
      x-amzn-RequestId:
      - f2476afc-8fb5-491f-ad79-2f365e55797d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      x-amz-content-sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      x-amz-date:
      - 20201001T185705Z
    method: GET
    uri: https://sandbox.cuenca.com/deposits/CDXXX
  response:
    body:
      string: '{"id":"CDXXX","created_at":"2020-09-30T19:38:29.234000","user_id":"USXXX","amount":2002,"status":"succeeded","descriptor":"Deposito
        v\u00eda paynet auth 648695","source_uri":"/accounts/BA01","network":"cash","tracking_key":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Tvr0OFKJIAMFYng=
      x-amzn-RequestId:
      - 1e7a83a6-88a1-443d-a175-1f35152b6cda
    status:
      code: 200
      message: OK
version: 1
