interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/api_keys/PKUvRwK7imQK2JcjJV91iEzg==
  response:
    body:
      string: '{"id":"PKUvRwK7imQK2JcjJV91iEzg==","created_at":"2020-05-04T19:43:40.439000","secret":"********","deactivated_at":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - MYTJZGfToAMFm4w=
      x-amzn-RequestId:
      - 9c5352f0-f3df-41f2-9618-07c095ff4f71
    status:
      code: 200
      message: OK
version: 1
