interactions:
- request:
    body: '{"number": "4122943499999999", "exp_month": 11, "exp_year": 24, "cvv2":
      "123", "issuer": "accendo", "funding_type": "debit"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/card_activations
  response:
    body:
      string: '{"Code":"NotFoundError","Message":"NotFoundError: "}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - bNqF0GpZiYcFkrw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '52'
      x-amzn-Remapped-Date:
      - Tue, 23 Feb 2021 19:26:42 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - ce51a48b-6d44-416d-a71e-1bb8e7be265e
      x-amzn-RequestId:
      - 87ed032e-e3e2-42ed-9338-99fd4111e79b
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"number": "4122943499999999", "exp_month": 11, "exp_year": 24, "cvv2":
      "123", "issuer": "accendo", "funding_type": "debit"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/card_activations
  response:
    body:
      string: '{"Code":"ForbiddenError","Message":"ForbiddenError: Too many attempts"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - bNqGlFB7iYcFYoA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '71'
      x-amzn-Remapped-Date:
      - Tue, 23 Feb 2021 19:26:47 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 7b9a0796-5b34-4af1-8656-5bdd6b1d5666
      x-amzn-RequestId:
      - 1b723a44-a6a9-4cb0-95ef-2d30b36f59e6
    status:
      code: 403
      message: Forbidden
version: 1
