interactions:
- request:
    body: '{"phone_number": "+525555555555", "profession": "programmer", "govt_id":
      {"type": "ine", "uri_front": "cuenca.com", "uri_back": "cuenca.com", "is_mx":
      true}}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: PATCH
    uri: https://sandbox.cuenca.com/users/USluZkZ7odQvOwelWLLrFH5w
  response:
    body:
      string: '{"id":"USluZkZ7odQvOwelWLLrFH5w","identity_uri":"/identity/IDZOxs3oDDQ8yC4JXElffU8Q","platform_id":"PO-vGzxK6aRxuJ-aW5gYaCMQ","level":1,"created_at":"2022-01-28T23:46:33.852000","updated_at":"2022-01-29T02:04:01.729771","phone_number":"+525555555555","email_address":"manuel@cuenca.com","profession":"programmer","status":"active","terms_of_service":null,"blacklist_validation_status":"not_verified","address":{"street":"calle
        1","ext_number":"2","int_number":"3","postal_code":"09900","state":"DF","city":null,"country":"MEX","created_at":"2022-01-28T23:46:33.852000"},"govt_id":{"type":"ine","uri_front":"cuenca.com","uri_back":"cuenca.com","is_mx":true,"data":{},"status":"not_verified"},"proof_of_address":null,"proof_of_life":null,"beneficiary":null,"names":"Manuel","first_surname":"Avalos","second_surname":"Tovar","curp":"AATM970329HDFVVN05"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.383'
      x-amz-apigw-id:
      - Mr4GwHaLiYcFflg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '850'
      x-amzn-Remapped-Date:
      - Sat, 29 Jan 2022 02:04:01 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - 23fbf489-904e-4b39-ae5f-d0165f54f87f
    status:
      code: 200
      message: OK
version: 1
