interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: DELETE
    uri: https://sandbox.cuenca.com/endpoints/EN02
  response:
    body:
      string: '{"id":"EN02","created_at":"2022-02-09T19:06:44.109000","updated_at":"2022-02-09T19:06:44.109000","deactivated_at":"2022-02-09T19:12:09.630453","secret":"********","is_enable":false,"url":"https://url.io","events":["user.create","user.update","user.delete","transaction.create","transaction.update"]}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.142'
      x-amz-apigw-id:
      - NSfBhH7TiYcFkGg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '327'
      x-amzn-Remapped-Date:
      - Wed, 09 Feb 2022 19:12:09 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - 7742b44f-5bad-4fd6-8112-3185324691b0
    status:
      code: 200
      message: OK
version: 1
