interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/bill_payments/ST01
  response:
    body:
      string: '{"id":"ST01","created_at":"2020-10-05T01:12:46.973000","user_id":"US01","amount":10000,"status":"succeeded","descriptor":"Pago
        de servicio","account_number":"(111) 111-1111","provider_uri":"/service_providers/SP01"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - T9je0FM4IAMF5NQ=
      x-amzn-RequestId:
      - 199a3e85-25c7-40b1-81e6-c45f2d81820b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/service_providers/SP01
  response:
    body:
      string: '{"id":"SP01","created_at":"2020-10-05T00:00:48.020000","name":"Telcel","provider_key":"topup_telcel","categories":["mobile_telephone_prepaid"]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - T9jfMHpcoAMF14Q=
      x-amzn-RequestId:
      - bacb6a7e-6fcc-4645-bd55-5d0dfc08f4e2
    status:
      code: 200
      message: OK
version: 1
