interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/user_events?limit=2&user_id=US7Xdn8jjsQgev8t9z5CyvZA&type=created
  response:
    body:
      string: '{"items":[{"id":"UEsu1cbxu1QJKpklDd82O1PA","identity_id":"IDyQMP76QRR4qrUtgwg1E_GQ","new_model":{"id":"US7Xdn8jjsQgev8t9z5CyvZA","identity_uri":"/identity/IDyQMP76QRR4qrUtgwg1E_GQ","platform_id":"PO-vGzxK6aRxuJ-aW5gYaCMQ","level":1,"created_at":"2022-01-28T20:43:38.460309","updated_at":"2022-01-28T20:43:38.508011","phone_number":"+525559610838","email_address":"manuelavalos97@gmail.com","profession":"employee","status":"active","terms_of_service":{},"blacklist_validation_status":"not_verified","address":{"street":"La
        Viga","ext_number":"901","int_number":"C-402","postal_code":"08800","state":"DF","city":null,"country":"MX","created_at":"2022-01-28T20:43:38.460167"},"govt_id":{},"proof_of_address":{},"proof_of_life":{},"beneficiaries":[],"names":"Manuel","first_surname":"Avalos","second_surname":"Tovar","curp":"AATM970329HDFVVN05"},"type":"created","created_at":"2022-01-28T20:43:38.508000","user_id":"US7Xdn8jjsQgev8t9z5CyvZA","platform_id":"PTW68GgAc_QPmNCmgajmctLg"}],"next_page_uri":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.167'
      x-amz-apigw-id:
      - M1rZAHLWCYcFQ0A=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '1001'
      x-amzn-Remapped-Date:
      - Tue, 01 Feb 2022 01:26:17 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - 6abae1a9-935b-481b-9422-0b6f86e92c3e
    status:
      code: 200
      message: OK
version: 1
