interactions:
- request:
    body: '{"number": "1234567890123403", "arqc": "DB3C77D5469C53C6", "arpc_method":
      "1", "transaction_data": "somerandomtransactiondata", "response_code": "0010",
      "transaction_counter": "001D", "pan_sequence": "01", "unique_number": "42D6A016",
      "track_data_method": "terminal"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/arpc
  response:
    body:
      string: '{"id":"ARfuiaeihfusbcibec","created_at":"2021-04-24T22:29:48.224826","card_uri":"/cards/CAoawhiursbcbeac","is_valid_arqc":true,"arpc":"16404ADAFB227B4D"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 1.063'
      x-amz-apigw-id:
      - eT1KRGVOiYcF6ow=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '154'
      x-amzn-Remapped-Date:
      - Sat, 24 Apr 2021 22:29:48 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 16148b7c-af38-4f05-8268-a26357719c2d
      x-amzn-RequestId:
      - e9b4ea3f-a7c5-402c-b373-216c98d4244b
    status:
      code: 201
      message: Created
version: 1
