interactions:
- request:
    body: '{"password": "222222"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/user_logins
  response:
    body:
      string: '{"success":true,"id":"ULuvDAfwFTT0GcPLB-Y_9J8Q","last_login_at":"2021-03-02T02:42:26.326107"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.105'
      x-amz-apigw-id:
      - bicaQHvxCYcFg8w=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '93'
      x-amzn-Remapped-Date:
      - Tue, 02 Mar 2021 02:48:20 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 4932a87a-090a-4eb6-b7f0-88c955ddb733
      x-amzn-RequestId:
      - bb3c0ff4-b3ff-4685-ad5e-3253f7ecdef9
    status:
      code: 201
      message: Created
- request:
    body: '{"password": "222222"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULuvDAfwFTT0GcPLB-Y_9J8Q
    method: DELETE
    uri: https://sandbox.cuenca.com/passwords/me
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.094'
      x-amz-apigw-id:
      - bicaSFFqiYcFtgw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Tue, 02 Mar 2021 02:48:21 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - a874243e-6dfb-4259-9f05-e0a6f6203857
      x-amzn-RequestId:
      - 55bc9e53-9e07-4dcd-9c86-113048649b88
    status:
      code: 201
      message: Created
- request:
    body: '{"password": "111111"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULuvDAfwFTT0GcPLB-Y_9J8Q
    method: POST
    uri: https://sandbox.cuenca.com/passwords
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.303'
      x-amz-apigw-id:
      - bicaUFxnCYcFeyw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Tue, 02 Mar 2021 02:48:21 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 235526a3-8ec0-4fd3-afcc-8b45de08f3e7
      x-amzn-RequestId:
      - c90055b0-3f7c-4941-b4dd-6a1fb2f56395
    status:
      code: 201
      message: Created
version: 1
