interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      x-amz-content-sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      x-amz-date:
      - 20200810T174546Z
    method: GET
    uri: https://sandbox.cuenca.com/cards?limit=2&number=4231450155147929&exp_month=8&exp_year=2026&cvv2=144
  response:
    body:
      string: '{"items":[{"id":"CA5x_xAHmYSE2DXhia0G0DTA","created_at":"2020-08-10T17:23:30.427000","updated_at":"2020-08-10T17:23:30.427000","user_id":"US1237","ledger_account_id":"LA1237","number":"4231450155147929","exp_month":8,"exp_year":2026,"cvv2":"144","type":"virtual","status":"active","batch":null,"manufacturer":null,"cvv":null,"icvv":null,"pin":null}],"next_page_url":"/cards?limit=2&created_before=2020-08-10T17%3A23%3A30.427000&number=4231450155147929&exp_month=8&exp_year=2026&cvv2=144"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - REInvGHboAMFlLQ=
      x-amzn-RequestId:
      - 8679f4cb-c583-4a2e-9fd8-23311aa73fe8
    status:
      code: 200
      message: OK
version: 1
