interactions:
- request:
    body: '{"type": "email", "sender": "mail@cuenca.com", "platform_id":
      "PL01"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/verifications
  response:
    body:
      string: '{"id":"VE01","recipient":"mail@cuenca.com","platform_id":"PL01","api_key":null,"type":"email","created_at":"2022-03-16T22:33:21.930707","updated_at":"2022-03-16T22:33:21.931013","deactivated_at":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.323'
      x-amz-apigw-id:
      - PGTTzHY-iYcF1zQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '260'
      x-amzn-Remapped-Date:
      - Wed, 16 Mar 2022 22:33:22 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - 1403b526-7466-4985-bf8a-b8e6c156e527
    status:
      code: 201
      message: Created
version: 1
