interactions:
- request:
    body: '{"files": [{"is_back": true, "url": "https://media.getmati.com/file?location=XXX1",
      "type": "ine"}, {"is_back": false, "url": "https://media.getmati.com/file?location=XXX2",
      "type": "proof_of_liveness"}, {"is_back": false, "url": "https://media.getmati.com/file?location=XXX3",
      "type": "proof_of_address"}], "user_id": "US01"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/file_batches
  response:
    body:
      string: '{"id":"EB01","created_at":"2022-03-03T01:48:39.542677","received_files":{"ine":{"url":"https://media.getmati.com/file?location=XXX1"},"proof_of_liveness":{"url":"https://media.getmati.com/file?location=XXX2"},"proof_of_address":{"url":"https://media.getmati.com/file?location=XXX3"}},"uploaded_files":[{"is_back":true,"type":"ine","url":"https://stage-patzcuaro.cuenca.com/files/EF01"},{"is_back":false,"type":"proof_of_liveness","url":"https://stage-patzcuaro.cuenca.com/files/EF02"},{"is_back":false,"type":"proof_of_address","url":"https://stage-patzcuaro.cuenca.com/files/EF03"}],"user_id":"US01"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 5.462'
      x-amz-apigw-id:
      - OYmx3Es7CYcFiNQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '601'
      x-amzn-Remapped-Date:
      - Thu, 03 Mar 2022 01:48:39 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - ce8e424b-727b-44c8-bb88-1d75c5d78955
    status:
      code: 201
      message: Created
version: 1
