interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULIfKcTXnXRv-UV8HPObyxYw
    method: GET
    uri: https://sandbox.cuenca.com/wallet_transactions/LT32GEaFQR03cJRBcqb0p7uI
  response:
    body:
      string: '{"id":"LT32GEaFQR03cJRBcqb0p7uI","created_at":"2021-08-31T23:34:00.947000","user_id":"US3zGWi1n852bTyqD1wCZ1ft","amount":10000,"status":"succeeded","descriptor":"Dep\u00f3sito
        a Ahorros","transaction_type":"deposit","wallet_uri":"/savings/LAvWUDH6OpQk-ber3E_zUEiQ"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.318'
      x-amz-apigw-id:
      - E9Jr6EMbiYcFUtA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '265'
      x-amzn-Remapped-Date:
      - Tue, 31 Aug 2021 23:35:14 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.1
      x-amzn-Remapped-x-amzn-RequestId:
      - 2389b531-95f2-46bb-bd08-55b08907197b
      x-amzn-RequestId:
      - 3fce036f-5dbf-4bae-8fc5-14aa93b81e81
    status:
      code: 200
      message: OK
version: 1
