interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/cards/CAycvo_X9TQoKOKsaAvdqn3w
  response:
    body:
      string: '{"id":"CAycvo_X9TQoKOKsaAvdqn3w","created_at":"2021-02-21T16:03:37.590000","updated_at":"2021-02-21T16:03:37.590000","user_id":"US1237","number":"5448750078699849","exp_month":2,"exp_year":2026,"cvv2":"353","type":"virtual","status":"active","batch":null,"manufacturer":null,"cvv":null,"icvv":null,"pin":null,"issuer":"cuenca","funding_type":"debit","_cls":"BaseCard.CuencaCard"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - bKuixEr3iYcFQ3w=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '379'
      x-amzn-Remapped-Date:
      - Mon, 22 Feb 2021 22:06:23 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 23a73914-2022-4a0f-970e-ce7321d26c1a
      x-amzn-RequestId:
      - 5d785911-f1b1-4b9a-954c-8aabf89ac457
    status:
      code: 200
      message: OK
version: 1
