interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/terminal/TRykH9-lXrS6iJocclOl4ATQ==
  response:
    body:
      string: '{"id": "TRykH9-lXrS6iJocclOl4ATQ==", "brand_name": "Tacos Pepe", "brand_image": "https://s3.amazonaws.com/feedme.cuenca.io/abef8a6", "slug": "tacos-pepe", "card_active":
      false, "cash_active": false, "spei_active": false, "stripe_ready": false, "created_at":"2020-05-11T18:41:00.332534","updated_at":"2020-05-11T18:41:00.352103"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
