interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/whatsapp_transfers/SW01
  response:
    body:
      string: '{"id":"SW01","created_at":"2020-06-16T05:09:50.213000","amount":10000,"status":"succeeded","descriptor":"Whatsapp
        Transfer Internal","updated_at":"2020-06-17T05:09:50.213000","recipient_name":"Rogelio
        Lopez","phone_number":"+525520304050","claim_url":"https://cuenca.com/recibirdinero/ST01","expires_at":"2020-06-18T05:09:50.213000","destination_uri":"/accounts/LA01","network":"internal","tracking_key":null,"user_id":"US01"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - ONJOwGq_oAMFqHQ=
      x-amzn-RequestId:
      - 4b303dc6-6dd7-480a-b4ed-aff508bac89f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/accounts/LA01
  response:
    body:
      string: '{"id":"LA01","created_at":"2020-06-03T02:43:53.922000","name":"Rogelio
        Lopez","account_number":"646180157034181180","institution_name":"Cuenca"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - ONJOyFL7IAMFfHQ=
      x-amzn-RequestId:
      - 5247df6a-4bc1-431e-8893-a588d28f20ec
    status:
      code: 200
      message: OK
version: 1
