interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      x-amz-content-sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      x-amz-date:
      - 20201001T182731Z
    method: GET
    uri: https://sandbox.cuenca.com/commissions/COXXX
  response:
    body:
      string: '{"id":"COXXX","created_at":"2020-09-24T00:29:34.830000","user_id":"US2qz3mrAomlP8LWG106tILW","amount":25000,"status":"created","descriptor":"Comisi\u00f3n
        (card_request)", "type": "cash_deposit","related_transaction_uri":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - TvnfVGIEIAMFa_Q=
      x-amzn-RequestId:
      - ab9b3780-d7c6-4628-98cf-5553b3de80a1
    status:
      code: 200
      message: OK
version: 1
