interactions:
- request:
    body: '{"password": "222222"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/user_logins
  response:
    body:
      string: '{"success":true,"id":"ULPW8Yfl98SPaWXgMBQp7ASg","last_login_at":"2021-03-02T02:37:57.295871"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.089'
      x-amz-apigw-id:
      - bibi3GNfCYcFpLQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '93'
      x-amzn-Remapped-Date:
      - Tue, 02 Mar 2021 02:42:26 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - cee1cc1d-69f7-4cd3-bc6e-88057b4a9be6
      x-amzn-RequestId:
      - 52e8f1fe-8daa-41ca-a172-b15c98325790
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULPW8Yfl98SPaWXgMBQp7ASg
    method: POST
    uri: https://sandbox.cuenca.com/login_tokens
  response:
    body:
      string: '{"id":"LTcORV5C65Rn-GAjHDRrWiiA"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.043'
      x-amz-apigw-id:
      - bibi5FPlCYcF_mw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '33'
      x-amzn-Remapped-Date:
      - Tue, 02 Mar 2021 02:42:26 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 709e0666-8f51-4c9f-8a27-4547d6d51449
      x-amzn-RequestId:
      - 9bcbf9a5-1349-4588-8252-34704512b3bf
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTcORV5C65Rn-GAjHDRrWiiA
    method: GET
    uri: https://sandbox.cuenca.com/transfers?count=1
  response:
    body:
      string: '{"count":0}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 2.757'
      x-amz-apigw-id:
      - bibi6EhuCYcF1zg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '11'
      x-amzn-Remapped-Date:
      - Tue, 02 Mar 2021 02:42:29 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 87c227b0-edff-424c-8b50-e9c6fb8d5923
      x-amzn-RequestId:
      - d35aa577-cc5b-49a7-a37d-c8703463d172
    status:
      code: 200
      message: OK
version: 1
