interactions:
  - request:
      body:
        '{"user_id": "USPR4JxMuwSG60u2h4gBpB6Q", "type": "session.onboarding_verification",
        "resource_id": "68b887f60c33abad1ea841d3"}'
      headers:
        Authorization:
          - DUMMY
        Content-Type:
          - application/json
        X-Cuenca-Api-Version:
          - "2020-03-19"
      method: POST
      uri: https://sandbox.cuenca.com/sessions
    response:
      body:
        string: '{"id":"SSsxQina5sTNii7gv--OXg1g","created_at":"2025-09-10T20:34:31.525777","user_id":"USPR4JxMuwSG60u2h4gBpB6Q","platform_id":"PTZbBlk__kQt-wfwzP5nwA9A","expires_at":"2025-09-10T20:44:31.525789","success_url":null,"failure_url":null,"type":"session.onboarding_verification","resource_id":"68b887f60c33abad1ea841d3"}'
      headers:
        Content-Type:
          - application/json
        X-Request-Time:
          - "value: 0.129"
        x-amz-apigw-id:
          - QtARtGC6iYcEJYA=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - "315"
        x-amzn-Remapped-Date:
          - Wed, 10 Sep 2025 20:34:31 GMT
        x-amzn-Remapped-Server:
          - nginx/1.28.0
        x-amzn-RequestId:
          - 965c6cc2-31d3-4024-9c21-09ae6d4da534
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        X-Cuenca-Api-Version:
          - "2020-03-19"
        X-Cuenca-SessionId:
          - SSsxQina5sTNii7gv--OXg1g
      method: GET
      uri: https://sandbox.cuenca.com/onboarding_verifications/68b887f60c33abad1ea841d4
    response:
      body:
        string: '{"error":"User has not enough permissions"}'
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - QtARxHZtCYcEoCg=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - "43"
        x-amzn-Remapped-Date:
          - Wed, 10 Sep 2025 20:34:31 GMT
        x-amzn-Remapped-Server:
          - nginx/1.28.0
        x-amzn-RequestId:
          - c9539c27-70d2-4821-8afc-4bd7146253ef
      status:
        code: 401
        message: Unauthorized
version: 1
