interactions:
- request:
    body:
      string: '{"slug": "tacos-y-jugos-pepe"}'
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: PATCH
    uri: https://sandbox.cuenca.com/terminal/TR000391
  response:
    body:
      string: '{"id": "TR000391", "brand_name": "Tacos Pepe", "brand_image": "", "slug": "tacos-y-jugos-pepe", "card_active":
      false, "cash_active": false, "spei_active": false, "stripe_ready": false, "created_at":"2020-05-11T18:41:00.332534","updated_at":"2020-05-11T18:41:00.352103"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
