interactions:
- request:
    body: '{"number": "4122943400145596", "exp_month": 11, "exp_year": 24, "cvv2":
      "123", "issuer": "accendo", "funding_type": "debit"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULi0ilL2EDSoG97Cjfgaj2qw
    method: POST
    uri: https://sandbox.cuenca.com/card_activations
  response:
    body:
      string: '{"id":"CAAlcdzQaqTQzqoUCLtHvNc9Q","created_at":"2021-03-17T23:39:58.964000","user_id":"US1237","ip_address":"200.56.74.39,
        10.5.52.181","card":{"id":"CA7hMJlxpXMoGWegzbkAfRbX","created_at":"2020-04-22T00:45:33.434000","updated_at":"2020-04-22T00:45:33.434000","user_id":"US1237","number":"4122943400145596","exp_month":11,"exp_year":24,"cvv2":"123","type":"physical","status":"active","pin":"1234","issuer":"accendo","funding_type":"debit","pin_block":""},"succeeded":true}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 8.023'
      x-amz-apigw-id:
      - cWvzNH3lCYcFXRA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '509'
      x-amzn-Remapped-Date:
      - Wed, 17 Mar 2021 23:39:59 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - d0a7ec94-75b6-4cc0-8178-45c82925ec76
      x-amzn-RequestId:
      - b98d5714-0e30-4e92-9eb9-cdc539c95b22
    status:
      code: 201
      message: Created
version: 1
