interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/cards?user_id=US1237
  response:
    body:
      string: '{"items":[{"id":"CACs_Itr72QfaS6NSPhwanNA","created_at":"2020-09-18T22:05:53.233000","updated_at":"2020-09-18T22:05:53.394000","user_id":"US1237","ledger_account_id":"LAnbstynwl3","number":"4231450000000012","exp_month":9,"exp_year":2025,"cvv2":"123","type":"virtual","status":"active","batch":null,"manufacturer":null,"cvv":null,"icvv":null,"pin":null}],"next_page_uri":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Yv2cgGttCYcFuSw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '394'
      x-amzn-Remapped-Date:
      - Wed, 06 Jan 2021 22:19:47 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - c3a609d7-4e21-4221-a088-0339e5eb2b1b
      x-amzn-RequestId:
      - 37f91dcf-3e56-4039-8401-5f693c9915af
    status:
      code: 200
      message: OK
version: 1
