interactions:
- request:
    body: '{"names": "Manuel", "first_surname": "Avalos", "second_surname": "Tovar",
      "date_of_birth": "1997-03-29", "state_of_birth": "DF", "country_of_birth": "MX",
      "gender": "male", "manual_curp": null}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/curp_validations
  response:
    body:
      string: '{"id":"CVy1LipfRRTc6sF5nAFjtlmg","names":"Manuel","first_surname":"Avalos","second_surname":"Tovar","date_of_birth":"1997-03-29","country_of_birth":"MEX","state_of_birth":"DF","gender":"male","nationality":null,"manual_curp":null,"calculated_curp":"AATM970329HDFVVN05","validated_curp":null,"renapo_curp_match":true,"renapo_full_match":false}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.606'
      x-amz-apigw-id:
      - M1Mk4H1XCYcFmjw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '342'
      x-amzn-Remapped-Date:
      - Mon, 31 Jan 2022 21:55:56 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - 65cbd940-93a7-4e7e-baae-52c0debfd2df
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/identities?limit=2&curp=AATM970329HDFVVN05
  response:
    body:
      string: '{"items":[{"id":"IDEz-f3BebS4ejwWkdJr72Lg","created_at":"2022-01-31T05:53:15.813000","updated_at":"2022-01-31T05:53:15.813000","names":"Manuel","first_surname":"Avalos","second_surname":"Tovar","curp":"AATM970329HDFVVN05","rfc":null,"gender":"male","date_of_birth":"1997-03-29","state_of_birth":"DF","country_of_birth":"MEX","status":null,"tos_agreement":null,"blacklist_validation_status":null,"address":null,"govt_id":null,"proof_of_address":null,"proof_of_life":null}],"next_page_uri":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.558'
      x-amz-apigw-id:
      - M1Mk_HEyCYcFaUA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '493'
      x-amzn-Remapped-Date:
      - Mon, 31 Jan 2022 21:55:57 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - 62d71beb-ad52-4d7b-ab52-1b175758ba7f
    status:
      code: 200
      message: OK
version: 1
