interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/identity_events?limit=2&identity_id=IDKWLi_wUoTty6WXXg9xfKFQ&type=created
  response:
    body:
      string: "{\"items\":[{\"id\":\"IEJM5U_vJXSkOZt0Td7acoBQ\",\"identity_id\":\"IDKWLi_wUoTty6WXXg9xfKFQ\",\"new_model\":{\"id\":\"IDKWLi_wUoTty6WXXg9xfKFQ\",\"created_at\":\"2022-02-04T22:32:07.350036\",\"names\":\"Jos\xE9\",\"first_surname\":\"L\xF3pez\",\"second_surname\":\"Hern\xE1ndez\",\"curp\":\"LOHJ660606HDFPRS02\",\"rfc\":null,\"gender\":\"male\",\"date_of_birth\":\"1966-06-06\",\"state_of_birth\":\"DF\",\"nationality\":\"MX\",\"country_of_birth\":\"MX\",\"status\":\"active\",\"tos_agreement\":null,\"blacklist_validation_status\":null,\"address\":null,\"govt_id\":null,\"proof_of_address\":null,\"proof_of_life\":null},\"type\":\"created\",\"created_at\":\"2022-02-04T22:32:07.350000\"}],\"next_page_uri\":null}"
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.097'
      x-amz-apigw-id:
      - NSYUIFgdCYcF6PQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '623'
      x-amzn-Remapped-Date:
      - Wed, 09 Feb 2022 18:26:21 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - e5cd5d5f-8668-4558-9392-d6587aeb8baf
    status:
      code: 200
      message: OK
version: 1
