interactions:
- request:
    body: '{}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/api_keys
  response:
    body:
      string: '{"id":"PKjtv8Qn-3Tp2Eh1bBzXphOg==","created_at":"2020-05-11T18:25:36.369866","secret":"fcLkDkymPF9nJloQfEbYwnBthMtrwFssxyuzpMs-qIDEnmJNAr8nC3_xkC-MY-reV6WjT10DLwpF_v_G4MqBPw","deactivated_at":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - MYTJEE4iIAMFyDA=
      x-amzn-RequestId:
      - 98c2462c-9c8f-4f04-a590-fc76d96cdca2
    status:
      code: 201
      message: Created
version: 1
