interactions:
- request:
    body: '{}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://stage.cuenca.com/api_keys
  response:
    body:
      string: '{"id":"AKEvJ9OckUTFCN77vkQRLPIA","created_at":"2021-02-11T20:07:55.891354","secret":"Vl6FcGMjWj9MULfOwKdSR-X3NRX97m1o2EJ2Aej_18PQNLwHcU5KGAPHikiiLpTJTZ3Z_EnxJZKL9OlfKveq5Q","deactivated_at":"2212-10-08T19:54:42.308379","user":{"id":"USJaz512A7ROOh7N3pqKGMZg","created_at":"2021-02-11T19:44:54.016164"},"updated_at":"2021-02-11T19:54:42.308426","user_id":"USJaz512A7ROOh7N3pqKGMZg"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - amM4WHXDiYcFcog=
      x-amzn-RequestId:
      - 3c0c47f8-198d-4bab-a592-009f362f5c1c
    status:
      code: 201
      message: Created
version: 1
