interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/cash_references/CR4EI4kVBwHboi8gCUxMnP9q
  response:
    body:
      string: '{"id":"CR4EI4kVBwHboi8gCUxMnP9q","number":"2718285113832091","user_id":"USlen-v7UQSqqZTGVe3vQmLQ","created_at":"2022-08-23T22:44:45.259000"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.126'
      x-amz-apigw-id:
      - XVvIcGW2IAMF4Zg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '140'
      x-amzn-Remapped-Date:
      - Tue, 23 Aug 2022 23:13:06 GMT
      x-amzn-Remapped-Server:
      - nginx/1.22.0
      x-amzn-RequestId:
      - 20d0f1fa-5bb2-4748-a464-de141117dcd4
    status:
      code: 200
      message: OK
version: 1
