interactions:
- request:
    body: '{"user_id": "US1237", "issuer": "cuenca", "funding_type": "credit"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/cards
  response:
    body:
      string: '{"id":"CAycvo_X9TQoKOKsaAvdqn3w","created_at":"2021-02-21T16:03:37.590964","updated_at":"2021-02-21T16:03:37.590972","user_id":"US1237","number":"5448750078699849","exp_month":2,"exp_year":2026,"cvv2":"353","type":"virtual","status":"active","batch":null,"manufacturer":null,"cvv":null,"icvv":null,"pin":null,"issuer":"cuenca","funding_type":"debit","_cls":"BaseCard.CuencaCard"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - bGmc6EwFCYcFueQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '379'
      x-amzn-Remapped-Date:
      - Sun, 21 Feb 2021 16:03:40 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 6e42147f-60fc-420a-aea2-5896717f36b1
      x-amzn-RequestId:
      - 3e8b6d93-7d77-40b6-95be-e4b7c9a1fc57
    status:
      code: 201
      message: Created
version: 1
