interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/service_providers/SP01
  response:
    body:
      string: '{"id":"SP01","created_at":"2020-09-26T00:32:20.289000","name":"CFE","provider_key":"electricity_cfe"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - TlaQ8FwvoAMF4MQ=
      x-amzn-RequestId:
      - 1e4656be-f9de-45a2-9b4e-47572b0f7e4d
    status:
      code: 200
      message: OK
version: 1
