interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/terminal_payments?limit=1&status=submitted
  response:
    body:
      string: '{"items": [{"id": "TRQ3WpYW6MQaeoL5mVFprr0g", "amount": 5000, "descriptor": "Orden de Tacos #12", "destination_uri":
      "/accounts/L050", "network": "card", "sender_name": "Monica Gomez", "phone_number":
      "525500001111", "idempotency_key": "hFBzqBeL0BZJvwCcJ947", "status": "submitted",
      "created_at":"2020-05-11T18:41:00.332534","updated_at":"2020-05-11T18:41:00.352103", "platform_fees": 1000,
      "confirmation_code": "", "external_processor_reference": "cs_test_12345678"}], "next_page_url": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/terminal_payments?limit=1&network=internal
  response:
    body:
      string: '{"items":[],"next_page_url":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
