interactions:
- request:
    body: '{"password": "222222"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/user_logins
  response:
    body:
      string: '{"success":true,"id":"ULKgCJ8nUkRRWhuOCNw0O-9Q","last_login_at":"2021-03-02T02:35:26.078887"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.099'
      x-amz-apigw-id:
      - bia40Fc0iYcFbLA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '93'
      x-amzn-Remapped-Date:
      - Tue, 02 Mar 2021 02:37:57 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - eeb1e894-1ffb-47be-ab5d-8f0af759ae07
      x-amzn-RequestId:
      - 9cebe93c-f0b9-4ca6-bb80-83dca512da46
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULKgCJ8nUkRRWhuOCNw0O-9Q
    method: DELETE
    uri: https://sandbox.cuenca.com/user_logins/me
  response:
    body:
      string: '{"success":true}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.086'
      x-amz-apigw-id:
      - bia42EkaCYcFp8g=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '16'
      x-amzn-Remapped-Date:
      - Tue, 02 Mar 2021 02:37:57 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - e579b7cf-fb11-4bb4-b401-26f568acc114
      x-amzn-RequestId:
      - afc9891b-ed6f-4af6-bcc0-3d46aed56f3e
    status:
      code: 201
      message: Created
version: 1
