interactions:
- request:
    body: '{"recipient_name": "Rogelio Lopez", "account_number": "646180157034181180",
      "amount": 10000, "descriptor": "Mi primer transferencia", "idempotency_key":
      "35b241e25814445faf25c9cbcfc388a5"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/transfers
  response:
    body:
      string: '{"id":"TRnjQzaKRlS-GS6ww4WG0BEg==","created_at":"2020-06-01T13:58:30.058000","updated_at":"2020-06-01T13:58:33.701000","account_number":"646180157034181180","recipient_name":"Rogelio
        Lopez","amount":10000,"descriptor":"Mi primer transferencia","idempotency_key":"35b241e25814445faf25c9cbcfc388a5","status":"failed","network":"internal","destination_uri":null,"tracking_key":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - OOXN2Fp3oAMFRog=
      x-amzn-RequestId:
      - 160fce81-8505-4559-a5b8-72deede47113
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"recipient_name": "Rogelio Lopez", "account_number": "4050000000000001",
      "amount": 10002, "descriptor": "Mi transferencia invalida", "idempotency_key":
      "4a92e77054ba4e369a134e400f7c313d"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/transfers
  response:
    body:
      string: '{"Code":"InternalServerError","Message":"An internal server error occurred."}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - OOXOfE4QoAMFfIw=
      x-amzn-RequestId:
      - d74e72ec-1bf7-480b-8890-738afd055635
    status:
      code: 500
      message: Internal Server Error
version: 1
