interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/api_keys/PKyyRnEL0XS6iHeSi2_8DDPA==
  response:
    body:
      string: '{"id":"PKyyRnEL0XS6iHeSi2_8DDPA==","created_at":"2020-05-11T17:20:25.603000","secret":"********","deactivated_at":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - MYT3VGxDoAMFbZQ=
      x-amzn-RequestId:
      - d1f6ab21-3e4f-493e-8d9b-d1aff4ef82a9
    status:
      code: 200
      message: OK
- request:
    body: '{"minutes": 0}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: DELETE
    uri: https://sandbox.cuenca.com/api_keys/PKyyRnEL0XS6iHeSi2_8DDPA==
  response:
    body:
      string: '{"id":"PKyyRnEL0XS6iHeSi2_8DDPA==","created_at":"2020-05-11T17:20:25.603000","secret":"********","deactivated_at":"2020-05-11T18:30:35.210967"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - MYT3wGh9oAMFTSQ=
      x-amzn-RequestId:
      - b87437d5-18f4-4e7b-adf3-4302d3f144b3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/api_keys/PKyyRnEL0XS6iHeSi2_8DDPA==
  response:
    body:
      string: '{"id":"PKyyRnEL0XS6iHeSi2_8DDPA==","created_at":"2020-05-11T17:20:25.603000","secret":"********","deactivated_at":"2020-05-11T18:30:35.210000"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - MYT3yEZqIAMFyvw=
      x-amzn-RequestId:
      - 7f4b362f-6e5d-4867-883a-2b2b44e12852
    status:
      code: 200
      message: OK
version: 1
