interactions:
- request:
    body: '{"names": "Manuel", "first_surname": "Avalos", "second_surname": "Tovar",
      "date_of_birth": "1997-03-29", "state_of_birth": "DF", "country_of_birth": "MX",
      "gender": "male", "manual_curp": null}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/curp_validations
  response:
    body:
      string: '{"id":"CVk4ieQToiTpiSRj8A3UvZZw","names":"Manuel","first_surname":"Avalos","second_surname":"Tovar","date_of_birth":"1997-03-29","country_of_birth":"MEX","state_of_birth":"DF","gender":"male","nationality":null,"manual_curp":null,"calculated_curp":"AATM970329HDFVVN05","validated_curp":null,"renapo_curp_match":true,"renapo_full_match":false}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.270'
      x-amz-apigw-id:
      - Mrj9_EokCYcF3VQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '342'
      x-amzn-Remapped-Date:
      - Fri, 28 Jan 2022 23:46:33 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - fa4fdf15-4159-418b-bc32-aa391e1343c1
    status:
      code: 201
      message: Created
- request:
    body: '{"curp": "AATM970329HDFVVN05", "phone_number": "+525559610838", "email_address":
      "manuel@cuenca.com", "profession": "employee", "address": {"street": "calle
      1", "ext_number": "2", "postal_code": "09900", "state": "DF", "country": "MEX",
      "city": null, "int_number": "3"}}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/users
  response:
    body:
      string: '{"id":"USluZkZ7odQvOwelWLLrFH5w","identity_uri":"/identity/IDZOxs3oDDQ8yC4JXElffU8Q","platform_id":"PO-vGzxK6aRxuJ-aW5gYaCMQ","level":1,"created_at":"2022-01-28T23:46:33.852142","updated_at":"2022-01-28T23:46:33.897780","phone_number":"+525559610838","email_address":"manuel@cuenca.com","profession":"employee","status":"active","terms_of_service":null,"blacklist_validation_status":"not_verified","address":{"street":"calle
        1","ext_number":"2","int_number":"3","postal_code":"09900","state":"DF","city":null,"country":"MEX","created_at":"2022-01-28T23:46:33.852023"},"govt_id":null,"proof_of_address":null,"proof_of_life":null,"beneficiary":null,"names":"Manuel","first_surname":"Avalos","second_surname":"Tovar","curp":"AATM970329HDFVVN05"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.281'
      x-amz-apigw-id:
      - Mrj-DECViYcFe8g=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '742'
      x-amzn-Remapped-Date:
      - Fri, 28 Jan 2022 23:46:34 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - f6155023-569c-4dd5-a7c1-a337e55b12ea
    status:
      code: 201
      message: Created
version: 1
