interactions:
- request:
    body: '{"number": "4122943499999999", "exp_month": 11, "exp_year": 24, "cvv2":
      "123"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULA6spyKFqQLm6TGQfnOiSiQ
    method: POST
    uri: https://sandbox.cuenca.com/card_activations
  response:
    body:
      string: '{"id":"CAACKF0mFh7QS6hd3P4FZrNGA","created_at":"2021-03-26T19:16:55.528000","user_id":"US6D1wbTEdLuTjf227iF05js","ip_address":"200.56.74.39,
        10.5.70.51","card_uri":null,"success":false}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.354'
      x-amz-apigw-id:
      - czzuIFYeiYcFaHQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '185'
      x-amzn-Remapped-Date:
      - Fri, 26 Mar 2021 19:16:55 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 027bfb84-ea85-4e19-a275-376108c5264d
      x-amzn-RequestId:
      - 248a83cf-4577-49cc-a426-6e84547c63c4
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"number": "4122943499999999", "exp_month": 11, "exp_year": 24, "cvv2":
      "123"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULA6spyKFqQLm6TGQfnOiSiQ
    method: POST
    uri: https://sandbox.cuenca.com/card_activations
  response:
    body:
      string: '{"code":107,"error":"Too many attempts"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - czzuoF-diYcFeiA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '40'
      x-amzn-Remapped-Date:
      - Fri, 26 Mar 2021 19:16:58 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 696c7c21-09b8-4e62-9a6e-327d085b5125
      x-amzn-RequestId:
      - 5f8e4660-3073-4691-b052-1cf636037edd
    status:
      code: 403
      message: Forbidden
version: 1
