interactions:
- request:
    body: '{}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULIfKcTXnXRv-UV8HPObyxYw
    method: DELETE
    uri: https://sandbox.cuenca.com/savings/lAob5rOC0jSj6UC5RAbwnSnA
  response:
    body:
      string: '{"id":"lAob5rOC0jSj6UC5RAbwnSnA","created_at":"2021-08-13T00:36:55.471000","updated_at":"2021-08-13T00:36:55.471000","user_id":"US3zGWi1n852bTyqD1wCZ1ft","balance":0,"deactivated_at":"2021-08-13T00:50:40.133000","name":"my
        new home","category":"home","goal_amount":200000,"goal_date":"2021-08-23T00:55:27.870000"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.257'
      x-amz-apigw-id:
      - ESb_bGi1CYcF7wA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '317'
      x-amzn-Remapped-Date:
      - Thu, 19 Aug 2021 00:33:13 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.1
      x-amzn-Remapped-x-amzn-RequestId:
      - 29bec620-ced2-4247-af77-e43811e7f7d5
      x-amzn-RequestId:
      - 581e420f-297e-481f-9774-e8bf4ebfa946
    status:
      code: 200
      message: OK
version: 1
