interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: DELETE
    uri: https://sandbox.cuenca.com/cards/CAycvo_X9TQoKOKsaAvdqn3w
  response:
    body:
      string: '{"id":"CAycvo_X9TQoKOKsaAvdqn3w","created_at":"2021-02-21T16:03:37.590000","updated_at":"2021-02-21T16:03:37.590000","user_id":"US1237","number":"5448750078699849","exp_month":2,"exp_year":2026,"cvv2":"353","type":"virtual","status":"deactivated","pin":null,"issuer":"cuenca","funding_type":"debit","pin_block":null,"_cls":"BaseCard.CuencaCard","batch":null,"manufacturer":null,"cvv":null,"icvv":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 5.809'
      x-amz-apigw-id:
      - bKxrKEHjiYcFyow=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '401'
      x-amzn-Remapped-Date:
      - Mon, 22 Feb 2021 22:27:50 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - a8b1edf0-9f8d-48c1-9e50-89e85f9f3a42
      x-amzn-RequestId:
      - c52ef224-25f5-4f79-ac6d-f6f6e2ba1f3b
    status:
      code: 200
      message: OK
version: 1
