interactions:
- request:
    body: '{"curp": "HEMA921130HNERNN05"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: PATCH
    uri: https://sandbox.cuenca.com/kyc_verifications/KYC01
  response:
    body:
      string: '{"id":"KYC01","identity_id":null,"platform_id":"PTSFitwBYWROu-dAziDnSr4Q","created_at":"2022-05-10T17:37:34.755000","updated_at":"2022-05-10T17:42:25.137555","deactivated_at":null,"verification_id":null,"curp":"HEMA921130HNERNN05","rfc":null,"address":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - R66QMF9FCYcFtlA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '277'
      x-amzn-Remapped-Date:
      - Tue, 10 May 2022 17:42:25 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - 47ab8674-5cc2-478b-8a73-5815cda6e4f3
    status:
      code: 200
      message: OK
version: 1
