interactions:
- request:
    body: '{"user_id": "US1237", "issuer": "cuenca", "funding_type": "credit"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/cards
  response:
    body:
      string: '{"Code":"ForbiddenError","Message":"ForbiddenError: Usuario US1237
        ya tiene asociada una tarjeta de tipo virtual"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - bKuISHZiCYcF2pg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '114'
      x-amzn-Remapped-Date:
      - Mon, 22 Feb 2021 22:03:45 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 7b88fbe6-21d1-428b-a862-cb6906a88e86
      x-amzn-RequestId:
      - 633dc436-8698-48e2-b2ba-fef617374399
    status:
      code: 403
      message: Forbidden
version: 1
