interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/deposits/SP01
  response:
    body:
      string: '{"id":"SP01","created_at":"2020-06-03T03:07:36.338000","amount":10000,"status":"succeeded","descriptor":"SPEI
        1","source":"BA01","network":"spei","tracking_key":"RASTREO_1234","user_id":"US01"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - ONCz4FjtIAMF8OA=
      x-amzn-RequestId:
      - 2ed6fc7c-7103-4da4-bc7d-895b92bf080e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/accounts/BA01
  response:
    body:
      string: '{"id":"BA01","created_at":"2020-06-03T02:43:52.922000","name":"Frida
        Kahlo","account_number":"072691004495711499","institution_name":"Banorte/Ixe"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - ONC0RHYuoAMF3pw=
      x-amzn-RequestId:
      - c4451173-95e6-4636-b7b8-6f268b4c9918
    status:
      code: 200
      message: OK
version: 1
