interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/bill_payments/ST01
  response:
    body:
      string: '{"id":"ST01","created_at":"2022-09-09T21:08:11.115000","user_id":"US01","amount":1000,"status":"failed","descriptor":"Pago
        de Servicio","account_number":"000000000000000000000000000000","accountholder_name":null,"provider_uri":"/service_providers/SP01","field_id":null,"platform_id":"PT01"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.648'
      x-amz-apigw-id:
      - YW3WpG2CCYcFTMw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '370'
      x-amzn-Remapped-Date:
      - Mon, 12 Sep 2022 17:28:11 GMT
      x-amzn-Remapped-Server:
      - nginx/1.22.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 297a93e0-26cd-4b05-a609-6f16fb9584ac
      x-amzn-RequestId:
      - e3e87aaf-cb0f-4064-9814-77aa97e395df
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/service_providers/SP01
  response:
    body:
      string: '{"id":"SP01","created_at":"2019-07-15T23:21:48.020000","name":"CFE","provider_key":"electricity_cfe","categories":["electricity"],"fields":[{"is_active":true,"requires_accountholder_name":false,"mask":"000000000000000000000000000000","topup_amounts":[],"type":"barcode"},{"is_active":true,"requires_accountholder_name":false,"mask":"000000000000","topup_amounts":[],"type":"account_number"}]}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.326'
      x-amz-apigw-id:
      - YW3WyE9JCYcFj4w=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '412'
      x-amzn-Remapped-Date:
      - Mon, 12 Sep 2022 17:28:11 GMT
      x-amzn-Remapped-Server:
      - nginx/1.22.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 71c5252e-89c9-45bf-905e-b0ea0048f8bd
      x-amzn-RequestId:
      - 37186823-58eb-4675-a61c-8ac1eb394ce9
    status:
      code: 200
      message: OK
version: 1
