interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      x-amz-content-sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      x-amz-date:
      - 20201029T211345Z
    method: GET
    uri: https://sandbox.cuenca.com/card_transactions/CT003
  response:
    body:
      string: '{"id":"CT003","created_at":"2020-10-29T18:03:59.878000","user_id":"US4PCNV8rLB2wqBfORzIAXUl","amount":300,"status":"succeeded","descriptor":"Superama
        Michoacan","type":"auth","network":"visa","related_card_transaction_uris":[],"card_id":"CA001","card_last4":"0359","card_type":"virtual","metadata":{"authorizer_number":null,"card_acceptor":null,"commission":null,"currency_code":"484","is_cvv":null,"pos_capabilty":null,"prosa_transaction_id":"84454","retrieval_reference":"518709560","track_data_method":null,"transaction_reference":null},"error_type":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - VMSFeH75oAMFUXg=
      x-amzn-RequestId:
      - 4292b6ac-6571-4c50-b6ff-56c628937948
    status:
      code: 200
      message: OK
version: 1
