interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      x-amz-content-sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      x-amz-date:
      - 20201029T190152Z
    method: GET
    uri: https://sandbox.cuenca.com/card_transactions/CT003
  response:
    body:
      string: '{"id":"CT003","created_at":"2020-10-29T17:44:27.019000","user_id":"US4PCNV8rLB2wqBfORzIAXUl","amount":95117,"status":"succeeded","descriptor":"Superama
        Michoacan","type":"charge_back","network":"visa","related_card_transaction_uris":[],"card_last4":"0359","card_type":"virtual","merchant":"MAnQlrBd4GWjyXY4BctLlM7","metadata":{"authorizer_number":null,"card_acceptor":null,"commission":null,"currency_code":"484","is_cvv":null,"pos_capabilty":null,"prosa_transaction_id":null,"retrieval_reference":null,"track_data_method":null,"transaction_reference":null},"error_type":null,"expired_at":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - VL-xMG2XoAMFVzQ=
      x-amzn-RequestId:
      - d015056f-8502-4b93-831b-7424470515a1
    status:
      code: 200
      message: OK
version: 1
