interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/bill_payments/ST01
  response:
    body:
      string: '{"id":"ST01","created_at":"2019-07-16T23:07:21.843000","user_id":"US01","amount":25,"status":"failed","descriptor":"Pago
        de servicio","account_number":"019721609015961902080000026589","provider_uri":"/service_providers/SP01"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - TlbAWG22oAMFUGw=
      x-amzn-RequestId:
      - 27a54431-69c2-4388-a212-01267ae8960e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/service_providers/SP01
  response:
    body:
      string: '{"id":"SP01","created_at":"2020-09-26T00:32:20.289000","name":"CFE","provider_key":"electricity_cfe"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - TlbAhEscoAMF4xw=
      x-amzn-RequestId:
      - c4a63f67-1290-4361-8ee3-61a91b36b12b
    status:
      code: 200
      message: OK
version: 1
