interactions:
- request:
    body: '{"type": "email", "recipient": "mail@cuenca.com"}'
    headers:
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/verifications
  response:
    body:
      string: '{"id":"VEG30ywu-KQnWdel9gpz1a-Q","identity_id":null,"platform_id":"PTZbBlk__kQt-wfwzP5nwA9A","created_at":"2025-07-15T22:28:11.987007","updated_at":"2025-07-15T22:28:11.987284","deactivated_at":null,"recipient":"mail@cuenca.com","language":"en","type":"email"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - NxZfaEnciYcEr9g=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '260'
      x-amzn-Remapped-Date:
      - Tue, 15 Jul 2025 22:28:12 GMT
      x-amzn-Remapped-Server:
      - nginx/1.28.0
      x-amzn-RequestId:
      - 2fe363d1-fc8d-4fd5-ba59-e41a88c08711
    status:
      code: 201
      message: Created
version: 1
