interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTSb8853JJRGiPBvY4lZCMzQ
    method: GET
    uri: https://sandbox.cuenca.com/card_transactions/CTKLh6VNCRTybvfpVSMLu8m
  response:
    body:
      string: '{"id":"CTKLh6VNCRTybvfpVSMLu8m","created_at":"2020-10-29T18:04:52.705000","user_id":"US4PCNV8rLB2wqBfORzIAXUl","amount":300,"status":"succeeded","descriptor":"Superama
        Michoacan","type":"refund","network":"visa","related_card_transaction_uris":[],"card_last4":"0359","card_type":"virtual","card_uri":"/cards/CAYNfqsQTFSnKz56n6Vw6rTw","metadata":{"authorizer_number":"6582387564","card_acceptor":null,"commission":null,"currency_code":"484","is_cvv":null,"pos_capabilty":null,"prosa_transaction_id":"9999","retrieval_reference":"9089089","track_data_method":null,"transaction_reference":null},"error_type":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.205'
      x-amz-apigw-id:
      - bsGVYFalCYcF7Qg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '610'
      x-amzn-Remapped-Date:
      - Fri, 05 Mar 2021 01:06:42 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - d0db32d1-ed2b-4351-8965-bb7cc9ef7098
      x-amzn-RequestId:
      - d5dc5780-a6ab-4bbe-b3c8-ccb290750ef9
    status:
      code: 200
      message: OK
version: 1
