interactions:
- request:
    body: '{"status": "blocked"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      x-amz-content-sha256:
      - 06a05838cafe1f90bf85404259f5608238e8c7b76cffad8917ccb211aa353393
      x-amz-date:
      - 20200810T180323Z
    method: PATCH
    uri: https://sandbox.cuenca.com/cards/CA5x_xAHmYSE2DXhia0G0DTA
  response:
    body:
      string: '{"id":"CA5x_xAHmYSE2DXhia0G0DTA","created_at":"2020-08-10T17:23:30.427000","updated_at":"2020-08-10T18:03:27.855067","user_id":"US1237","ledger_account_id":"LA1237","number":"4231450155147929","exp_month":8,"exp_year":2026,"cvv2":"144","type":"virtual","status":"blocked","batch":null,"manufacturer":null,"cvv":null,"icvv":null,"pin":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - RELMxGINoAMFZJQ=
      x-amzn-RequestId:
      - 47a47a7a-f680-4aa1-bec9-bd2785aca34f
    status:
      code: 200
      message: OK
- request:
    body: '{"status": "active"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      x-amz-content-sha256:
      - 55efc9eb99b66709f037740f0fc718f7833701d188e800a7a7eb5dc0e1f978b4
      x-amz-date:
      - 20200810T180330Z
    method: PATCH
    uri: https://sandbox.cuenca.com/cards/CA5x_xAHmYSE2DXhia0G0DTA
  response:
    body:
      string: '{"id":"CA5x_xAHmYSE2DXhia0G0DTA","created_at":"2020-08-10T17:23:30.427000","updated_at":"2020-08-10T18:03:31.318320","user_id":"US1237","ledger_account_id":"LA1237","number":"4231450155147929","exp_month":8,"exp_year":2026,"cvv2":"144","type":"virtual","status":"active","batch":null,"manufacturer":null,"cvv":null,"icvv":null,"pin":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - RELN-Eg7IAMF28g=
      x-amzn-RequestId:
      - 756198de-fd04-4267-873e-f48e522df689
    status:
      code: 200
      message: OK
version: 1
