interactions:
  - request:
      body:
        '{"signature": {"uri": "https://www.google.com/image.png", "location": "19.432608,
        -99.133209", "ip": "192.168.1.100", "hash": "1234567890"}, "user_id": "USFOOBAR"}'
      headers:
        Content-Type:
          - application/json
        X-Cuenca-Api-Version:
          - "2020-03-19"
      method: POST
      uri: https://sandbox.cuenca.com/signatures
    response:
      body:
        string:
          '{"id": "sig_123456789", "signature_id": {"uri": "https://www.google.com/image.png",
          "location": "19.432608, -99.133209", "ip": "192.168.1.100", "hash": "1234567890"},
          "created_at": "2025-02-13T20:58:46Z"}'
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - F8N5CHhBoAMEJmQ=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - "228"
        x-amzn-Remapped-Date:
          - Thu, 13 Feb 2025 20:58:46 GMT
        x-amzn-Remapped-Server:
          - nginx/1.26.2
        x-amzn-RequestId:
          - e36ae661-84ae-41db-98df-5e6e45df96ef
      status:
        code: 201
        message: Created
version: 1
