interactions:
- request:
    body: '{"password": "222222"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/user_credentials
  response:
    body:
      string: '{"id":"US46cuHpEJ5xFTOceMKVqSzF","created_at":"2020-12-22T01:06:07.179062","is_active":true,"updated_at":"2021-03-04T03:36:54.665967"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.441'
      x-amz-apigw-id:
      - bpKEjETSCYcFZAg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '134'
      x-amzn-Remapped-Date:
      - Thu, 04 Mar 2021 03:41:30 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - cd8532ae-0ea5-4929-91f5-4b31191646ef
      x-amzn-RequestId:
      - d6c98e39-8b31-483c-961f-9362ef11c200
    status:
      code: 201
      message: Created
- request:
    body: '{"password": "222222"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/user_logins
  response:
    body:
      string: '{"success":true,"id":"UL8DK0R1k2STaKwnXdQXhPvQ","last_login_at":"2021-03-04T03:36:54.664495"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.346'
      x-amz-apigw-id:
      - bpKEpHeECYcFdFA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '93'
      x-amzn-Remapped-Date:
      - Thu, 04 Mar 2021 03:41:30 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - d29501a9-5477-4725-bb56-f6ba7f30f947
      x-amzn-RequestId:
      - ccf29862-9d02-460c-9e2c-49001ce34365
    status:
      code: 201
      message: Created
- request:
    body: '{"is_active": null, "password": "111111"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - UL8DK0R1k2STaKwnXdQXhPvQ
    method: PATCH
    uri: https://sandbox.cuenca.com/user_credentials/me
  response:
    body:
      string: '{"id":"US46cuHpEJ5xFTOceMKVqSzF","created_at":"2020-12-22T01:06:07.179062","is_active":true,"updated_at":"2021-03-04T03:41:30.816071"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.349'
      x-amz-apigw-id:
      - bpKEuH01iYcFX3w=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '134'
      x-amzn-Remapped-Date:
      - Thu, 04 Mar 2021 03:41:31 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 098a4e1f-09e0-45a0-9f77-22c882e61802
      x-amzn-RequestId:
      - 4fbeb926-ea4f-4fc1-a12d-eac152a9c247
    status:
      code: 201
      message: Created
version: 1
