interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/curp_validations/CVhY5Pi6yBQJO22p1lg-_EPw
  response:
    body:
      string: "{\"id\":\"CVhY5Pi6yBQJO22p1lg-_EPw\",\"created_at\":\"2022-02-09T00:54:08.978000\",\"names\":\"Jos\xE9\",\"first_surname\":\"L\xF3pez\",\"second_surname\":\"Hern\xE1ndez\",\"date_of_birth\":\"1966-06-06\",\"country_of_birth\":\"MX\",\"state_of_birth\":\"DF\",\"gender\":\"male\",\"nationality\":null,\"manual_curp\":null,\"calculated_curp\":\"LOHJ660606HDFPRS02\",\"validated_curp\":\"LOHJ660606HDFPRS02\",\"renapo_curp_match\":true,\"renapo_full_match\":true}"
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.226'
      x-amz-apigw-id:
      - NP-lzF_piYcFsVw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '388'
      x-amzn-Remapped-Date:
      - Wed, 09 Feb 2022 00:56:56 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - 2307084c-6633-465c-9f33-c55a4f88f8d7
    status:
      code: 200
      message: OK
version: 1
