interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/whatsapp_transfers/SW02
  response:
    body:
      string: '{"id":"SW02","created_at":"2020-06-16T05:09:50.213000","amount":20000,"status":"submitted","descriptor":"Whatsapp
        Transfer","updated_at":"2020-06-16T05:09:50.213000","recipient_name":"Frida
        Kahlo","phone_number":"+525590807060","claim_url":"https://cuenca.com/recibirdinero/ST02","expires_at":"2020-06-23T05:09:50.213000","destination_uri":null,"network":"internal","tracking_key":null,"user_id":"US01"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - ONKKqHnBoAMFxyA=
      x-amzn-RequestId:
      - ca387f5b-221b-48c5-98db-448917bfd0d2
    status:
      code: 200
      message: OK
version: 1
