interactions:
- request:
    body: '{"names": "Jos\u00e9", "first_surname": "L\u00f3pez", "second_surname":
      "Hern\u00e1ndez", "date_of_birth": "1966-06-06", "state_of_birth": "DF", "country_of_birth":
      "MX", "gender": "male", "manual_curp": null}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/curp_validations
  response:
    body:
      string: "{\"id\":\"CVI1QLPWZnR6y-w7q2mCGjZQ\",\"created_at\":\"2022-02-09T16:55:09.848864\",\"names\":\"Jos\xE9\",\"first_surname\":\"L\xF3pez\",\"second_surname\":\"Hern\xE1ndez\",\"date_of_birth\":\"1966-06-06\",\"country_of_birth\":\"MX\",\"state_of_birth\":\"DF\",\"gender\":\"male\",\"nationality\":\"MX\",\"manual_curp\":null,\"calculated_curp\":\"LOHJ660606HDFPRS02\",\"validated_curp\":\"LOHJ660606HDFPRS02\",\"renapo_curp_match\":true,\"renapo_full_match\":true}"
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.316'
      x-amz-apigw-id:
      - NSK9LEf8CYcFfIQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '402'
      x-amzn-Remapped-Date:
      - Wed, 09 Feb 2022 16:55:10 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - ed3654e3-6fd0-48d3-994f-54ece7c14a7d
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/identities?limit=2&curp=LOHJ660606HDFPRS02
  response:
    body:
      string: "{\"items\":[{\"id\":\"IDKWLi_wUoTty6WXXg9xfKFQ\",\"created_at\":\"2022-02-04T22:32:07.350000\",\"names\":\"Jos\xE9\",\"first_surname\":\"L\xF3pez\",\"second_surname\":\"Hern\xE1ndez\",\"curp\":\"LOHJ660606HDFPRS02\",\"rfc\":null,\"gender\":\"male\",\"date_of_birth\":\"1966-06-06\",\"state_of_birth\":\"DF\",\"nationality\":\"MX\",\"country_of_birth\":\"MX\",\"status\":\"active\",\"tos_agreement\":null,\"blacklist_validation_status\":null,\"address\":null,\"govt_id\":null,\"proof_of_address\":null,\"proof_of_life\":null}],\"next_page_uri\":null}"
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.248'
      x-amz-apigw-id:
      - NSK9PHcUiYcFclA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '477'
      x-amzn-Remapped-Date:
      - Wed, 09 Feb 2022 16:55:10 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - fe0b6156-afaf-45ba-9918-cbb6adbae716
    status:
      code: 200
      message: OK
version: 1
