interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTSb8853JJRGiPBvY4lZCMzQ
    method: GET
    uri: https://sandbox.cuenca.com/card_transactions/CT4kMz2YNoWxVSQOCPCh2nQD
  response:
    body:
      string: '{"id":"CT4kMz2YNoWxVSQOCPCh2nQD","created_at":"2020-10-28T21:00:24.033000","user_id":"US4PCNV8rLB2wqBfORzIAXUl","amount":300,"status":"failed","descriptor":"Superama
        Michoacan","type":"expiration","network":"visa","related_card_transaction_uris":[],"card_last4":"0359","card_type":"virtual","card_uri":"/cards/CAYNfqsQTFSnKz56n6Vw6rTw","metadata":{"authorizer_number":null,"card_acceptor":null,"commission":null,"currency_code":"484","is_cvv":null,"pos_capabilty":null,"prosa_transaction_id":"68942","retrieval_reference":"741113898","track_data_method":null,"transaction_reference":null},"error_type":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.230'
      x-amz-apigw-id:
      - bsGVdEkHCYcFVfw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '607'
      x-amzn-Remapped-Date:
      - Fri, 05 Mar 2021 01:06:43 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - de803222-e1bc-492c-a97a-624c47ba82d3
      x-amzn-RequestId:
      - e4aa0d18-e8ee-4ed9-af9e-8b8df10b9b36
    status:
      code: 200
      message: OK
version: 1
