interactions:
- request:
    body: '{"names": "Manuel", "first_surname": "Avalos", "second_surname": "Tovar",
      "date_of_birth": "1997-03-29", "state_of_birth": "DF", "country_of_birth": "MX",
      "gender": "male", "manual_curp": null}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/curp_validations
  response:
    body:
      string: '{"id":"CVSxqL6RuyQCCCpebou9l47A","created_at":"2022-02-03T18:47:53.820994","names":"Manuel","first_surname":"Avalos","second_surname":"Tovar","date_of_birth":"1997-03-29","country_of_birth":"MX","state_of_birth":"DF","gender":"male","nationality":"MX","manual_curp":null,"calculated_curp":"AATM970329HDFVVN05","validated_curp":"AATM970329HDFVVN05","renapo_curp_match":true,"renapo_full_match":true}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 1.089'
      x-amz-apigw-id:
      - M-p2DFufiYcFp1w=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '398'
      x-amzn-Remapped-Date:
      - Thu, 03 Feb 2022 18:47:54 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - 7237809f-e887-43a4-bc65-b17eab1de930
    status:
      code: 201
      message: Created
version: 1
