interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/clabes/CLD_zg463BQ6-yEjg8UE0jgQ
  response:
    body:
      string: '{"id":"CLD_zg463BQ6-yEjg8UE0jgQ","clabe":"646180157089988558","created_at":"2022-08-23T05:14:11.862000","user_id":"USbDnHlZYDShGoTS2NTD-Lmg"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.080'
      x-amz-apigw-id:
      - XTRXwGRHoAMFvag=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '141'
      x-amzn-Remapped-Date:
      - Tue, 23 Aug 2022 05:16:07 GMT
      x-amzn-Remapped-Server:
      - nginx/1.22.0
      x-amzn-RequestId:
      - 4d2bfa10-eff8-45c0-ae23-ac20afa45bd9
    status:
      code: 200
      message: OK
version: 1
