interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/cash_references
  response:
    body:
      string: '{"items":[{"id":"CR4EI4kVBwHboi8gCUxMnP9q","number":"2718285113832091","user_id":"USlen-v7UQSqqZTGVe3vQmLQ","created_at":"2022-08-23T22:44:45.259000"}],"next_page_uri":null,"count":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.063'
      x-amz-apigw-id:
      - XVvIgGbxoAMFZ7w=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '186'
      x-amzn-Remapped-Date:
      - Tue, 23 Aug 2022 23:13:07 GMT
      x-amzn-Remapped-Server:
      - nginx/1.22.0
      x-amzn-RequestId:
      - bbfddca2-09f2-44cc-88a2-b41688c63cfb
    status:
      code: 200
      message: OK
version: 1
