interactions:
- request:
    body: '{"names": "José", "first_surname": "López", "second_surname": "Hernández",
      "date_of_birth": "1996-06-21", "state_of_birth": "GR", "country_of_birth": "MX",
      "gender": "male", "manual_curp": null}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/curp_validations
  response:
    body:
      string: '{"id":"CViW6DNWVHSEu5QBEYWxC1Wg","created_at":"2025-07-29T17:26:50.871212","names":"José","first_surname":"López","second_surname":"Hernández","date_of_birth":"1996-06-21","country_of_birth":"MX","state_of_birth":"GR","gender":"male","nationality":"MX","manual_curp":null,"calculated_curp":"LOHJ660606HDFPRS02","validated_curp":"LOHJ660606HDFPRS02","renapo_curp_match":true,"renapo_full_match":true,"cve_entidad_emisora":null,"cve_entidad_nacimiento":null,"fecha_nacimiento":null,"fecha_nacimiento_axu":null,"nacionalidad":null,"codigo_error":null,"descripcion_error":null,"documento_probatorio":null,"anio_registro":null,"numero_acta":null,"clave_entidad_federativa_registro":null,"clave_municipio_registro":null,"numero_registro_nacional_extranjeros":null,"folio_carta":null,"folio_certificado":null,"clave_unica_refugiado":null,"estatus":null,"nivel_confiabilidad":null,"curp_historicas":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.273'
      x-amz-apigw-id:
      - Oe2ePGF3iYcEecQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '897'
      x-amzn-Remapped-Date:
      - Tue, 29 Jul 2025 17:26:51 GMT
      x-amzn-Remapped-Server:
      - nginx/1.28.0
      x-amzn-RequestId:
      - 82794d72-54b2-44a3-844f-bd20d3b07515
    status:
      code: 201
      message: Created
- request:
    body: '{"curp": "LOHJ660606HDFPRS02", "profession": "Empleado(a/e)", "address":
      {"street": "calle 1", "ext_number": "2", "int_number": "3", "postal_code_id":
      "PCLo4hi65YTKaAnph27E_2SQ"}, "phone_verification_id": "VEJlFhtVOgQMG5EpkThHL5Tg",
      "email_verification_id": "VE_r7hBIlaSfe2pEOvMtBEog"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/users
  response:
    body:
      string: '{"id":"USPR4JxMuwSG60u2h4gBpB6Q","created_at":"2025-07-29T17:26:51.788962","updated_at":"2025-07-29T17:26:53.214399","platform_id":"PTZbBlk__kQt-wfwzP5nwA9A","user_type":"physical","level":0,"required_level":3,"phone_number":"+525555555552","phone_number_is_active":true,"email_address":"test-cuenca-06@yopmail.com","email_address_is_active":true,"clabe":"723324548297159645","status":"active","address":{"street":"calle
        1","ext_number":"2","int_number":"3","postal_code":"40106","colonia":"El Naranjo","state":"GR","city":"Iguala
        de la Independencia","country":"MX","created_at":"2025-07-29T17:26:51.788790","full_name":null},"identity_uri":"/identities/IDfN3QVig1Qui8oZNrmA4hfw","profession":"Empleado(a/e)","user_tos_agreements_id":null,"blacklist_validation_status":"not_verified","govt_id":null,"proof_of_address":null,"proof_of_life":null,"beneficiaries":[],"curp_status":"succeeded","pronouns":null,"fiscal_regime_code":null,"cash_reference_number":null,"names":"José","first_surname":"López","second_surname":"Hernández","curp":"LOHJ660606HDFPRS02","rfc":"MOOG960621GJ1","gender":"male","date_of_birth":"1996-06-21","state_of_birth":"GR","nationality":"MX","country_of_birth":"MX"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Oe2eVHRNCYcEeEw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '1190'
      x-amzn-Remapped-Date:
      - Tue, 29 Jul 2025 17:26:54 GMT
      x-amzn-Remapped-Server:
      - nginx/1.28.0
      x-amzn-RequestId:
      - 1e474c27-934f-440a-8ba4-c06db1bbec55
    status:
      code: 201
      message: Created
- request:
    body: '{"user_id": "USPR4JxMuwSG60u2h4gBpB6Q", "type": "session.registration",
      "success_url": "https://example.com/succeeded_registration", "failure_url":
      "https://example.com/failed_registration"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/sessions
  response:
    body:
      string: '{"id":"SSjUSaWbM1S-26rGdhk2r1Aw","created_at":"2025-07-29T17:26:55.884366","user_id":"USPR4JxMuwSG60u2h4gBpB6Q","platform_id":"PTZbBlk__kQt-wfwzP5nwA9A","expires_at":"2025-07-29T17:36:55.884378","success_url":"https://example.com/succeeded_registration","failure_url":"https://example.com/failed_registration","type":"session.registration"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 1.506'
      x-amz-apigw-id:
      - Oe2e0EeiCYcEPfA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '340'
      x-amzn-Remapped-Date:
      - Tue, 29 Jul 2025 17:26:55 GMT
      x-amzn-Remapped-Server:
      - nginx/1.28.0
      x-amzn-RequestId:
      - d01c1d75-a1fb-4692-a856-b118f291bde3
    status:
      code: 201
      message: Created
- request:
    body: '{"profession": "Comercio", "email_verification_id": null, "phone_verification_id":
      null, "address": null, "beneficiaries": null, "govt_id": null, "proof_of_address":
      null, "proof_of_life": null, "curp_document_uri": null, "fiscal_regime_code":
      null, "pronouns": null}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: PATCH
    uri: https://sandbox.cuenca.com/users/USPR4JxMuwSG60u2h4gBpB6Q
  response:
    body:
      string: '{"id":"USPR4JxMuwSG60u2h4gBpB6Q","created_at":"2025-07-29T17:26:51.788000","updated_at":"2025-07-29T17:26:56.475244","platform_id":"PTZbBlk__kQt-wfwzP5nwA9A","user_type":"physi[...]
