interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/api_keys/AKMPSxy2UeSKqU1J6spDNwqA
  response:
    body:
      string: '{"id":"AKMPSxy2UeSKqU1J6spDNwqA","created_at":"2021-02-11T19:45:52.826286","secret":"********","deactivated_at":"2212-10-08T19:37:22.722505","user":{"id":"USJaz512A7ROOh7N3pqKGMZg","created_at":"2021-02-11T19:44:54.016164"},"updated_at":"2021-02-18T19:51:32.675665","user_id":"USJaz512A7ROOh7N3pqKGMZg"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - a9PQWHS4iYcFfew=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '303'
      x-amzn-Remapped-Date:
      - Thu, 18 Feb 2021 19:52:59 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 897b7d0c-acbd-41f0-9d19-b1fe2562639f
      x-amzn-RequestId:
      - 49322140-ddb4-4c98-a7cf-ccc33b65d50d
    status:
      code: 200
      message: OK
version: 1
