interactions:
- request:
    body: '{"user_id": "US1237", "issuer": "cuenca", "funding_type":
      "credit", "is_dynamic_cvv": true}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/cards
  response:
    body:
      string: '{"id":"CAXhjbtkPtR0mK4mB-qxAfTg","created_at":"2022-09-27T22:40:32.407778","updated_at":"2022-09-27T22:40:32.924951","user_id":"US1237","platform_id":"PTCHzhZ0ILRN-oxwd0u2coiQ","number":"5448750085957396","exp_month":9,"exp_year":27,"cvv2":"847","type":"virtual","status":"active","pin":null,"issuer":"cuenca","funding_type":"credit","card_holder_user_id":"US118qfWNLSaOaDSPxbPzdIg","manufacturer":null,"cvv":"323","icvv":null,"is_dynamic_cvv":true,"pin_block":null,"pin_block_switch":null,"pin_attempts_failed":0}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.953'
      x-amz-apigw-id:
      - ZJBLEF_5CYcFSBA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '532'
      x-amzn-Remapped-Date:
      - Tue, 27 Sep 2022 22:40:33 GMT
      x-amzn-Remapped-Server:
      - nginx/1.22.0
      x-amzn-RequestId:
      - b1364573-21c6-4c12-bcf7-fb294c66012e
    status:
      code: 201
      message: Created
version: 1
