interactions:
- request:
    body: '{"name": "my new car", "category": "vehicle", "goal_amount": 100000, "goal_date":
      "2022-08-19T00:33:04.379430"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULIfKcTXnXRv-UV8HPObyxYw
    method: POST
    uri: https://sandbox.cuenca.com/savings
  response:
    body:
      string: '{"id":"LA6N_ALj-tQUGnbcTEQ4-8Dg","created_at":"2021-08-19T00:33:10.495474","updated_at":"2021-08-19T00:33:10.495478","user_id":"US3zGWi1n852bTyqD1wCZ1ft","balance":0,"deactivated_at":null,"name":"my
        new car","category":"vehicle","goal_amount":100000,"goal_date":"2022-08-19T00:33:04.379430"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 6.216'
      x-amz-apigw-id:
      - ESb-LGp2CYcFVuA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '291'
      x-amzn-Remapped-Date:
      - Thu, 19 Aug 2021 00:33:11 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.1
      x-amzn-Remapped-x-amzn-RequestId:
      - 4a19a0ad-1ad8-4f3d-800a-2d0ea5cdc7a0
      x-amzn-RequestId:
      - 96b0fa77-d5fa-4e0a-9a99-b1bd4b239a67
    status:
      code: 201
      message: Created
version: 1
