interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/kyc_verifications/KYC01
  response:
    body:
      string: '{"id":"KYC01","identity_id":null,"platform_id":"PT01","created_at":"2022-05-04T21:27:15.954000","updated_at":"2022-05-04T21:27:15.954000","deactivated_at":null,"verification_id":null,"curp":null,"rfc":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Rns0cHpJiYcF_OQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '246'
      x-amzn-Remapped-Date:
      - Wed, 04 May 2022 21:49:29 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - 071182a0-b23e-47f0-bb92-68fdc35ec070
    status:
      code: 200
      message: OK
version: 1
