interactions:
- request:
    body: '{"user_id": "USiBeLDwEWT_inkyE4CrRsrQ", "metadata": {"info": "v1.1.1"}}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: PATCH
    uri: https://stage.cuenca.com/api_keys/AKW9RCvRvOThixdmMMMSfnhg
  response:
    body:
      string: '{"id":"AKW9RCvRvOThixdmMMMSfnhg","created_at":"2021-02-18T21:14:29.567217","secret":"********","deactivated_at":"2212-10-15T20:55:42.871477","user":{"id":"USiBeLDwEWT_inkyE4CrRsrQ","created_at":"2020-12-07T18:45:55.641544"},"metadata":{"info":"v1.1.1"},"updated_at":"2021-02-18T21:15:04.003816","user_id":"USiBeLDwEWT_inkyE4CrRsrQ"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - a9bQ-HXKCYcFm7w=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '332'
      x-amzn-Remapped-Date:
      - Thu, 18 Feb 2021 21:15:04 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 89366914-3b78-4fba-95f7-ddd8ecb18fe1
      x-amzn-RequestId:
      - bab96828-df9f-497a-9b7e-f22909f7f1c2
    status:
      code: 201
      message: Created
version: 1
