interactions:
- request:
    body: '{"user_id": "USrZMoC3sDgEDteFNMYhcXY", "platform_id": "PTZbBlk__kQt-wfwzP5nwA9A",
      "metadata": {"info": "v1.1.1"}}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: PATCH
    uri: https://sandbox.cuenca.com/api_keys/AKNm37rN3JQsStxnI_L3n4Lw
  response:
    body:
      string: '{"id":"AKNm37rN3JQsStxnI_L3n4Lw","created_at":"2022-01-14T21:36:23.516000","secret":"********","deactivated_at":null,"user_id":"USrZMoC3sDgEDteFNMYhcXY","updated_at":"2022-01-14T22:13:39.640466"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.278'
      x-amz-apigw-id:
      - L9NPDH84CYcFUmA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '195'
      x-amzn-Remapped-Date:
      - Fri, 14 Jan 2022 22:13:39 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - 8dc1b6ce-0772-4c9f-a808-06fef63b693e
    status:
      code: 201
      message: Created
version: 1
