interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/clabes?allowed_curp_rfc=LOPJ900101XXX
  response:
    body:
      string: '{"items":[{"id":"723548437718857180","clabe":"723548437718857180","created_at":"2026-02-04T19:57:26.392000","updated_at":"2026-02-04T19:57:26.392000","deactivated_at":null,"provider":"cuenca","user_id":"USmI9NnHJXTKi9ILP1aaWjlQ","allowed_curp_rfc":"LOPJ900101XXX","is_default":false}],"next_page_uri":null,"count":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 1.314'
      x-amz-apigw-id:
      - DwMFlEmHCYcEXIw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '319'
      x-amzn-Remapped-Date:
      - Tue, 15 Sep 2026 18:24:23 GMT
      x-amzn-Remapped-Server:
      - nginx/1.30.4
      x-amzn-RequestId:
      - 37828c23-0ec9-4f12-8db0-08f5778509f8
    status:
      code: 200
      message: OK
version: 1
