interactions:
- request:
    body: '{"type": "phone", "recipient": "+525555555555"}'
    headers:
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/verifications
  response:
    body:
      string: '{"id":"VEPsf1IUMGT-C0bSFIvPZ17Q","identity_id":null,"platform_id":"PTZbBlk__kQt-wfwzP5nwA9A","created_at":"2025-07-15T22:31:24.231812","updated_at":"2025-07-15T22:31:24.232089","deactivated_at":null,"recipient":"+525555555555","language":"en","type":"phone"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - NxZ9dHQeiYcEYyw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '258'
      x-amzn-Remapped-Date:
      - Tue, 15 Jul 2025 22:31:24 GMT
      x-amzn-Remapped-Server:
      - nginx/1.28.0
      x-amzn-RequestId:
      - 742a0869-1f8f-487e-9e8c-bed92bb9a923
    status:
      code: 201
      message: Created
version: 1
