interactions:
- request:
    body: '{"phone_number": "+525555555555", "profession": "programmer", "govt_id":
      {"type": "ine", "uri_front": "cuenca.com", "uri_back": "cuenca.com", "is_mx":
      true}}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: PATCH
    uri: https://sandbox.cuenca.com/users/US2v9UT-ESS-yozbtx3W6tOg
  response:
    body:
      string: '{"id":"US2v9UT-ESS-yozbtx3W6tOg","identity_uri":"/identities/IDBgQxEuYMSxGLndiYxg-nRg","created_at":"2022-02-02T22:31:22.309000","platform_id":"PTW68GgAc_QPmNCmgajmctLg","level":1,"updated_at":"2022-02-02T23:13:33.839540","phone_number":"+525555555555","email_address":"manu@example.com","profession":"programmer","status":"active","terms_of_service":null,"blacklist_validation_status":"succeeded","address":{"street":"calle
        1","ext_number":"2","int_number":"3","postal_code":"09900","state":"DF","city":null,"country":"MX","created_at":"2022-02-02T22:31:22.309000"},"govt_id":{"type":"ine","uri_front":"cuenca.com","uri_back":"cuenca.com","is_mx":true,"data":{},"status":"not_verified"},"proof_of_address":null,"proof_of_life":null,"beneficiaries":null,"names":"Manuel","first_surname":"Avalos","second_surname":"Tovar","curp":"AATM970329HDFVVN05"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.193'
      x-amz-apigw-id:
      - M790rGWniYcFUJw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '849'
      x-amzn-Remapped-Date:
      - Wed, 02 Feb 2022 23:13:33 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - 6c8bee88-10b5-4882-8a8b-8ba23630b4d5
    status:
      code: 200
      message: OK
version: 1
