interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTWewyQrKfRP-374RwKNkFXA
    method: GET
    uri: https://sandbox.cuenca.com/transfers/test
  response:
    body:
      string: '{"id":"test","created_at":"2020-10-07T19:14:02.009000","updated_at":"2021-02-25T23:02:57.005000","account_number":"646180157046685645","recipient_name":"Alan
        Rodrigo Garrido Valencia","amount":1,"descriptor":"llegaraaaaa","idempotency_key":"test","status":"succeeded","network":"internal","destination_uri":"/accounts/LA1CVCZVNLR4KM42kPcqhBLV","tracking_key":"test","user_id":"US4PCNV8rLB2wqBfORzIAXUl","reference_number":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.234'
      x-amz-apigw-id:
      - bn8-EHeKiYcFvmw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '487'
      x-amzn-Remapped-Date:
      - Wed, 03 Mar 2021 18:55:09 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 8fe04dfe-7bd3-4636-9f32-fe0097470f7e
      x-amzn-RequestId:
      - fe3e9f16-b697-4e9e-ac9b-1a9c7c39fdb6
    status:
      code: 200
      message: OK
version: 1
