interactions:
- request:
    body: '{"number": "4122943400023502", "exp_month": 11, "exp_year": 24, "cvv2":
      "123"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULj4BvmWfnRkGk62g321ikiQ
    method: POST
    uri: https://sandbox.cuenca.com/card_activations
  response:
    body:
      string: '{"id":"CAAmnPW-msFSUK0V0fpjnC_UQ","created_at":"2021-03-26T19:25:36.504000","user_id":"US1237","ip_address":"200.56.74.39,
        10.5.52.181","card_uri":"/cards/CA2XIurUccQIcqvPGNpdTm7k","success":true}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 1.241'
      x-amz-apigw-id:
      - cz0_aGfEiYcFkHw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '214'
      x-amzn-Remapped-Date:
      - Fri, 26 Mar 2021 19:25:36 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - d825e840-021f-4ea3-885b-47136dc4b951
      x-amzn-RequestId:
      - b7e4b2a6-e501-44be-adfe-ab8d1437915b
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULj4BvmWfnRkGk62g321ikiQ
    method: GET
    uri: https://sandbox.cuenca.com/cards/CA2XIurUccQIcqvPGNpdTm7k
  response:
    body:
      string: '{"id":"CA2XIurUccQIcqvPGNpdTm7k","created_at":"2019-11-13T21:15:44.877000","updated_at":"2019-11-13T21:15:44.877000","user_id":"US1237","number":"4122943400023502","exp_month":11,"exp_year":24,"cvv2":"123","type":"physical","status":"active","pin":"1234","issuer":"accendo","funding_type":"debit","pin_block":""}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.423'
      x-amz-apigw-id:
      - cz0_pGfNCYcFVlA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '330'
      x-amzn-Remapped-Date:
      - Fri, 26 Mar 2021 19:25:37 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 5e9c4391-baff-4bc8-a71a-d515803b6c99
      x-amzn-RequestId:
      - 52340184-a7f4-4ecf-b905-51e7a1a38805
    status:
      code: 200
      message: OK
version: 1
