interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/identity_events?limit=2&identity_id=IDEz-f3BebS4ejwWkdJr72Lg&type=created
  response:
    body:
      string: '{"items":[{"id":"IEzi5DKACwTIW2jkp3dLmFkg","identity_id":"IDEz-f3BebS4ejwWkdJr72Lg","new_model":{"id":"IDEz-f3BebS4ejwWkdJr72Lg","created_at":"2022-01-31T05:53:15.813383","updated_at":"2022-01-31T05:53:15.813717","names":"Manuel","first_surname":"Avalos","second_surname":"Tovar","curp":"AATM970329HDFVVN05","rfc":null,"gender":"male","date_of_birth":"1997-03-29","state_of_birth":"DF","country_of_birth":"MEX","status":null,"tos_agreement":{},"blacklist_validation_status":null,"address":{},"govt_id":{},"proof_of_address":{},"proof_of_life":{}},"type":"created","created_at":"2022-01-31T05:53:15.813000"}],"next_page_uri":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.561'
      x-amz-apigw-id:
      - M1Me7FIUiYcFWgw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '629'
      x-amzn-Remapped-Date:
      - Mon, 31 Jan 2022 21:55:18 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - cb04a6ec-da50-48e2-be4b-9bb95450373d
    status:
      code: 200
      message: OK
version: 1
