interactions:
- request:
    body: '{"type": "phone_verification", "sender": "+525555555555", "platform_id":
      "PL01"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/verifications
  response:
    body:
      string: '{"id":"VE02","recipient":"+525555555555","platform_id":"PL01","api_key":null,"type":"phone_verification","created_at":"2022-03-16T22:33:22.657205","updated_at":"2022-03-16T22:33:22.657613","deactivated_at":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.285'
      x-amz-apigw-id:
      - PGTT7EO2CYcFQ_w=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '258'
      x-amzn-Remapped-Date:
      - Wed, 16 Mar 2022 22:33:22 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - 7be1235d-09b6-4bc2-b1d9-93b96ac66519
    status:
      code: 201
      message: Created
version: 1
