interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/transfers?idempotency_key=wrong_key&limit=2
  response:
    body:
      string: '{"items":[],"next_page_uri":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - MYSkPEs0IAMFhPw=
      x-amzn-RequestId:
      - 9b6c0958-932a-48bf-bd9c-d839baf8d428
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/transfers?status=submitted&limit=2
  response:
    body:
      string: '{"items":[{"id":"TRIeJD25AJTCaaqd5mvSz-hA==","created_at":"2020-05-08T22:48:19.624000","updated_at":"2020-05-08T22:48:19.643000","account_number":"646180157013244941","recipient_name":"test
        ec941f79-0c0f-4c1a-9648-4ca221103b9b","amount":8888,"descriptor":"lambda","idempotency_key":"ee3d8fbb-e2b6-4c81-94ea-b4ff240a2913","status":"submitted","network":"internal","destination_uri":null,"tracking_key":null},{"id":"TRo4iQvJD5TreE51v3_cVLlA==","created_at":"2020-05-08T19:53:29.917000","updated_at":"2020-05-08T19:53:29.937000","account_number":"646180157013244941","recipient_name":"pach
        31fe4f55-b7c8-49a5-bec4-460e62b94cf9","amount":8888,"descriptor":"lambda","idempotency_key":"972a5034-91de-4fb8-99a2-9733afc4065b","status":"submitted","network":"internal","destination_uri":null,"tracking_key":null}],"next_page_uri":"/transfers?created_before=2020-05-08T19%3A53%3A29.917000&status=pending&limit=2&count=False"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - MYSkRENGoAMFmgw=
      x-amzn-RequestId:
      - 84de0e41-4beb-435e-b1c1-cc68350dcc57
    status:
      code: 200
      message: OK
version: 1
