interactions:
- request:
    body: '{"files": [{"is_back": true, "url": "https://media.getmati.com/file?location=XXX1",
      "type": "ine"}, {"is_back": false, "url": "https://media.getmati.com/file?location=XXX2",
      "type": "proof_of_liveness"}, {"is_back": false, "url": "https://media.getmati.com/file?location=XXX3",
      "type": "proof_of_address"}], "user_id": "US01"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/file_batches
  response:
    body:
      string: '{"id":"EB01","created_at":"2022-03-03T17:43:52.605547","received_files":[{"is_back":true,"type":"ine","url":"https://media.getmati.com/file?location=XXX1"},{"is_back":false,"type":"proof_of_liveness","url":"https://media.getmati.com/file?location=XXX2"},{"is_back":false,"type":"proof_of_address","url":"https://media.getmati.com/file?location=XXX3"}],"uploaded_files":[{"id": "EF01", "is_back":true,"type":"ine","url":"https://stage.cuenca.com/files/EF01"},{"id": "EF02","is_back":false,"type":"proof_of_liveness","url":"https://stage.cuenca.com/files/EF02"},{"id": "EF03", "is_back":false,"type":"proof_of_address","url":"https://stage.cuenca.com/files/EF03"}],"user_id":"US01"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 6.526'
      x-amz-apigw-id:
      - Oays6FKkCYcFWTw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '1600'
      x-amzn-Remapped-Date:
      - Thu, 03 Mar 2022 17:43:52 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - 084b11b7-0888-45f5-8d8f-65f6a22d82f5
    status:
      code: 201
      message: Created
version: 1
