interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      x-amz-content-sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      x-amz-date:
      - 20201019T172955Z
    method: GET
    uri: https://sandbox.cuenca.com/balance_entries/TV01
  response:
    body:
      string: '{"id":"TV01","created_at":"2020-10-15T22:27:53.712000","user_id":"US4PCNV8rLB2wqBfORzIAXUl","name":"Dep\u00f3sito
        de efectivo","amount":25000,"descriptor":"Deposito v\u00eda paynet auth 304054","rolling_balance":144519,"type":"credit","related_transaction_uri":"/deposits/CDI7SJOifauN5WnqfMhXK4R","funding_instrument_uri":"/accounts/BA01"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Uqz7NGGKoAMFuzg=
      x-amzn-RequestId:
      - 3c4972d3-4bb0-45b6-99d9-b184ad9102f9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      x-amz-content-sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      x-amz-date:
      - 20201019T172956Z
    method: GET
    uri: https://sandbox.cuenca.com/deposits/CDI7SJOifauN5WnqfMhXK4R
  response:
    body:
      string: '{"id":"CDI7SJOifauN5WnqfMhXK4R","created_at":"2020-10-15T22:27:53.827000","user_id":"US4PCNV8rLB2wqBfORzIAXUl","amount":25000,"status":"succeeded","descriptor":"Deposito
        v\u00eda paynet auth 304054","source_uri":null,"network":"cash","tracking_key":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Uqz7UG_QIAMFVtQ=
      x-amzn-RequestId:
      - 75f5428f-9a18-455b-9984-cc3e80fbde4b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/accounts/BA01
  response:
    body:
      string: '{"id":"BA01","created_at":"2020-06-03T02:43:52.922000","name":"Frida
        Kahlo","account_number":"072691004495711499","institution_name":"Banorte/Ixe"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - ONC0RHYuoAMF3pw=
      x-amzn-RequestId:
      - c4451173-95e6-4636-b7b8-6f268b4c9918
    status:
      code: 200
      message: OK
version: 1
