interactions:
- request:
    body: '{"user_id": "USPR4JxMuwSG60u2h4gBpB6Q", "type": "session.onboarding_verification",
      "resource_id": "68b887f60c33abad1ea841d3"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/sessions
  response:
    body:
      string: '{"id":"SS-x6PU8GxSpKYL9btp4Btog","created_at":"2025-09-10T20:33:32.483427","user_id":"USPR4JxMuwSG60u2h4gBpB6Q","platform_id":"PTZbBlk__kQt-wfwzP5nwA9A","expires_at":"2025-09-10T20:43:32.483438","success_url":null,"failure_url":null,"type":"session.onboarding_verification","resource_id":"68b887f60c33abad1ea841d3"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.167'
      x-amz-apigw-id:
      - QtAIfG7eCYcEsfQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '315'
      x-amzn-Remapped-Date:
      - Wed, 10 Sep 2025 20:33:32 GMT
      x-amzn-Remapped-Server:
      - nginx/1.28.0
      x-amzn-RequestId:
      - deb095dd-c1c6-4837-b5ac-54a0c41d9fb2
    status:
      code: 201
      message: Created
version: 1
