interactions:
- request:
    body: '{"curp": "LOBR810330HTCPLM05", "account_number": null, "names": "Jos\u00e9
      Ram\u00f3n", "first_surname": "L\u00f3pez", "second_surname": "Beltr\u00e1n"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/user_lists_validations
  response:
    body:
      string: "{\"id\":\"UVhK66y6cdS52zpxfs0y2feg\",\"created_at\":\"2025-03-05T23:34:16.818000\",\"platform_id\":\"PTvAEqw3XtSC2oRTfKg4FAGQ\",\"curp\":\"LOBR810330HTCPLM05\",\"names\":\"Jose
        Ramon\",\"first_surname\":\"Lopez\",\"second_surname\":\"Beltran\",\"status\":\"rejected\",\"lists\":[\"PPE\"],\"response\":{\"resumen\":{\"id_resultado\":\"1\",\"num_registros\":\"3\",\"num_conex_dia\":\"642\"},\"persons\":[{\"id_persona\":\"QEQ0281541\",\"peso1\":\"100\",\"peso2\":\"0\",\"nombre\":\"Jos\xE9
        Ram\xF3n\",\"paterno\":\"L\xF3pez\",\"materno\":\"Beltr\xE1n\",\"curp\":\"LOBR810330HTCPLM05\",\"rfc\":\"LOBR810330RB6\",\"fecha_nacimiento\":\"30/03/1981\",\"sexo\":\"Masculino\",\"lista\":\"PPE\",\"estatus\":\"Inactivo\",\"dependencia\":null,\"puesto\":\"OTRO\",\"area\":null,\"iddispo\":\"6\",\"idrel\":\"QEQ0281252\",\"parentesco\":\"HIJO\",\"razonsoc\":null,\"rfcmoral\":null,\"issste\":null,\"imss\":null,\"ingresos\":null,\"nombrecomp\":\"Jos\xE9
        Ram\xF3n L\xF3pez Beltr\xE1n\",\"apellidos\":\"L\xF3pez Beltr\xE1n\",\"entidad\":null,\"curp_ok\":\"1\",\"fecha_cargo_ini\":\"05/12/2018\",\"fecha_cargo_fin\":null,\"domicilio_a\":null,\"colonia\":null,\"cp\":null,\"ciudad\":null,\"email\":null,\"pais\":null,\"buscado_en\":null,\"ciudadania\":null,\"gafi\":null},{\"id_persona\":\"QEQ0328670\",\"peso1\":\"100\",\"peso2\":\"0\",\"nombre\":\"Jos\xE9
        Ram\xF3n\",\"paterno\":\"L\xF3pez\",\"materno\":\"Beltr\xE1n\",\"curp\":null,\"rfc\":null,\"fecha_nacimiento\":null,\"sexo\":\"Masculino\",\"lista\":\"VENC\",\"estatus\":\"3
        a\xF1os\",\"dependencia\":null,\"puesto\":\"OTRO\",\"area\":null,\"iddispo\":\"6\",\"idrel\":\"QEQ0304602\",\"parentesco\":\"PRIMO\",\"razonsoc\":null,\"rfcmoral\":null,\"issste\":null,\"imss\":null,\"ingresos\":null,\[...]
