interactions:
- request:
    body: '{}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/phone_verifications
  response:
    body:
      string: '{"id":"PV01","created_at":"2021-02-11T20:07:55.891354","updated_at":"2021-02-11T19:54:42.308426","token":"123456789","phone_number":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - amM4WHXDiYcFcog=
      x-amzn-RequestId:
      - 3c0c47f8-198d-4bab-a592-009f362f5c1c
    status:
      code: 201
      message: Created
- request:
    body: '{"token": "123456789", "token_secret": "987654321"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: PATCH
    uri: https://sandbox.cuenca.com/phone_verifications/PV01
  response:
    body:
      string: '{"id":"PV01","created_at":"2021-02-11T20:07:55.891354","updated_at":"2021-02-11T19:54:42.308426","token":"123456789","phone_number":"+525555555555"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - amN_-HXbiYcFiqw=
      x-amzn-RequestId:
      - b1706bba-9818-4626-adf0-2dd2a9297b3d
    status:
      code: 201
      message: Created
version: 1