interactions:
- request:
    body: '{"recipient_name": "Rogelio Lopez", "account_number": "646180157034181180",
      "amount": 10000, "descriptor": "Mi primer transferencia", "idempotency_key":
      "2021-03-03:646180157034181180:10000"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTWewyQrKfRP-374RwKNkFXA
    method: POST
    uri: https://sandbox.cuenca.com/transfers
  response:
    body:
      string: '{"id":"TRhphGwe7xSwqDHMSpJqai0A","created_at":"2021-03-03T18:44:40.752000","updated_at":"2021-03-03T18:44:41.235000","account_number":"646180157034181180","recipient_name":"Rogelio
        Lopez","amount":10000,"descriptor":"Mi primer transferencia","idempotency_key":"2021-03-03:646180157034181180:10000","status":"submitted","network":"internal","destination_uri":"/accounts/ACQVx7_Bw8TR2VBccVnfxwgA","tracking_key":null,"user_id":"US4PCNV8rLB2wqBfORzIAXUl","reference_number":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.303'
      x-amz-apigw-id:
      - bn8DSHDiiYcFpLQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '476'
      x-amzn-Remapped-Date:
      - Wed, 03 Mar 2021 18:48:53 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - f67c2112-454a-40fe-9022-7376e0dcd900
      x-amzn-RequestId:
      - 098ca2ce-d394-4d4d-bd01-0e46bd8fe16f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTWewyQrKfRP-374RwKNkFXA
    method: GET
    uri: https://sandbox.cuenca.com/accounts/ACQVx7_Bw8TR2VBccVnfxwgA
  response:
    body:
      string: '{"id":"ACQVx7_Bw8TR2VBccVnfxwgA","created_at":"2021-03-03T18:44:40.832000","name":"Rogelio
        Lopez","account_number":"646180157034181180","user_id":"US4PCNV8rLB2wqBfORzIAXUl","institution_name":"Cuenca"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.258'
      x-amz-apigw-id:
      - bn8DXFBziYcFT6w=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '201'
      x-amzn-Remapped-Date:
      - Wed, 03 Mar 2021 18:48:53 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - f5efb8b3-1398-4f2d-8d5d-d8d77e7fe557
      x-amzn-RequestId:
      - 5765f96f-07a9-4d02-91b5-adc9260b15d2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTWewyQrKfRP-374RwKNkFXA
    method: GET
    uri: https://sandbox.cuenca.com/transfers/TRhphGwe7xSwqDHMSpJqai0A
  response:
    body:
      string: '{"id":"TRhphGwe7xSwqDHMSpJqai0A","created_at":"2021-03-03T18:44:40.752000","updated_at":"2021-03-03T18:44:41.235000","account_number":"646180157034181180","recipient_name":"Rogelio
        Lopez","amount":10000,"descriptor":"Mi primer transferencia","idempotency_key":"2021-03-03:646180157034181180:10000","status":"succeeded","network":"internal","destination_uri":"/accounts/ACQVx7_Bw8TR2VBccVnfxwgA","tracking_key":null,"user_id":"US4PCNV8rLB2wqBfORzIAXUl","reference_number":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.228'
      x-amz-apigw-id:
      - bn8DaExsiYcF_mw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '476'
      x-amzn-Remapped-Date:
      - Wed, 03 Mar 2021 18:48:54 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 3d9a6940-fb16-469a-9182-9bce2fb6804c
      x-amzn-RequestId:
      - 2ed7f5ce-987a-494b-8428-a913ac5ce44f
    status:
      code: 200
      message: OK
version: 1
