interactions:
- request:
    body: '{"names": "Manuel", "first_surname": "Avalos", "second_surname": "Tovar",
      "date_of_birth": "1997-03-29", "state_of_birth": "DF", "country_of_birth": "MX",
      "gender": "male", "manual_curp": null}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/curp_validations
  response:
    body:
      string: '{"id":"CVMu2GtNlkRICB7O_6-9cEUQ","created_at":"2022-02-02T22:31:21.319779","names":"Manuel","first_surname":"Avalos","second_surname":"Tovar","date_of_birth":"1997-03-29","country_of_birth":"MX","state_of_birth":"DF","gender":"male","nationality":"MEX","manual_curp":null,"calculated_curp":"AATM970329HDFVVN05","validated_curp":"AATM970329HDFVVN05","renapo_curp_match":true,"renapo_full_match":true}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.754'
      x-amz-apigw-id:
      - M73o-FptCYcFcEw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '399'
      x-amzn-Remapped-Date:
      - Wed, 02 Feb 2022 22:31:21 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - bf9dc9ac-5c3b-45aa-bf6b-9ccc242a8a45
    status:
      code: 201
      message: Created
- request:
    body: '{"curp": "AATM970329HDFVVN05", "phone_number": "+525559610838", "email_address":
      "manuel@cuenca.com", "profession": "employee", "address": {"street": "calle
      1", "ext_number": "2", "postal_code": "09900", "state": "DF", "country": "MX",
      "city": null, "int_number": "3"}}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/users
  response:
    body:
      string: '{"id":"US2v9UT-ESS-yozbtx3W6tOg","identity_uri":"/identities/IDBgQxEuYMSxGLndiYxg-nRg","created_at":"2022-02-02T22:31:22.309219","platform_id":"PTW68GgAc_QPmNCmgajmctLg","level":1,"updated_at":"2022-02-02T22:31:22.401264","phone_number":"+525559610838","email_address":"manuel@cuenca.com","profession":"employee","status":"active","terms_of_service":null,"blacklist_validation_status":"not_verified","address":{"street":"calle
        1","ext_number":"2","int_number":"3","postal_code":"09900","state":"DF","city":null,"country":"MX","created_at":"2022-02-02T22:31:22.309099"},"govt_id":null,"proof_of_address":null,"proof_of_life":null,"beneficiaries":null,"names":"Manuel","first_surname":"Avalos","second_surname":"Tovar","curp":"AATM970329HDFVVN05"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.841'
      x-amz-apigw-id:
      - M73pHEWYiYcFQkA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '745'
      x-amzn-Remapped-Date:
      - Wed, 02 Feb 2022 22:31:23 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - f6037682-0d61-4e54-b800-3ca57d656147
    status:
      code: 201
      message: Created
- request:
    body: '{"user_id": "US2v9UT-ESS-yozbtx3W6tOg", "type": "session.registration",
      "success_url": "https://example.com/succeeded_registration", "failure_url":
      "https://example.com/failed_registration"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/sessions
  response:
    body:
      string: '{"id":"SS5BZk479UQEe89aVz_31v4Q","created_at":"2022-02-02T22:31:23.228554","updated_at":"2022-02-02T22:31:23.228783","user_id":"US2v9UT-ESS-yozbtx3W6tOg","platform_id":"PTW68GgAc_QPmNCmgajmctLg","expires_at":"2022-02-02T22:41:23.228568","success_url":"https://example.com/succeeded_registration","failure_url":"https://example.com/failed_registration","type":"session.registration"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.124'
      x-amz-apigw-id:
      - M73pRHF1CYcF90Q=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '382'
      x-amzn-Remapped-Date:
      - Wed, 02 Feb 2022 22:31:23 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - 5c2f291b-ed11-4af6-8322-2db83737a47e
    status:
      code: 201
      message: Created
- request:
    body: '{"email_address": "manu@example.com"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: PATCH
    uri: https://sandbox.cuenca.com/users/US2v9UT-ESS-yozbtx3W6tOg
  response:
    body:
      string: '{"id":"US2v9UT-ESS-yozbtx3W6tOg","identity_uri":"/identities/IDBgQxEuYMSxGLndiYxg-nRg","created_at":"2022-02-02T22:31:22.309000","platform_id":"PTW68GgAc_QPmNCmgajmctLg","leve[...]
