interactions:
  - request:
      body:
        '{"user_id": "USPR4JxMuwSG60u2h4gBpB6Q", "type": "session.onboarding_verification",
        "resource_id": "68b887f60c33abad1ea841d3"}'
      headers:
        Authorization:
          - DUMMY
        Content-Type:
          - application/json
        X-Cuenca-Api-Version:
          - "2020-03-19"
      method: POST
      uri: https://sandbox.cuenca.com/sessions
    response:
      body:
        string: '{"id":"SSOXga_D_VQXCPsWQT7Z0ddQ","created_at":"2025-09-10T20:33:32.875517","user_id":"USPR4JxMuwSG60u2h4gBpB6Q","platform_id":"PTZbBlk__kQt-wfwzP5nwA9A","expires_at":"2025-09-10T20:43:32.875529","success_url":null,"failure_url":null,"type":"session.onboarding_verification","resource_id":"68b887f60c33abad1ea841d3"}'
      headers:
        Content-Type:
          - application/json
        X-Request-Time:
          - "value: 0.151"
        x-amz-apigw-id:
          - QtAIjGCGiYcEuZw=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - "315"
        x-amzn-Remapped-Date:
          - Wed, 10 Sep 2025 20:33:32 GMT
        x-amzn-Remapped-Server:
          - nginx/1.28.0
        x-amzn-RequestId:
          - 0d6c920d-4608-4d1c-9858-fe81fccba4b1
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        X-Cuenca-Api-Version:
          - "2020-03-19"
        X-Cuenca-SessionId:
          - SSOXga_D_VQXCPsWQT7Z0ddQ
      method: GET
      uri: https://sandbox.cuenca.com/onboarding_verifications/68b887f60c33abad1ea841d3
    response:
      body:
        string: '{"gov_id_document_number":"267202610","gov_id_front":"https://media-cdn.prod.metamap.com","proof_of_address":"https://media-cdn.prod.metamap.com","liveness_selfie":"https://media-cdn.prod.metamap.com"}'
      headers:
        Content-Type:
          - application/json
        X-Request-Time:
          - "value: 0.388"
        x-amz-apigw-id:
          - QtAImGe5iYcEi4g=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - "2359"
        x-amzn-Remapped-Date:
          - Wed, 10 Sep 2025 20:33:33 GMT
        x-amzn-Remapped-Server:
          - nginx/1.28.0
        x-amzn-RequestId:
          - 848ed62c-6ec3-4150-a3fb-5a082cb313b4
      status:
        code: 200
        message: OK
version: 1
