interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/users?identity_uri=IDzqdGEBX_SMScteGcRDNtOg
  response:
    body:
      string: '{"items":[{"id":"US48qRpnZOQuKoAF1j_mnZ7Q","created_at":"2022-05-05T18:35:14.597000","updated_at":"2022-05-19T23:40:30.372000","identity_uri":"/identities/IDzqdGEBX_SMScteGcRDNtOg","level":2,"phone_number":"+525566556655","email_address":"alan@cuenca.com","profession":"employee","terms_of_service":{"version":"2022-01-01","ip":"201.141.24.14","location":null},"status":"active","address":{"street":null,"ext_number":null,"postal_code":null,"state":null,"country":null,"city":null,"int_number":null,"full_name":"RTNO
        1"},"govt_id":{"type":"ine","is_mx":true,"uri_front":"cuenca.com","uri_back":"cuenca.com","data":{}},"proof_of_address":null,"proof_of_life":null,"beneficiaries":null,"platform_id":"PTSFitwBYWROu-dAziDnSr4Q"},{"id":"USH19aFDPCTbetWNiltoqPyA","created_at":"2022-04-29T01:54:49.537000","updated_at":"2022-05-04T23:11:33.845000","identity_uri":"/identities/IDzqdGEBX_SMScteGcRDNtOg","level":3,"phone_number":"+525566778899","email_address":"yisus@cuenca.com","profession":null,"terms_of_service":{"version":"2022-01-01","ip":"10.0.23.99","location":null},"status":"active","address":null,"govt_id":{"type":"ine","is_mx":true,"uri_front":"cuenca.com","uri_back":"cuenca.com","data":{}},"proof_of_address":{"type":"proof_of_address","is_mx":true,"uri_front":"cuenca.com","uri_back":null,"data":{}},"proof_of_life":null,"beneficiaries":null,"platform_id":"PTW68GgAc_QPmNCmgajmctLg"}],"next_page_uri":null,"count":null,"fields":{"items":{"description":"List
        of Users that match with query filters"},"next_page_uri":{"description":"URL
        to fetch the next page of results"},"count":{"description":"Counter of Users
        objects that match with query filters.  \nIncluded in response only if `count`
        param was `true`"}}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Te2HaHFyCYcFpfQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '2006'
      x-amzn-Remapped-Date:
      - Fri, 10 Jun 2022 01:24:50 GMT
      x-amzn-Remapped-Server:
      - nginx/1.22.0
      x-amzn-RequestId:
      - 9977aaa0-5fee-4616-bd99-f105a2246da6
    status:
      code: 200
      message: OK
version: 1
