interactions:
- request:
    body: '{}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/api_keys
  response:
    body:
      string: '{"id":"AKSMPzsvVPROyLZhkwcOtHxA","created_at":"2021-01-11T17:19:39.727266","secret":"uyHrFFVxL80vKsGKxZQBKf94pxPuYHLe-XfQkxuq2VL_Zaw8gl528CZtHIkMcq6l5KEW9sTwdQrhz5w6-e8Lgw","deactivated_at":"2212-09-07T17:03:29.829384","user":{"id":"USiBeLDwEWT_inkyE4CrRsrQ","created_at":"2020-12-07T18:45:55.641544"},"updated_at":"2021-01-11T17:03:29.829434","user_id":"USiBeLDwEWT_inkyE4CrRsrQ"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Y_pKbERpiYcF_8A=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '397'
      x-amzn-Remapped-Date:
      - Mon, 11 Jan 2021 17:19:39 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 1892c8d4-d62e-4656-9156-31d02cd5bb7d
      x-amzn-RequestId:
      - b0bc1f25-2647-4afd-a7ac-35a097bed689
    status:
      code: 201
      message: Created
version: 1
