interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      x-amz-content-sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      x-amz-date:
      - 20201019T180526Z
    method: GET
    uri: https://sandbox.cuenca.com/balance_entries/TV02
  response:
    body:
      string: '{"id":"TV02","created_at":"2020-10-15T22:27:53.786000","user_id":"US4CUUYCzSBj8494zjbmF7Np","name":"Cargo
        a cuenta","amount":1000,"descriptor":"Comisi\u00f3n por dep\u00f3sito de efectivo","rolling_balance":176000,"type":"credit","related_transaction_uri":"/commissions/CO3FI2mQsprTNhoik7Ni1VQF","funding_intrument_uri":null}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Uq5INFTbIAMFZYQ=
      x-amzn-RequestId:
      - 6f80aa4f-6410-4042-9267-0bc9ecae7711
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      x-amz-content-sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      x-amz-date:
      - 20201019T180527Z
    method: GET
    uri: https://sandbox.cuenca.com/commissions/CO3FI2mQsprTNhoik7Ni1VQF
  response:
    body:
      string: '{"Code":"NotFoundError","Message":"NotFoundError: Not valid id"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Uq5IVFX9IAMFcTg=
      x-amzn-RequestId:
      - 4260df4a-cd37-49e8-b099-b6bc7a5579e4
    status:
      code: 404
      message: Not Found
version: 1
