interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/users/USnsyGBk_ARZ2qD2lwzoFZZg
  response:
    body:
      string: "{\"id\":\"USnsyGBk_ARZ2qD2lwzoFZZg\",\"identity_uri\":\"/identities/ID6H0gBaFNQyG81QhMBaHVsQ\",\"level\":1,\"created_at\":\"2022-02-01T23:35:50.436000\",\"updated_at\":\"2022-02-01T23:35:50.463000\",\"phone_number\":\"+16509241212\",\"email_address\":\"mtamizi@gmail.com\",\"profession\":\"nada\",\"status\":\"active\",\"terms_of_service\":null,\"blacklist_validation_status\":\"not_verified\",\"address\":{\"street\":\"Cacahuamilpa\",\"ext_number\":\"19\",\"int_number\":\"depa
        2\",\"postal_code\":\"06100\",\"state\":\"DF\",\"city\":\"Ciudad de M\xE9xico\",\"country\":\"MX\",\"created_at\":\"2022-02-01T23:35:50.436000\"},\"govt_id\":null,\"proof_of_address\":null,\"proof_of_life\":null,\"beneficiaries\":null,\"names\":\"Matin\",\"first_surname\":\"Tamizi\",\"second_surname\":null,\"curp\":\"TAXM840916HNEMXT02\"}"
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.142'
      x-amz-apigw-id:
      - M5qGoFxAiYcFZ2w=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '721'
      x-amzn-Remapped-Date:
      - Wed, 02 Feb 2022 06:25:08 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - d82409d4-04ce-4e48-b5a7-169e848e7a89
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/identities/ID6H0gBaFNQyG81QhMBaHVsQ
  response:
    body:
      string: '{"id":"ID6H0gBaFNQyG81QhMBaHVsQ","created_at":"2022-02-01T18:48:41.722000","names":"Matin","first_surname":"Tamizi","second_surname":null,"curp":"TAXM840916HNEMXT02","rfc":null,"gender":"male","date_of_birth":"1984-09-16","state_of_birth":"NE","country_of_birth":"USA","status":"active","tos_agreement":null,"blacklist_validation_status":null,"address":null,"govt_id":null,"proof_of_address":null,"proof_of_life":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.093'
      x-amz-apigw-id:
      - M5qGrHb8iYcFwcQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '418'
      x-amzn-Remapped-Date:
      - Wed, 02 Feb 2022 06:25:08 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - f9c82017-03e7-40d1-969e-4d316c62132a
    status:
      code: 200
      message: OK
version: 1
