interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - UL8DK0R1k2STaKwnXdQXhPvQ
    method: GET
    uri: https://sandbox.cuenca.com/webhooks
  response:
    body:
      string: '{"items":[{"id":"WE11","created_at":"2022-03-07T20:11:50.034000","event":"user.create","payload":{"hola":"hola"}}],"next_page_uri":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.431'
      x-amz-apigw-id:
      - OovDcGyOiYcF0_A=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '156'
      x-amzn-Remapped-Date:
      - Mon, 07 Mar 2022 23:15:34 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - fc1f3789-4507-41de-9885-960cf903ccd5
    status:
      code: 200
      message: OK
version: 1
