interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/curp_validations/CVSxqL6RuyQCCCpebou9l47A
  response:
    body:
      string: '{"id":"CVSxqL6RuyQCCCpebou9l47A","created_at":"2022-02-03T18:47:53.820000","names":"Manuel","first_surname":"Avalos","second_surname":"Tovar","date_of_birth":"1997-03-29","country_of_birth":"MX","state_of_birth":"DF","gender":"male","nationality":"MX","manual_curp":null,"calculated_curp":"AATM970329HDFVVN05","validated_curp":"AATM970329HDFVVN05","renapo_curp_match":true,"renapo_full_match":true}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.106'
      x-amz-apigw-id:
      - M-qDIEgqCYcFZnA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '398'
      x-amzn-Remapped-Date:
      - Thu, 03 Feb 2022 18:49:17 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - 8abe887f-32d3-4791-a2c9-c1d7b1f8fb00
    status:
      code: 200
      message: OK
version: 1
