interactions:
- request:
    body: '{"legal_person_id": "USmI9NnHJXTKi9ILP1aaWjlQ", "allowed_curp_rfc": "LOPJ900101XXX"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/clabes
  response:
    body:
      string: '{"id":"723548437718857180","clabe":"723548437718857180","created_at":"2026-02-04T19:57:26.392000","updated_at":"2026-02-04T19:57:26.392000","deactivated_at":null,"provider":"cuenca","user_id":"USmI9NnHJXTKi9ILP1aaWjlQ","allowed_curp_rfc":"LOPJ900101XXX","is_default":false}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 1.083'
      x-amz-apigw-id:
      - DwL3dEeViYcENnA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '273'
      x-amzn-Remapped-Date:
      - Tue, 15 Sep 2026 18:22:53 GMT
      x-amzn-Remapped-Server:
      - nginx/1.30.4
      x-amzn-RequestId:
      - c215a783-4895-4b9f-a1d5-315514a819cc
    status:
      code: 201
      message: Created
version: 1
