interactions:
- request:
    body: '{"amount": 1000, "field_type": "barcode", "account_number": "000000000000000000000000000000",
      "provider_id": "SP01", "user_id": "USMGZJ4vEYQ5SplZR5lcX5bg"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/bill_payments
  response:
    body:
      string: '{"id":"STGjSUx0_9Rym_ElZbn8gW5g","created_at":"2022-09-12T17:41:18.036250","user_id":"USMGZJ4vEYQ5SplZR5lcX5bg","amount":1000,"status":"submitted","descriptor":"Pago
        de Servicio a CFE","account_number":"000000000000000000000000000000","accountholder_name":null,"provider_uri":"/service_providers/SP01","field_id":"SP4qT51xTBPypWCNSBAuREL9","platform_id":"PTAW9CNmJSQ_O8piz-y1NyeA"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 3.277'
      x-amz-apigw-id:
      - YW5RSFYpCYcFbhg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '401'
      x-amzn-Remapped-Date:
      - Mon, 12 Sep 2022 17:41:18 GMT
      x-amzn-Remapped-Server:
      - nginx/1.22.0
      x-amzn-Remapped-x-amzn-RequestId:
      - d9e85c4b-f6d2-4909-80d9-f848720a12ec
      x-amzn-RequestId:
      - fa9f577b-2d7f-4f42-8d51-2889420af5cd
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: GET
    uri: https://sandbox.cuenca.com/service_providers/SP01
  response:
    body:
      string: '{"id":"SP01","created_at":"2019-07-15T23:21:48.020000","name":"CFE","provider_key":"electricity_cfe","categories":["electricity"],"fields":[{"is_active":true,"requires_accountholder_name":false,"mask":"000000000000000000000000000000","topup_amounts":[],"type":"barcode"},{"is_active":true,"requires_accountholder_name":false,"mask":"000000000000","topup_amounts":[],"type":"account_number"}]}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.344'
      x-amz-apigw-id:
      - YW5RzGr9CYcFzmg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '412'
      x-amzn-Remapped-Date:
      - Mon, 12 Sep 2022 17:41:18 GMT
      x-amzn-Remapped-Server:
      - nginx/1.22.0
      x-amzn-Remapped-x-amzn-RequestId:
      - d45822cf-13eb-467b-82ba-f31af89f6bf5
      x-amzn-RequestId:
      - 6071e186-dad0-421a-b301-1c4f371123b5
    status:
      code: 200
      message: OK
version: 1
