interactions:
- request:
    body: '{"password": "111111"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/log_in
  response:
    body:
      string: '{"success":true,"id":"ULxwvYuRUcQ0-yYNsOSQhsLA","last_login_at":"2021-02-28T20:45:37.087767"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.104'
      x-amz-apigw-id:
      - beVuQH1XiYcFuMw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '93'
      x-amzn-Remapped-Date:
      - Sun, 28 Feb 2021 20:55:04 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - e69254a7-0965-41f7-bc11-c9cc47dd893d
      x-amzn-RequestId:
      - 86613193-2995-4e26-a386-bac2b64987cd
    status:
      code: 201
      message: Created
version: 1
