interactions:
- request:
    body: '{"names": "Jos\u00e9", "first_surname": "L\u00f3pez", "second_surname":
      "Hern\u00e1ndez", "date_of_birth": "1966-06-06", "state_of_birth": "DF", "country_of_birth":
      "MX", "gender": "male", "manual_curp": null}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/curp_validations
  response:
    body:
      string: "{\"id\":\"CVhY5Pi6yBQJO22p1lg-_EPw\",\"created_at\":\"2022-02-09T00:54:08.978972\",\"names\":\"Jos\xE9\",\"first_surname\":\"L\xF3pez\",\"second_surname\":\"Hern\xE1ndez\",\"date_of_birth\":\"1966-06-06\",\"country_of_birth\":\"MX\",\"state_of_birth\":\"DF\",\"gender\":\"male\",\"nationality\":null,\"manual_curp\":null,\"calculated_curp\":\"LOHJ660606HDFPRS02\",\"validated_curp\":\"LOHJ660606HDFPRS02\",\"renapo_curp_match\":true,\"renapo_full_match\":true}"
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 2.818'
      x-amz-apigw-id:
      - NP-LqGGqCYcF7KQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '388'
      x-amzn-Remapped-Date:
      - Wed, 09 Feb 2022 00:54:11 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.2
      x-amzn-RequestId:
      - 4c131a59-4fb0-4115-a8df-c632b52259e6
    status:
      code: 201
      message: Created
version: 1
