interactions:
- request:
    body: '{"number": "4122943499999999", "exp_month": 11, "exp_year": 24, "cvv2":
      "123", "issuer": "accendo", "funding_type": "debit"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULn-kqmnSCTHKNkZgLe5axxw
    method: POST
    uri: https://sandbox.cuenca.com/card_activations
  response:
    body:
      string: '{"id":"CAAzRctKLvUSViXvEBEQ_YaOg","created_at":"2021-03-17T22:51:58.576000","user_id":"US6D1wbTEdLuTjf227iF05js","ip_address":"200.56.74.39,
        10.5.52.181","card":null,"succeeded":false}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.711'
      x-amz-apigw-id:
      - cWoyMGiuCYcFZ1g=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '184'
      x-amzn-Remapped-Date:
      - Wed, 17 Mar 2021 22:51:58 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - c18df9ce-741c-4e81-80e0-d3f5bfc80dff
      x-amzn-RequestId:
      - f86f63db-d0ef-4470-88cb-d4f76c99d33f
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"number": "4122943499999999", "exp_month": 11, "exp_year": 24, "cvv2":
      "123", "issuer": "accendo", "funding_type": "debit"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULn-kqmnSCTHKNkZgLe5axxw
    method: POST
    uri: https://sandbox.cuenca.com/card_activations
  response:
    body:
      string: '{"code":107,"error":"Too many attempts"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - cWoy9HJ0iYcF4Rw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '40'
      x-amzn-Remapped-Date:
      - Wed, 17 Mar 2021 22:52:03 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 3808519d-03c9-4b9e-9c16-b91e0e8d1098
      x-amzn-RequestId:
      - fc538929-6130-422a-b9f6-2eb680e75fea
    status:
      code: 403
      message: Forbidden
version: 1
