interactions:
- request:
    body: '{"pin_block": "7AC814A636D901BE"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: PATCH
    uri: https://sandbox.cuenca.com/cards/CAycvo_X9TQoKOKsaAvdqn3w
  response:
    body:
      string: '{"id":"CAycvo_X9TQoKOKsaAvdqn3w","created_at":"2021-03-11T22:54:35.337000","updated_at":"2021-03-11T23:45:23.266000","user_id":"USfeauhf3873g85","number":"1234567890123403","exp_month":2,"exp_year":25,"cvv2":"150","type":"physical","status":"active","pin":"6725","issuer":"cuenca","funding_type":"debit","pin_block":"461F248CA285A5CB","batch":null,"manufacturer":null,"cvv":"685","icvv":"399","pin_block_switch":"7AC814A636D901BE","pin_block_embosser":"26641FB1CB03B667"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 7.757'
      x-amz-apigw-id:
      - dy9A0EDaCYcFWzw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '480'
      x-amzn-Remapped-Date:
      - Wed, 14 Apr 2021 23:05:36 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 85b2184b-d132-46d8-9fc3-2abb4167eb0f
      x-amzn-RequestId:
      - 07367a9e-1066-419a-8048-07dabe32595d
    status:
      code: 200
      message: OK
version: 1
