interactions:
- request:
    body: '{"number": "4122943499999999", "exp_month": 11, "exp_year": 24, "cvv2":
      "123"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULPahEA1lCRGuz3iHP7k3l7A
    method: POST
    uri: https://sandbox.cuenca.com/card_activations
  response:
    body:
      string: '{"id":"CAA0Qhh8HH2TSeXdD1sFXYmrw","created_at":"2021-03-24T18:53:33.852000","user_id":"US6D1wbTEdLuTjf227iF05js","ip_address":"200.56.74.39,
        10.5.79.172","card_uri":null,"succeeded":false}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 3.171'
      x-amz-apigw-id:
      - ctKasElgCYcFVFA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '188'
      x-amzn-Remapped-Date:
      - Wed, 24 Mar 2021 18:53:33 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 5625c470-31e1-447b-9a86-f0210c8a528a
      x-amzn-RequestId:
      - 9d1aed19-d53b-4265-b40a-19941cb7ac6a
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"number": "4122943499999999", "exp_month": 11, "exp_year": 24, "cvv2":
      "123"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULPahEA1lCRGuz3iHP7k3l7A
    method: POST
    uri: https://sandbox.cuenca.com/card_activations
  response:
    body:
      string: '{"code":107,"error":"Too many attempts"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - ctKbmGfJiYcFhqA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '40'
      x-amzn-Remapped-Date:
      - Wed, 24 Mar 2021 18:53:36 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - b5a22032-dbac-4ece-9adf-bb34ad3af066
      x-amzn-RequestId:
      - 8d482026-cce0-4c12-badd-40407bf337b5
    status:
      code: 403
      message: Forbidden
version: 1
