interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTWewyQrKfRP-374RwKNkFXA
    method: GET
    uri: https://sandbox.cuenca.com/transfers?count=1&status=succeeded
  response:
    body:
      string: '{"count":21}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.213'
      x-amz-apigw-id:
      - bn7CWHWhiYcFvFg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '12'
      x-amzn-Remapped-Date:
      - Wed, 03 Mar 2021 18:41:57 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 3a937bff-ea29-4b5c-9300-f201b608641a
      x-amzn-RequestId:
      - cff854d2-435f-4dd3-8631-f2f5441bb021
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTWewyQrKfRP-374RwKNkFXA
    method: GET
    uri: https://sandbox.cuenca.com/transfers?status=succeeded
  response:
    body:
      string: '{"items":[{"id":"LT4EOaa93rHWYKIzg2RGyOba","created_at":"2020-10-23T22:24:39.354000","updated_at":"2021-02-25T23:03:05.396000","account_number":"646180157046685645","recipient_name":"Alan
        Rodrigo Garrido Valencia","amount":16,"descriptor":"Te woa roabar","idempotency_key":"LT4EOaa93rHWYKIzg2RGyOba","status":"succeeded","network":"internal","destination_uri":"/accounts/LA1CVCZVNLR4KM42kPcqhBLV","tracking_key":"LT4EOaa93rHWYKIzg2RGyOba","user_id":"US4PCNV8rLB2wqBfORzIAXUl","reference_number":null},{"id":"LT1mBDdpF6ATsAepwqtTqHzz","created_at":"2020-10-15T22:06:31.024000","updated_at":"2021-02-25T23:02:58.874000","account_number":"646180157046685645","recipient_name":"Alan
        Rodrigo Garrido Valencia","amount":1200,"descriptor":"tqm","idempotency_key":"LT1mBDdpF6ATsAepwqtTqHzz","status":"succeeded","network":"internal","destination_uri":"/accounts/LA1CVCZVNLR4KM42kPcqhBLV","tracking_key":"LT1mBDdpF6ATsAepwqtTqHzz","user_id":"US4PCNV8rLB2wqBfORzIAXUl","reference_number":null},{"i[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTWewyQrKfRP-374RwKNkFXA
    method: GET
    uri: https://sandbox.cuenca.com/transfers?count=1
  response:
    body:
      string: '{"count":23}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.198'
      x-amz-apigw-id:
      - bn7CfH-NiYcFY-Q=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '12'
      x-amzn-Remapped-Date:
      - Wed, 03 Mar 2021 18:41:58 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 4620cd87-a293-4a6b-969f-c05fdb8c0b30
      x-amzn-RequestId:
      - c0655aa4-d399-428a-a834-e500da7975c4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTWewyQrKfRP-374RwKNkFXA
    method: GET
    uri: https://sandbox.cuenca.com/transfers
  response:
    body:
      string: '{"items":[{"id":"LT4EOaa93rHWYKIzg2RGyOba","created_at":"2020-10-23T22:24:39.354000","updated_at":"2021-02-25T23:03:05.396000","account_number":"646180157046685645","recipient_name":"Alan
        Rodrigo Garrido Valenc[...]
