interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTSb8853JJRGiPBvY4lZCMzQ
    method: GET
    uri: https://sandbox.cuenca.com/card_transactions/CT4jC3Dh65FNmb0lGBTnvr4I
  response:
    body:
      string: '{"id":"CT4jC3Dh65FNmb0lGBTnvr4I","created_at":"2020-10-29T16:52:39.044000","user_id":"US4PCNV8rLB2wqBfORzIAXUl","amount":300,"status":"created","descriptor":"Superama
        Michoacan","type":"refund","network":"visa","related_card_transaction_uris":["/card_transactions/CT17YWLDHWI59r6F0oG1ihvK"],"card_last4":"0359","card_type":"virtual","card_uri":"/cards/CAYNfqsQTFSnKz56n6Vw6rTw","metadata":{"authorizer_number":null,"card_acceptor":null,"commission":null,"currency_code":"484","is_cvv":null,"pos_capabilty":null,"prosa_transaction_id":"40352","retrieval_reference":"765187539","track_data_method":null,"transaction_reference":null},"error_type":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.230'
      x-amz-apigw-id:
      - bsGVNEfKiYcFXlQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '649'
      x-amzn-Remapped-Date:
      - Fri, 05 Mar 2021 01:06:41 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - de384365-d5c1-49eb-b615-05e3258eb5da
      x-amzn-RequestId:
      - 51a7afd5-97bb-4e49-a18d-a83d97c67860
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginToken:
      - LTSb8853JJRGiPBvY4lZCMzQ
    method: GET
    uri: https://sandbox.cuenca.com/card_transactions/CT17YWLDHWI59r6F0oG1ihvK
  response:
    body:
      string: '{"id":"CT17YWLDHWI59r6F0oG1ihvK","created_at":"2020-10-29T16:39:51.279000","user_id":"US4PCNV8rLB2wqBfORzIAXUl","amount":300,"status":"created","descriptor":"Superama
        Michoacan"[...]
