interactions:
- request:
    body: '{"number": "1234567890123403", "arqc": "DB3C77D5469C53C6", "arpc_method":
      "1", "transaction_data": "somerandomtransactiondata",
      "response_code": "0010", "transaction_counter": "001D", "pan_sequence": "01",
      "unique_number": "42D6A016", "track_data_method": "terminal"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/arpc
  response:
    body:
      string: '{"id":"ARfuiaeihfusbcibec","created_at":"2021-04-14T20:27:45.485000","card_uri":"/cards/CAoawhiursbcbeac","is_valid_arqc":true,"arpc":"16404ADAFB227B4D","err":null}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 1.001'
      x-amz-apigw-id:
      - dyl6HE7DiYcFdVg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '178'
      x-amzn-Remapped-Date:
      - Wed, 14 Apr 2021 20:27:45 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - fc51600d-4747-4443-89f1-a3c4040831b1
      x-amzn-RequestId:
      - 342cac75-f28e-486d-9c8d-51923caf0624
    status:
      code: 201
      message: Created
version: 1
