interactions:
- request:
    body: '{"password": "222222"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/log_in
  response:
    body:
      string: '{"success":true,"id":"ULwcvEJv2lTm-a0G1fJBfmqg","last_login_at":"2021-03-01T04:04:40.704079"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.485'
      x-amz-apigw-id:
      - bhCuiH5bCYcFbtw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '93'
      x-amzn-Remapped-Date:
      - Mon, 01 Mar 2021 16:36:07 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 84fdeff1-3e68-4ef0-a764-1d0dd3566391
      x-amzn-RequestId:
      - 949ba84d-00c8-4069-990f-92945365feb6
    status:
      code: 201
      message: Created
- request:
    body: '{"password": "222222"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULwcvEJv2lTm-a0G1fJBfmqg
    method: DELETE
    uri: https://sandbox.cuenca.com/passwords/me
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.111'
      x-amz-apigw-id:
      - bhCuoHUaCYcFr2A=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Mon, 01 Mar 2021 16:36:07 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 39ca6fef-c25d-471d-bb7e-8e1a34b55d6b
      x-amzn-RequestId:
      - c3756e31-7dc4-4e81-820e-56d937b8918a
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULwcvEJv2lTm-a0G1fJBfmqg
    method: GET
    uri: https://sandbox.cuenca.com/transfers?count=1
  response:
    body:
      string: '{"error":"104: Password not set"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - bhCuqG1-CYcFbLA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '33'
      x-amzn-Remapped-Date:
      - Mon, 01 Mar 2021 16:36:07 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - b3fcb84b-68e9-4ec2-8850-7441565e1d67
      x-amzn-RequestId:
      - 05d994e5-b0c7-4fd4-8352-1436fc60a25d
    status:
      code: 401
      message: Unauthorized
version: 1
