interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://stage.cuenca.com/token
  response:
    body:
      string: '{"id":1,"token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2MDM4NDM2NTUsImlhdCI6MTYwMzIzODg1NSwic3ViIjoiQUtib3hCeXNTd1NTbVR0VmtoT1I2X21RIn0.VAT9w746K0hfOKnvZCFxwBDKjV71j-ItaFdZrIc0xCM","created_at":"2020-10-21T00:07:35.290968+00:00","api_key_id":"AKboxBysSwSSmTtVkhOR6_mQ"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - UvBHAHOGCYcFZTw=
      x-amzn-RequestId:
      - 856c8bef-f148-48e4-a27b-391749b6b9f6
    status:
      code: 201
      message: Created
version: 1
