interactions:
- request:
    body: '{"password": "111111"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/user_logins
  response:
    body:
      string: '{"success":true,"id":"ULRAiBH26SSVuQeIN-VnTxXw","last_login_at":"2021-03-02T00:23:29.402501"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.085'
      x-amz-apigw-id:
      - biHkfHtMCYcFo2g=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '93'
      x-amzn-Remapped-Date:
      - Tue, 02 Mar 2021 00:26:04 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 3fd1785b-f075-44b0-a374-19f6ea20d675
      x-amzn-RequestId:
      - c51ad928-7225-4915-a5e3-13b60c222b79
    status:
      code: 201
      message: Created
- request:
    body: '{"password": "111111"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULRAiBH26SSVuQeIN-VnTxXw
    method: DELETE
    uri: https://sandbox.cuenca.com/passwords/me
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.089'
      x-amz-apigw-id:
      - biHkhGMViYcF6jw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '2'
      x-amzn-Remapped-Date:
      - Tue, 02 Mar 2021 00:26:04 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - be499941-4ecf-47fe-bd07-9835955ec7c8
      x-amzn-RequestId:
      - 796d5559-fc60-4d9f-b217-ffde3eb93796
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULRAiBH26SSVuQeIN-VnTxXw
    method: GET
    uri: https://sandbox.cuenca.com/transfers?count=1
  response:
    body:
      string: '{"code":104,"error":"Password not set"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - biHkjFNoCYcFrwg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '39'
      x-amzn-Remapped-Date:
      - Tue, 02 Mar 2021 00:26:07 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 4ac839fa-1312-4b51-9d4b-b1b5711ba00c
      x-amzn-RequestId:
      - 9a74bdf0-351e-4412-9868-ae2116541cc3
    status:
      code: 401
      message: Unauthorized
version: 1
