interactions:
- request:
    body: '{}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://api.cuenca.com/token
  response:
    body:
      string: '{"id":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2MzQ3NzMwNzEsImlhdCI6MTYzNDc3MzAxMSwic3ViIjoiQUtRRXJUbXdlZFFxQ0xwQ2plWkc4c0pRIiwidWlkIjoiOTljZDMyYTItMzFmZS0xMWVjLTgyMGEtMDI0MmFjMTEwMDAyIn0.EjDd6PpYWLCsuYhd98CdBCj6fThrVWX_X4uNW_tKVpg","token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2MzQ3NzMwNzEsImlhdCI6MTYzNDc3MzAxMSwic3ViIjoiQUtRRXJUbXdlZFFxQ0xwQ2plWkc4c0pRIiwidWlkIjoiOTljZDMyYTItMzFmZS0xMWVjLTgyMGEtMDI0MmFjMTEwMDAyIn0.EjDd6PpYWLCsuYhd98CdBCj6fThrVWX_X4uNW_tKVpg","created_at":"2021-10-20T23:36:51.346137","api_key_uri":"/api_key/AKQErTmwedQqCLpCjeZG8sJQ"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-Token:
      - DUMMY
    method: GET
    uri: https://api.cuenca.com/api_keys
  response:
    body:
      string: '{"items":[{"id":"AKSIiEK7vWQRiea1VAJZpQRA","created_at":"2021-04-06T00:42:59.852000","secret":"********","deactivated_at":"2212-12-01T00:28:40.075000","user_id":"USaNW8apNBSc-FiOWMX9NEKg","updated_at":"2021-04-06T00:28:40.075000"},{"id":"AKBCEuSw11RSmwhwL_I1UrHg","created_at":"2021-04-06T00:36:25.322000","secret":"********","deactivated_at":"2212-12-01T00:28:40.075000","user_id":"USaNW8apNBSc-FiOWMX9NEKg","updated_at":"2021-04-06T00:28:40.075000"},{"id":"AKQErTmwedQqCLpCjeZG8sJQ","created_at":"2021-02-21T05:24:08.060000","secret":"********","deactivated_at":"2212-10-18T05:21:09.897000","user_id":"USaNW8apNBSc-FiOWMX9NEKg","updated_at":"2021-02-25T23:12:05.812000"}],"next_page_uri":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
