interactions:
- request:
    body: '{"password": "111111"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
    method: POST
    uri: https://sandbox.cuenca.com/user_logins
  response:
    body:
      string: '{"success":true,"id":"ULev1mLmNST6ie3wcket7c-w","last_login_at":"2021-03-04T03:22:08.038441"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.333'
      x-amz-apigw-id:
      - bpJZgFk8CYcFxEg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '93'
      x-amzn-Remapped-Date:
      - Thu, 04 Mar 2021 03:36:54 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - ca81bcb3-1e92-493c-8a33-7b43f94f6a8d
      x-amzn-RequestId:
      - d79eb7a6-83ae-400a-a620-b4ec37f8a4a3
    status:
      code: 201
      message: Created
- request:
    body: '{"is_active": null, "password": null}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULev1mLmNST6ie3wcket7c-w
    method: PATCH
    uri: https://sandbox.cuenca.com/user_credentials/me
  response:
    body:
      string: '{"id":"US46cuHpEJ5xFTOceMKVqSzF","created_at":"2020-12-22T01:06:07.179062","is_active":true,"updated_at":"2021-03-04T03:36:54.665967"}'
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - 'value: 0.097'
      x-amz-apigw-id:
      - bpJZkGvPiYcFXNw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '134'
      x-amzn-Remapped-Date:
      - Thu, 04 Mar 2021 03:36:54 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - 5bfe1981-a8f1-4f1e-8101-651e8fb0a02d
      x-amzn-RequestId:
      - 62b126f1-1085-4c61-ac36-5c178a8a1e18
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      X-Cuenca-Api-Version:
      - '2020-03-19'
      X-Cuenca-LoginId:
      - ULev1mLmNST6ie3wcket7c-w
    method: GET
    uri: https://sandbox.cuenca.com/transfers?count=1
  response:
    body:
      string: '{"code":104,"error":"Password not set"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - bpJZmGyOiYcFdxA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '39'
      x-amzn-Remapped-Date:
      - Thu, 04 Mar 2021 03:36:57 GMT
      x-amzn-Remapped-Server:
      - nginx/1.18.0
      x-amzn-Remapped-x-amzn-RequestId:
      - fa2bb0a2-0728-4b46-8b6d-b0e5e16f5437
      x-amzn-RequestId:
      - aa9d5b9c-5851-4fc3-ae97-705771c48794
    status:
      code: 401
      message: Unauthorized
version: 1
